/* Background Repeat */

.br-repeat      { background-repeat: repeat; }
.br-repeatX     { background-repeat: repeat-x; }
.br-repeatY     { background-repeat: repeat-y; }
.br-noRepeat    { background-repeat: no-repeat; }
.br-space    { background-repeat: space; }
.br-round    { background-repeat: round; }

@media (--breakpoint-s) {
    .bps-br-repeat      { background-repeat: repeat; }
    .bps-br-repeatX     { background-repeat: repeat-x; }
    .bps-br-repeatY     { background-repeat: repeat-y; }
    .bps-br-noRepeat    { background-repeat: no-repeat; }
    .bps-br-space    { background-repeat: space; }
    .bps-br-round    { background-repeat: round; }
}

@media (--breakpoint-m) {
    .bpm-br-repeat      { background-repeat: repeat; }
    .bpm-br-repeatX     { background-repeat: repeat-x; }
    .bpm-br-repeatY     { background-repeat: repeat-y; }
    .bpm-br-noRepeat    { background-repeat: no-repeat; }
    .bpm-br-space    { background-repeat: space; }
    .bpm-br-round    { background-repeat: round; }
}

@media (--breakpoint-l) {
    .bpl-br-repeat      { background-repeat: repeat; }
    .bpl-br-repeatX     { background-repeat: repeat-x; }
    .bpl-br-repeatY     { background-repeat: repeat-y; }
    .bpl-br-noRepeat    { background-repeat: no-repeat; }
    .bpl-br-space    { background-repeat: space; }
    .bpl-br-round    { background-repeat: round; }
}

@media (--breakpoint-xl) {
    .bpxl-br-repeat     { background-repeat: repeat; }
    .bpxl-br-repeatX    { background-repeat: repeat-x; }
    .bpxl-br-repeatY    { background-repeat: repeat-y; }
    .bpxl-br-noRepeat   { background-repeat: no-repeat; }
    .bpxl-br-space    { background-repeat: space; }
    .bpxl-br-round    { background-repeat: round; }
}
