/* Float */

.float-none   { float: none; }
.float-left   { float: left; }
.float-right  { float: right; }

@media (--breakpoint-s) {
  .bps-float-none   { float: none; }
  .bps-float-left   { float: left; }
  .bps-float-right  { float: right; }
}

@media (--breakpoint-m) {
  .bpm-float-none   { float: none; }
  .bpm-float-left   { float: left; }
  .bpm-float-right  { float: right; }
}

@media (--breakpoint-l) {
  .bpl-float-none   { float: none; }
  .bpl-float-left   { float: left; }
  .bpl-float-right  { float: right; }
}

@media (--breakpoint-xl) {
  .bpxl-float-none   { float: none; }
  .bpxl-float-left   { float: left; }
  .bpxl-float-right  { float: right; }
}
