/* List Style */

.lst-disc               { list-style-type: disc; }
.lst-armenian           { list-style-type: armenian; }
.lst-circle             { list-style-type: circle; }
.lst-ideographic        { list-style-type: cjk-ideographic; }
.lst-decimal            { list-style-type: decimal; }
.lst-decimalLeadingZero { list-style-type: decimal-leading-zero; }
.lst-georgian           { list-style-type: georgian; }
.lst-hebrew             { list-style-type: hebrew; }
.lst-hiragana           { list-style-type: hiragana; }
.lst-hiraganaIroha      { list-style-type: hiragana-iroha; }
.lst-katakana           { list-style-type: katakana; }
.lst-katakanaIroha      { list-style-type: katakana-iroha; }
.lst-lowerAlpha         { list-style-type: lower-alpha; }
.lst-lowerGreek         { list-style-type: lower-greek; }
.lst-lowerLatin         { list-style-type: lower-latin; }
.lst-lowerRoman         { list-style-type: lower-roman; }
.lst-none               { list-style-type: none; }
.lst-square             { list-style-type: square; }
.lst-upperAlpha         { list-style-type: upper-alpha; }
.lst-upperLatin         { list-style-type: upper-latin; }
.lst-upperRoman         { list-style-type: upper-roman; }
.lst-lowerRoman         { list-style-type: lower-roman; }
.lst-lowerRoman         { list-style-type: lower-roman; }

@media (--breakpoint-s) {
    .bps-lst-disc               { list-style-type: disc; }
    .bps-lst-armenian           { list-style-type: armenian; }
    .bps-lst-circle             { list-style-type: circle; }
    .bps-lst-ideographic        { list-style-type: cjk-ideographic; }
    .bps-lst-decimal            { list-style-type: decimal; }
    .bps-lst-decimalLeadingZero { list-style-type: decimal-leading-zero; }
    .bps-lst-georgian           { list-style-type: georgian; }
    .bps-lst-hebrew             { list-style-type: hebrew; }
    .bps-lst-hiragana           { list-style-type: hiragana; }
    .bps-lst-hiraganaIroha      { list-style-type: hiragana-iroha; }
    .bps-lst-katakana           { list-style-type: katakana; }
    .bps-lst-katakanaIroha      { list-style-type: katakana-iroha; }
    .bps-lst-lowerAlpha         { list-style-type: lower-alpha; }
    .bps-lst-lowerGreek         { list-style-type: lower-greek; }
    .bps-lst-lowerLatin         { list-style-type: lower-latin; }
    .bps-lst-lowerRoman         { list-style-type: lower-roman; }
    .bps-lst-none               { list-style-type: none; }
    .bps-lst-square             { list-style-type: square; }
    .bps-lst-upperAlpha         { list-style-type: upper-alpha; }
    .bps-lst-upperLatin         { list-style-type: upper-latin; }
    .bps-lst-upperRoman         { list-style-type: upper-roman; }
    .bps-lst-lowerRoman         { list-style-type: lower-roman; }
    .bps-lst-lowerRoman         { list-style-type: lower-roman; }
}

@media (--breakpoint-m) {
    .bpm-lst-disc               { list-style-type: disc; }
    .bpm-lst-armenian           { list-style-type: armenian; }
    .bpm-lst-circle             { list-style-type: circle; }
    .bpm-lst-ideographic        { list-style-type: cjk-ideographic; }
    .bpm-lst-decimal            { list-style-type: decimal; }
    .bpm-lst-decimalLeadingZero { list-style-type: decimal-leading-zero; }
    .bpm-lst-georgian           { list-style-type: georgian; }
    .bpm-lst-hebrew             { list-style-type: hebrew; }
    .bpm-lst-hiragana           { list-style-type: hiragana; }
    .bpm-lst-hiraganaIroha      { list-style-type: hiragana-iroha; }
    .bpm-lst-katakana           { list-style-type: katakana; }
    .bpm-lst-katakanaIroha      { list-style-type: katakana-iroha; }
    .bpm-lst-lowerAlpha         { list-style-type: lower-alpha; }
    .bpm-lst-lowerGreek         { list-style-type: lower-greek; }
    .bpm-lst-lowerLatin         { list-style-type: lower-latin; }
    .bpm-lst-lowerRoman         { list-style-type: lower-roman; }
    .bpm-lst-none               { list-style-type: none; }
    .bpm-lst-square             { list-style-type: square; }
    .bpm-lst-upperAlpha         { list-style-type: upper-alpha; }
    .bpm-lst-upperLatin         { list-style-type: upper-latin; }
    .bpm-lst-upperRoman         { list-style-type: upper-roman; }
    .bpm-lst-lowerRoman         { list-style-type: lower-roman; }
    .bpm-lst-lowerRoman         { list-style-type: lower-roman; }
}

@media (--breakpoint-l) {
    .bpl-lst-disc               { list-style-type: disc; }
    .bpl-lst-armenian           { list-style-type: armenian; }
    .bpl-lst-circle             { list-style-type: circle; }
    .bpl-lst-ideographic        { list-style-type: cjk-ideographic; }
    .bpl-lst-decimal            { list-style-type: decimal; }
    .bpl-lst-decimalLeadingZero { list-style-type: decimal-leading-zero; }
    .bpl-lst-georgian           { list-style-type: georgian; }
    .bpl-lst-hebrew             { list-style-type: hebrew; }
    .bpl-lst-hiragana           { list-style-type: hiragana; }
    .bpl-lst-hiraganaIroha      { list-style-type: hiragana-iroha; }
    .bpl-lst-katakana           { list-style-type: katakana; }
    .bpl-lst-katakanaIroha      { list-style-type: katakana-iroha; }
    .bpl-lst-lowerAlpha         { list-style-type: lower-alpha; }
    .bpl-lst-lowerGreek         { list-style-type: lower-greek; }
    .bpl-lst-lowerLatin         { list-style-type: lower-latin; }
    .bpl-lst-lowerRoman         { list-style-type: lower-roman; }
    .bpl-lst-none               { list-style-type: none; }
    .bpl-lst-square             { list-style-type: square; }
    .bpl-lst-upperAlpha         { list-style-type: upper-alpha; }
    .bpl-lst-upperLatin         { list-style-type: upper-latin; }
    .bpl-lst-upperRoman         { list-style-type: upper-roman; }
    .bpl-lst-lowerRoman         { list-style-type: lower-roman; }
    .bpl-lst-lowerRoman         { list-style-type: lower-roman; }
}

@media (--breakpoint-xl) {
    .bpxl-lst-disc               { list-style-type: disc; }
    .bpxl-lst-armenian           { list-style-type: armenian; }
    .bpxl-lst-circle             { list-style-type: circle; }
    .bpxl-lst-ideographic        { list-style-type: cjk-ideographic; }
    .bpxl-lst-decimal            { list-style-type: decimal; }
    .bpxl-lst-decimalLeadingZero { list-style-type: decimal-leading-zero; }
    .bpxl-lst-georgian           { list-style-type: georgian; }
    .bpxl-lst-hebrew             { list-style-type: hebrew; }
    .bpxl-lst-hiragana           { list-style-type: hiragana; }
    .bpxl-lst-hiraganaIroha      { list-style-type: hiragana-iroha; }
    .bpxl-lst-katakana           { list-style-type: katakana; }
    .bpxl-lst-katakanaIroha      { list-style-type: katakana-iroha; }
    .bpxl-lst-lowerAlpha         { list-style-type: lower-alpha; }
    .bpxl-lst-lowerGreek         { list-style-type: lower-greek; }
    .bpxl-lst-lowerLatin         { list-style-type: lower-latin; }
    .bpxl-lst-lowerRoman         { list-style-type: lower-roman; }
    .bpxl-lst-none               { list-style-type: none; }
    .bpxl-lst-square             { list-style-type: square; }
    .bpxl-lst-upperAlpha         { list-style-type: upper-alpha; }
    .bpxl-lst-upperLatin         { list-style-type: upper-latin; }
    .bpxl-lst-upperRoman         { list-style-type: upper-roman; }
    .bpxl-lst-lowerRoman         { list-style-type: lower-roman; }
    .bpxl-lst-lowerRoman         { list-style-type: lower-roman; }
}
