/* Pointer events */

.pe-auto            { pointer-events: auto; }
.pe-none            { pointer-events: none; }
.pe-visiblePainted  { pointer-events: visiblePainted; }
.pe-visibleFill     { pointer-events: visibleFill; }
.pe-visibleStroke   { pointer-events: visibleStroke; }
.pe-visible         { pointer-events: visible; }
.pe-painted         { pointer-events: painted; }
.pe-fill            { pointer-events: fill; }
.pe-stroke          { pointer-events: stroke; }
.pe-all             { pointer-events: all; }

@media (--breakpoint-s) {
  .bps-pe-auto            { pointer-events: auto; }
  .bps-pe-none            { pointer-events: none; }
  .bps-pe-visiblePainted  { pointer-events: visiblePainted; }
  .bps-pe-visibleFill     { pointer-events: visibleFill; }
  .bps-pe-visibleStroke   { pointer-events: visibleStroke; }
  .bps-pe-visible         { pointer-events: visible; }
  .bps-pe-painted         { pointer-events: painted; }
  .bps-pe-fill            { pointer-events: fill; }
  .bps-pe-stroke          { pointer-events: stroke; }
  .bps-pe-all             { pointer-events: all; }
}

@media (--breakpoint-m) {
    .bpm-pe-auto            { pointer-events: auto; }
    .bpm-pe-none            { pointer-events: none; }
    .bpm-pe-visiblePainted  { pointer-events: visiblePainted; }
    .bpm-pe-visibleFill     { pointer-events: visibleFill; }
    .bpm-pe-visibleStroke   { pointer-events: visibleStroke; }
    .bpm-pe-visible         { pointer-events: visible; }
    .bpm-pe-painted         { pointer-events: painted; }
    .bpm-pe-fill            { pointer-events: fill; }
    .bpm-pe-stroke          { pointer-events: stroke; }
    .bpm-pe-all             { pointer-events: all; }
}

@media (--breakpoint-l) {
    .bpl-pe-auto            { pointer-events: auto; }
    .bpl-pe-none            { pointer-events: none; }
    .bpl-pe-visiblePainted  { pointer-events: visiblePainted; }
    .bpl-pe-visibleFill     { pointer-events: visibleFill; }
    .bpl-pe-visibleStroke   { pointer-events: visibleStroke; }
    .bpl-pe-visible         { pointer-events: visible; }
    .bpl-pe-painted         { pointer-events: painted; }
    .bpl-pe-fill            { pointer-events: fill; }
    .bpl-pe-stroke          { pointer-events: stroke; }
    .bpl-pe-all             { pointer-events: all; }
}

@media (--breakpoint-xl) {
    .bpxl-pe-auto            { pointer-events: auto; }
    .bpxl-pe-none            { pointer-events: none; }
    .bpxl-pe-visiblePainted  { pointer-events: visiblePainted; }
    .bpxl-pe-visibleFill     { pointer-events: visibleFill; }
    .bpxl-pe-visibleStroke   { pointer-events: visibleStroke; }
    .bpxl-pe-visible         { pointer-events: visible; }
    .bpxl-pe-painted         { pointer-events: painted; }
    .bpxl-pe-fill            { pointer-events: fill; }
    .bpxl-pe-stroke          { pointer-events: stroke; }
    .bpxl-pe-all             { pointer-events: all; }
}
