/* User Select */

.us-none        { user-select: none; }
.us-auto        { user-select: auto; }
.us-text        { user-select: text; }
.us-contain     { user-select: contain; }
.us-all         { user-select: all; }

@media (--breakpoint-s) {
    .bps-us-none        { user-select: none; }
    .bps-us-auto        { user-select: auto; }
    .bps-us-text        { user-select: text; }
    .bps-us-contain     { user-select: contain; }
    .bps-us-all         { user-select: all; }
}

@media (--breakpoint-m) {
    .bpm-us-none        { user-select: none; }
    .bpm-us-auto        { user-select: auto; }
    .bpm-us-text        { user-select: text; }
    .bpm-us-contain     { user-select: contain; }
    .bpm-us-all         { user-select: all; }
}

@media (--breakpoint-l) {
    .bpl-us-none        { user-select: none; }
    .bpl-us-auto        { user-select: auto; }
    .bpl-us-text        { user-select: text; }
    .bpl-us-contain     { user-select: contain; }
    .bpl-us-all         { user-select: all; }
}

@media (--breakpoint-xl) {
    .bpxl-us-none        { user-select: none; }
    .bpxl-us-auto        { user-select: auto; }
    .bpxl-us-text        { user-select: text; }
    .bpxl-us-contain     { user-select: contain; }
    .bpxl-us-all         { user-select: all; }
}
