/* Word Wrap */

.ww-normal      { word-wrap: normal; }
.ww-breakWord   { word-wrap: break-word; }

@media (--breakpoint-s) {
    .bps-ww-normal      { word-wrap: normal; }
    .bps-ww-breakWord   { word-wrap: break-word; }
}

@media (--breakpoint-m) {
    .bpm-ww-normal      { word-wrap: normal; }
    .bpm-ww-breakWord   { word-wrap: break-word; }
}

@media (--breakpoint-l) {
    .bpl-ww-normal      { word-wrap: normal; }
    .bpl-ww-breakWord   { word-wrap: break-word; }
}

@media (--breakpoint-xl) {
    .bpxl-ww-normal      { word-wrap: normal; }
    .bpxl-ww-breakWord   { word-wrap: break-word; }
}
