/* Box Shadow */

:root {
  --shadow-100: 0 1px 3px rgba(32, 52, 61, .025), 0 2px 4px rgba(0, 0, 0, .025);
  --shadow-200: 0 4px 8px rgba(0,0,0,.025), 0 2px 4px rgba(32,52,61,.025);
  --shadow-300: 0 7px 14px rgba(32,52,61,.05), 0 3px 6px rgba(0,0,0,.05);
  --shadow-400: 0 1px 3px rgba(0,0,0,.05), 0 4px 6px rgba(32,52,61,.05);
}
