/* Box Shadow */

:root {

    --shadow-100: 0 2px 4px rgba(32, 52, 61, 0.03), 0 1px 2px rgba(0, 0, 0, .06);
    --shadow-200: 0 4px 8px rgba(0,0,0,.05), 0 2px 4px rgba(32,52,61,.05);
    --shadow-300: 0 7px 14px rgba(32,52,61,.05), 0 3px 6px rgba(0,0,0,.05);
    --shadow-400: 0 1px 3px rgba(0,0,0,.05), 0 4px 6px rgba(32,52,61,.05);
}
