/* Leading  */

:root {

    --leading-1: 1.2rem;
    --leading-2: 1.6rem;
    --leading-3: 2rem;
    --leading-4: 2.4rem;
    --leading-5: 2.8rem;
    --leading-6: 3.2rem;
    --leading-7: 3.6rem;
    --leading-8: 4.4rem;
    --leading-9: 6.8rem;

}
