/* Leading  */

:root {

    --leading-100: 1.2rem;
    --leading-200: 1.6rem;
    --leading-300: 2rem;
    --leading-400: 2.4rem;
    --leading-500: 2.8rem;
    --leading-600: 3.2rem;
    --leading-700: 3.6rem;
    --leading-800: 4.4rem;
    --leading-900: 4.8rem;

}
