/* Spacing  */

:root {

    --spacing-100: .8rem;
    --spacing-200: 1.6rem;
    --spacing-300: 2.4rem;
    --spacing-400: 3.2rem;
    --spacing-500: 4rem;
    --spacing-600: 4.8rem;
    --spacing-700: 6.4rem;
    --spacing-800: 8rem;
    --spacing-900: 9.6rem;

}
