/* Transition durations  */

:root {

    --transitionDuration-100: 50ms;
    --transitionDuration-200: 100ms;
    --transitionDuration-300: 200ms;
    --transitionDuration-400: 400ms;
    --transitionDuration-500: 1000ms;

}
