/* Font sizes  */

:root {

    --fontSize-100: .8rem;
    --fontSize-200: 1.2rem;
    --fontSize-300: 1.4rem;
    --fontSize-400: 1.6rem;
    --fontSize-500: 1.8rem;
    --fontSize-600: 2rem;
    --fontSize-700: 2.2rem;
    --fontSize-800: 2.6rem;
    --fontSize-900: 3.2rem;
    --fontSize-10: 4rem;
    --fontSize-11: 4.4rem;
    --fontSize-12: 7.2rem;

}
