.AppBar {
  position: absolute;
  /* padding-top: var(--spacing-100);
  padding-bottom: var(--spacing-100); */
  min-height: var(--spacing-600);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 700;
}

.AppBar.fixed {
  position: fixed;
}
