/* Base component */

.Avatar {
    align-items: center;
    background-color: var(--blue500);
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.05);
    border-radius: 50%;
    color: var(--white);
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    overflow: hidden;
    width: var(--spacing-400);
    height: var(--spacing-400);
    cursor: default;
}

/* Sizes */

.Avatar.size1 {
    width: var(--spacing-200);
    height: var(--spacing-200);
    font-size: 8px;
}

.Avatar.size2 {
    width: var(--spacing-300);
    height: var(--spacing-300);
    font-size: 12px;
}

.Avatar.size4 {
    width: var(--spacing-600);
    height: var(--spacing-600);
    font-size: 22px;
    font-weight: 400;
}

.Avatar.size5 {
    width: var(--spacing-700);
    height: var(--spacing-700);
    font-size: 32px;
    font-weight: 400;
}

.Avatar.size6 {
    width: var(--spacing-900);
    height: var(--spacing-900);
    font-size: 50px;
    font-weight: 400;
}

/* Avatar group */

.AvatarGroup {
    display: flex;
}

.AvatarGroup > .Avatar {
    margin-left: -4px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.05), 0 0 0 2px white;
}

/* Nested avatar */

.Avatar.nested,
.StatusIndicator.nested {
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.05), 0 0 0 1px white;
}
