/* Functional styles */

.Button {
    align-items: center;
    appearance: none;
    border: none;
    border-radius: var(--borderRadius-200);
    cursor: pointer;
    display: inline-flex;
    font-size: var(--fontSize-200);
    font-weight: 600;
    height: var(--spacing-400);
    justify-content: center;
    line-height: 1;
    letter-spacing: .6px;
    min-width: var(--spacing-400);
    outline: none;
    padding-left: var(--spacing-200);
    padding-right: var(--spacing-200);
    pointer-events: auto;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition-property: all;
    transition-duration: var(--transitionDuration-200);
    transition-timing-function: ease;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

/*.Button:hover {
    transform: translateY(-1px);
}

.Button:active {
    transform: translateY(0px);
}*/

/* Sizes */

.Button.size1 {
    height: var(--spacing-300);
    min-width: var(--spacing-300);
    padding-left: var(--spacing-100);
    padding-right: var(--spacing-100);
}

/* Neutral button */

.Button {
    background-color: var(--gray100);
    box-shadow: var(--shadow-100), inset 0 0 0 1px var(--gray400);
    color: var(--gray900);
    fill: var(--gray900);
    stroke: var(--gray900);
}
.Button:hover {
    box-shadow: var(--shadow-200), inset 0 0 0 1px var(--gray500);
}
.Button:active {
    box-shadow: inset 0 0 0 1px var(--gray500);
}

/* Primary button */

.Button.primary {
    background-color: var(--blue100);
    color: var(--blue700);
    fill: var(--blue700);
    stroke: var(--blue700);
    box-shadow: var(--shadow-100), inset 0 0 0 1px var(--blue400);
}
.Button.primary:hover {
    box-shadow: var(--shadow-200), inset 0 0 0 1px var(--blue500);
}
.Button.primary:active {
    box-shadow: inset 0 0 0 1px var(--blue500);
}

/* Positive button */

.Button.positive {
    background-color: var(--green100);
    color: var(--green700);
    fill: var(--green700);
    stroke: var(--green700);
    box-shadow: var(--shadow-100), inset 0 0 0 1px var(--green400);
}
.Button.positive:hover {
    box-shadow: var(--shadow-200), inset 0 0 0 1px var(--green500);
}
.Button.positive:active {
    box-shadow: inset 0 0 0 1px var(--green500);
}

/* Negative button */

.Button.negative {
    background-color: var(--gray100);
    color: var(--red700);
    fill: var(--red700);
    stroke: var(--red700);
    box-shadow: var(--shadow-100), inset 0 0 0 1px var(--gray400);
}
.Button.negative:hover {
    box-shadow: var(--shadow-200), inset 0 0 0 1px var(--gray500);
}
.Button.negative:active {
    box-shadow: inset 0 0 0 1px var(--gray500);
}

/* Hollow button */

.Button.hollow {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    color: inherit;
    fill: inherit;
    stroke: inherit;
    height: unset;
    min-width: unset;
}
.Button.hollow:hover {
    transform: translateY(0px);
}
.Button.hollow:active {
    transform: translateY(0px);
}

/* Active state */

.Button.is-active {
    background-color: var(--gray300);
    color: var(--gray500);
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.1), inset 0 0 0 1px var(--gray400);
}
.Button.is-active:hover {
    transform: translateY(0px);
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.1), inset 0 0 0 1px var(--gray500);
}
.Button.is-active:active {
    transform: translateY(0px);
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.1), inset 0 0 0 1px var(--gray500);
}

/* Disabled state */

.Button.is-disabled {
    background-color: var(--gray200);
    color: var(--gray400);
    box-shadow: inset 0 0 0 1px var(--gray300);
    pointer-events: none;
}

/* Button group */

.Button.left {
    border-radius: var(--borderRadius-200) 0 0 var(--borderRadius-200);
    z-index: 2;
}

.Button.middle {
    border-radius: 0;
    margin-left: -1px;
    z-index: 1;
}

.Button.right {
    border-radius: 0 var(--borderRadius-200) var(--borderRadius-200) 0;
    margin-left: -1px;
    z-index: 0;
}

.Button.left:hover,
.Button.middle:hover,
.Button.right:hover {
    z-index: 3;
}
