.Code {
    font-family: 'Operator SSm A', 'Operator SSm B';
    padding: 4px;
    font-size: 14px;
    letter-spacing: 0;
    color: var(--blue500);
    border-radius: var(--borderRadius-200);
    background-color: var(--gray100);
    box-shadow: inset 0 0 0 1px var(--gray300);
    white-space: nowrap;
}
