.Container {
    max-width: 100%;
    margin-left: var(--spacing-300);
    margin-right: var(--spacing-300);
}

.Container.size1 {
    max-width: 100%;
    margin-left: var(--spacing-300);
    margin-right: var(--spacing-300);
}

.Container.size2 {
    width: 91.6666666666vw;
    margin-left: auto;
    margin-right: auto;
}

.Container.size3 {
    width: 83.3333333333vw;
    margin-left: auto;
    margin-right: auto;
}

.Container.size4 {
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

.Container.size5 {
    width: 58.3333333333vw;
    margin-left: auto;
    margin-right: auto;
}

.Container.size6 {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.Container.size7 {
    width: 41.6666666666vw;
    margin-left: auto;
    margin-right: auto;
}

.Container.size8 {
    width: 41.6666666666vw;
    margin-left: auto;
    margin-right: auto;
}

.Container.size9 {
    width: 33.3333333333vw;
    margin-left: auto;
    margin-right: auto;
}

@media (--breakpoint-1) {
    .bp1-Container.size1 {
        max-width: 100%;
        margin-left: var(--spacing-300);
        margin-right: var(--spacing-300);
    }

    .bp1-Container.size2 {
        width: 91.6666666666vw;
        margin-left: auto;
        margin-right: auto;
    }

    .bp1-Container.size3 {
        width: 83.3333333333vw;
        margin-left: auto;
        margin-right: auto;
    }

    .bp1-Container.size4 {
        width: 75vw;
        margin-left: auto;
        margin-right: auto;
    }

    .bp1-Container.size5 {
        width: 58.3333333333vw;
        margin-left: auto;
        margin-right: auto;
    }

    .bp1-Container.size6 {
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
    }

    .bp1-Container.size7 {
        width: 41.6666666666vw;
        margin-left: auto;
        margin-right: auto;
    }

    .bp1-Container.size8 {
        width: 41.6666666666vw;
        margin-left: auto;
        margin-right: auto;
    }

    .bp1-Container.size9 {
        width: 33.3333333333vw;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (--breakpoint-2) {
    .bp2-Container.size1 {
        max-width: 100%;
        margin-left: var(--spacing-300);
        margin-right: var(--spacing-300);
    }

    .bp2-Container.size2 {
        width: 91.6666666666vw;
        margin-left: auto;
        margin-right: auto;
    }

    .bp2-Container.size3 {
        width: 83.3333333333vw;
        margin-left: auto;
        margin-right: auto;
    }

    .bp2-Container.size4 {
        width: 75vw;
        margin-left: auto;
        margin-right: auto;
    }

    .bp2-Container.size5 {
        width: 58.3333333333vw;
        margin-left: auto;
        margin-right: auto;
    }

    .bp2-Container.size6 {
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
    }

    .bp2-Container.size7 {
        width: 41.6666666666vw;
        margin-left: auto;
        margin-right: auto;
    }

    .bp2-Container.size8 {
        width: 41.6666666666vw;
        margin-left: auto;
        margin-right: auto;
    }

    .bp2-Container.size9 {
        width: 33.3333333333vw;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (--breakpoint-3) {
    .bp3-Container.size1 {
        max-width: 100%;
        margin-left: var(--spacing-300);
        margin-right: var(--spacing-300);
    }

    .bp3-Container.size2 {
        width: 91.6666666666vw;
        margin-left: auto;
        margin-right: auto;
    }

    .bp3-Container.size3 {
        width: 83.3333333333vw;
        margin-left: auto;
        margin-right: auto;
    }

    .bp3-Container.size4 {
        width: 75vw;
        margin-left: auto;
        margin-right: auto;
    }

    .bp3-Container.size5 {
        width: 58.3333333333vw;
        margin-left: auto;
        margin-right: auto;
    }

    .bp3-Container.size6 {
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
    }

    .bp3-Container.size7 {
        width: 41.6666666666vw;
        margin-left: auto;
        margin-right: auto;
    }

    .bp3-Container.size8 {
        width: 41.6666666666vw;
        margin-left: auto;
        margin-right: auto;
    }

    .bp3-Container.size9 {
        width: 33.3333333333vw;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (--breakpoint-4) {
    .bp4-Container.size1 {
        max-width: 100%;
        margin-left: var(--spacing-300);
        margin-right: var(--spacing-300);
    }

    .bp4-Container.size2 {
        width: 91.6666666666vw;
        margin-left: auto;
        margin-right: auto;
    }

    .bp4-Container.size3 {
        width: 83.3333333333vw;
        margin-left: auto;
        margin-right: auto;
    }

    .bp4-Container.size4 {
        width: 75vw;
        margin-left: auto;
        margin-right: auto;
    }

    .bp4-Container.size5 {
        width: 58.3333333333vw;
        margin-left: auto;
        margin-right: auto;
    }

    .bp4-Container.size6 {
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
    }

    .bp4-Container.size7 {
        width: 41.6666666666vw;
        margin-left: auto;
        margin-right: auto;
    }

    .bp4-Container.size8 {
        width: 41.6666666666vw;
        margin-left: auto;
        margin-right: auto;
    }

    .bp4-Container.size9 {
        width: 33.3333333333vw;
        margin-left: auto;
        margin-right: auto;
    }
}
