/* Grid */

.Grid {
    display: grid;
    width: 100%;
    grid-gap: var(--spacing-400);
    grid-template-columns: repeat(1, 1fr);
}

/* Sizes */

.Grid.size1 {
    grid-gap: var(--spacing-200);
}

.Grid.size2 {
    grid-gap: var(--spacing-400);
}

.Grid.size3 {
    grid-gap: var(--spacing-600);
}

/* Columns */

.Grid.columns1 { grid-template-columns: repeat(1, 1fr); }
.Grid.columns2 { grid-template-columns: repeat(2, 1fr); }
.Grid.columns3 { grid-template-columns: repeat(3, 1fr); }
.Grid.columns4 { grid-template-columns: repeat(4, 1fr); }
.Grid.columns5 { grid-template-columns: repeat(5, 1fr); }
.Grid.columns6 { grid-template-columns: repeat(6, 1fr); }
.Grid.columns7 { grid-template-columns: repeat(7, 1fr); }
.Grid.columns8 { grid-template-columns: repeat(8, 1fr); }
.Grid.columns9 { grid-template-columns: repeat(9, 1fr); }
.Grid.columns10 { grid-template-columns: repeat(10, 1fr); }
.Grid.columns11 { grid-template-columns: repeat(11, 1fr); }
.Grid.columns12 { grid-template-columns: repeat(12, 1fr); }

@media (--breakpoint-1) {
    .Grid.bp1-columns1 { grid-template-columns: repeat(1, 1fr); }
    .Grid.bp1-columns2 { grid-template-columns: repeat(2, 1fr); }
    .Grid.bp1-columns3 { grid-template-columns: repeat(3, 1fr); }
    .Grid.bp1-columns4 { grid-template-columns: repeat(4, 1fr); }
    .Grid.bp1-columns5 { grid-template-columns: repeat(5, 1fr); }
    .Grid.bp1-columns6 { grid-template-columns: repeat(6, 1fr); }
    .Grid.bp1-columns7 { grid-template-columns: repeat(7, 1fr); }
    .Grid.bp1-columns8 { grid-template-columns: repeat(8, 1fr); }
    .Grid.bp1-columns9 { grid-template-columns: repeat(9, 1fr); }
    .Grid.bp1-columns10 { grid-template-columns: repeat(10, 1fr); }
    .Grid.bp1-columns11 { grid-template-columns: repeat(11, 1fr); }
    .Grid.bp1-columns12 { grid-template-columns: repeat(12, 1fr); }
}

@media (--breakpoint-2) {
    .Grid.bp2-columns1 { grid-template-columns: repeat(1, 1fr); }
    .Grid.bp2-columns2 { grid-template-columns: repeat(2, 1fr); }
    .Grid.bp2-columns3 { grid-template-columns: repeat(3, 1fr); }
    .Grid.bp2-columns4 { grid-template-columns: repeat(4, 1fr); }
    .Grid.bp2-columns5 { grid-template-columns: repeat(5, 1fr); }
    .Grid.bp2-columns6 { grid-template-columns: repeat(6, 1fr); }
    .Grid.bp2-columns7 { grid-template-columns: repeat(7, 1fr); }
    .Grid.bp2-columns8 { grid-template-columns: repeat(8, 1fr); }
    .Grid.bp2-columns9 { grid-template-columns: repeat(9, 1fr); }
    .Grid.bp2-columns10 { grid-template-columns: repeat(10, 1fr); }
    .Grid.bp2-columns11 { grid-template-columns: repeat(11, 1fr); }
    .Grid.bp2-columns12 { grid-template-columns: repeat(12, 1fr); }
}

@media (--breakpoint-3) {
    .Grid.bp3-columns1 { grid-template-columns: repeat(1, 1fr); }
    .Grid.bp3-columns2 { grid-template-columns: repeat(2, 1fr); }
    .Grid.bp3-columns3 { grid-template-columns: repeat(3, 1fr); }
    .Grid.bp3-columns4 { grid-template-columns: repeat(4, 1fr); }
    .Grid.bp3-columns5 { grid-template-columns: repeat(5, 1fr); }
    .Grid.bp3-columns6 { grid-template-columns: repeat(6, 1fr); }
    .Grid.bp3-columns7 { grid-template-columns: repeat(7, 1fr); }
    .Grid.bp3-columns8 { grid-template-columns: repeat(8, 1fr); }
    .Grid.bp3-columns9 { grid-template-columns: repeat(9, 1fr); }
    .Grid.bp3-columns10 { grid-template-columns: repeat(10, 1fr); }
    .Grid.bp3-columns11 { grid-template-columns: repeat(11, 1fr); }
    .Grid.bp3-columns12 { grid-template-columns: repeat(12, 1fr); }
}

@media (--breakpoint-4) {
    .Grid.bp4-columns1 { grid-template-columns: repeat(1, 1fr); }
    .Grid.bp4-columns2 { grid-template-columns: repeat(2, 1fr); }
    .Grid.bp4-columns3 { grid-template-columns: repeat(3, 1fr); }
    .Grid.bp4-columns4 { grid-template-columns: repeat(4, 1fr); }
    .Grid.bp4-columns5 { grid-template-columns: repeat(5, 1fr); }
    .Grid.bp4-columns6 { grid-template-columns: repeat(6, 1fr); }
    .Grid.bp4-columns7 { grid-template-columns: repeat(7, 1fr); }
    .Grid.bp4-columns8 { grid-template-columns: repeat(8, 1fr); }
    .Grid.bp4-columns9 { grid-template-columns: repeat(9, 1fr); }
    .Grid.bp4-columns10 { grid-template-columns: repeat(10, 1fr); }
    .Grid.bp4-columns11 { grid-template-columns: repeat(11, 1fr); }
    .Grid.bp4-columns12 { grid-template-columns: repeat(12, 1fr); }
}
