.Heading.size7 {
    letter-spacing: -0.058em;
    margin-left: -2.5px;
    font-size: var(--fontSize-12);
    line-height: var(--leading-9);
}

.Heading.size6 {
    letter-spacing: -0.058em;
    margin-left: -2.5px;
    font-size: var(--fontSize-11);
    line-height: var(--leading-8);
}

.Heading.size5 {
    letter-spacing: -0.058em;
    margin-left: -2.5px;
    font-size: var(--fontSize-10);
    line-height: var(--leading-8);
}

.Heading.size4 {
    letter-spacing: -0.058em;
    font-size: var(--fontSize-9);
    margin-left: -3.2px;
    line-height: var(--leading-7);
}

.Heading.size3 {
    letter-spacing: -.038em;
    margin-left: -1.5px;
    font-size: var(--fontSize-8);
    line-height: var(--leading-6);
}

.Heading.size2 {
    font-size: var(--fontSize-7);
    letter-spacing: -.018em;
    margin-left: -1.5px;
    line-height: var(--leading-5);
}

.Heading.size1 {
    font-size: var(--fontSize-6);
    letter-spacing: -.018em;
    margin-left: -1.5px;
    line-height: var(--leading-4);
}


@media (--breakpoint-1) {
    .Heading.bp1-size7 {
        letter-spacing: -0.058em;
        margin-left: -2.5px;
        font-size: var(--fontSize-12);
        line-height: var(--leading-9);
    }

    .Heading.bp1-size6 {
        letter-spacing: -0.058em;
        margin-left: -2.5px;
        font-size: var(--fontSize-11);
        line-height: var(--leading-8);
    }

    .Heading.bp1-size5 {
        letter-spacing: -0.058em;
        margin-left: -2.5px;
        font-size: var(--fontSize-10);
        line-height: var(--leading-8);
    }

    .Heading.bp1-size4 {
        letter-spacing: -0.058em;
        font-size: var(--fontSize-9);
        margin-left: -3.2px;
        line-height: var(--leading-7);
    }

    .Heading.bp1-size3 {
        letter-spacing: -.038em;
        margin-left: -1.5px;
        font-size: var(--fontSize-8);
        line-height: var(--leading-6);
    }

    .Heading.bp1-size2 {
        font-size: var(--fontSize-7);
        letter-spacing: -.018em;
        margin-left: -1.5px;
        line-height: var(--leading-5);
    }

    .Heading.bp1-size1 {
        font-size: var(--fontSize-6);
        letter-spacing: -.018em;
        margin-left: -1.5px;
        line-height: var(--leading-4);
    }
}

@media (--breakpoint-2) {
    .Heading.bp2-size7 {
        letter-spacing: -0.058em;
        margin-left: -2.5px;
        font-size: var(--fontSize-12);
        line-height: var(--leading-9);
    }

    .Heading.bp2-size6 {
        letter-spacing: -0.058em;
        margin-left: -2.5px;
        font-size: var(--fontSize-11);
        line-height: var(--leading-8);
    }

    .Heading.bp2-size5 {
        letter-spacing: -0.058em;
        margin-left: -2.5px;
        font-size: var(--fontSize-10);
        line-height: var(--leading-8);
    }

    .Heading.bp2-size4 {
        letter-spacing: -0.058em;
        font-size: var(--fontSize-9);
        margin-left: -3.2px;
        line-height: var(--leading-7);
    }

    .Heading.bp2-size3 {
        letter-spacing: -.038em;
        margin-left: -1.5px;
        font-size: var(--fontSize-8);
        line-height: var(--leading-6);
    }

    .Heading.bp2-size2 {
        font-size: var(--fontSize-7);
        letter-spacing: -.018em;
        margin-left: -1.5px;
        line-height: var(--leading-5);
    }

    .Heading.bp2-size1 {
        font-size: var(--fontSize-6);
        letter-spacing: -.018em;
        margin-left: -1.5px;
        line-height: var(--leading-4);
    }
}

@media (--breakpoint-3) {
    .Heading.bp3-size7 {
        letter-spacing: -0.058em;
        margin-left: -2.5px;
        font-size: var(--fontSize-12);
        line-height: var(--leading-9);
    }

    .Heading.bp3-size6 {
        letter-spacing: -0.058em;
        margin-left: -2.5px;
        font-size: var(--fontSize-11);
        line-height: var(--leading-8);
    }

    .Heading.bp3-size5 {
        letter-spacing: -0.058em;
        margin-left: -2.5px;
        font-size: var(--fontSize-10);
        line-height: var(--leading-8);
    }

    .Heading.bp3-size4 {
        letter-spacing: -0.058em;
        font-size: var(--fontSize-9);
        margin-left: -3.2px;
        line-height: var(--leading-7);
    }

    .Heading.bp3-size3 {
        letter-spacing: -.038em;
        margin-left: -1.5px;
        font-size: var(--fontSize-8);
        line-height: var(--leading-6);
    }

    .Heading.bp3-size2 {
        font-size: var(--fontSize-7);
        letter-spacing: -.018em;
        margin-left: -1.5px;
        line-height: var(--leading-5);
    }

    .Heading.bp3-size1 {
        font-size: var(--fontSize-6);
        letter-spacing: -.018em;
        margin-left: -1.5px;
        line-height: var(--leading-4);
    }
}

@media (--breakpoint-4) {
    .Heading.bp4-size7 {
        letter-spacing: -0.058em;
        margin-left: -2.5px;
        font-size: var(--fontSize-12);
        line-height: var(--leading-9);
    }

    .Heading.bp4-size6 {
        letter-spacing: -0.058em;
        margin-left: -2.5px;
        font-size: var(--fontSize-11);
        line-height: var(--leading-8);
    }

    .Heading.bp4-size5 {
        letter-spacing: -0.058em;
        margin-left: -2.5px;
        font-size: var(--fontSize-10);
        line-height: var(--leading-8);
    }

    .Heading.bp4-size4 {
        letter-spacing: -0.058em;
        font-size: var(--fontSize-9);
        margin-left: -3.2px;
        line-height: var(--leading-7);
    }

    .Heading.bp4-size3 {
        letter-spacing: -.038em;
        margin-left: -1.5px;
        font-size: var(--fontSize-8);
        line-height: var(--leading-6);
    }

    .Heading.bp4-size2 {
        font-size: var(--fontSize-7);
        letter-spacing: -.018em;
        margin-left: -1.5px;
        line-height: var(--leading-5);
    }

    .Heading.bp4-size1 {
        font-size: var(--fontSize-6);
        letter-spacing: -.018em;
        margin-left: -1.5px;
        line-height: var(--leading-4);
    }
}
