.IconButton {
  align-items: center;
  appearance: none;
  background-color: transparent;
  border: none;
  color: var(--gray500);
  cursor: pointer;
  display: inline-flex;
  height: var(--spacing-400);
  justify-content: center;
  line-height: 1;
  outline: none;
  text-decoration: none;
  transition-property: all;
  transition-duration: var(--transitionDuration-200);
  transition-timing-function: ease;
  user-select: none;
  vertical-align: middle;
  width: var(--spacing-400);
}

.IconButton:hover {
  color: var(--gray900);
}
.IconButton.is-active {
  opacity: .5;
}
.IconButton:active {
  opacity: .25;
}

/* Sizes */

.IconButton.size1 {
  height: var(--spacing-200);
  width: var(--spacing-200);
}

.IconButton.size2 {
  height: var(--spacing-300);
  width: var(--spacing-300);
}

/* Colors */

.IconButton.white {
  opacity: .8;
  color: var(--white);
}
.IconButton.white:hover {
  opacity: 1;
}

.IconButton.black {
  opacity: .8;
  color: var(--black);
}
.IconButton.black:hover {
  opacity: 1;
}

.IconButton.blue:hover {
  color: var(--blue600);
}

.IconButton.green:hover {
  color: var(--green600);
}

.IconButton.yellow:hover {
  color: var(--amber600);
}

.IconButton.red:hover {
  color: var(--red600);
}

/* Disabled state */

.IconButton.is-disabled {
  opacity: .25;
  cursor: not-allowed;
}
