.Input {
    height: var(--spacing-400);
    line-height: var(--spacing-400);
    padding-left: var(--spacing-100);
    padding-right: var(--spacing-100);
    font-size: var(--fs-3);
    border-radius: var(--br-m);
    border: none;
    outline: none;
    box-shadow: inset 0 0 0 1px var(--gray400), 0 0 0 1px rgba(0,0,0,0);
    width: 100%;
    transition-property: box-shadow;
    transition-duration: 150ms;
    transition-timing-function: linear;
}
.Input::-webkit-input-placeholder {
   color: var(--gray400);
   opacity:  1;
}
.Input::-moz-placeholder {
   color: var(--gray400);
   opacity:  1;
}
.Input:-ms-input-placeholder {
   color: var(--gray400);
   opacity:  1;
}
.Input:hover {
    box-shadow: inset 0 0 0 1px var(--gray500), 0 0 0 1px rgba(0,0,0,0);
}


.Input:focus {
    box-shadow: var(--Shadow-2), inset 0 0 0 1px var(--blue500);
}

.Input:focus ~ .FormGroup-label {
    color: var(--blue500);
}

/* Sizes */

.Input.large {
    height: var(--spacing-600);
    padding-left: var(--spacing-200);
}

/* Input group */

.FormGroup {
   position: relative;
}

.FormGroup-label {
   font-size: var(--fontSize-300);
   display: block;
   transition-property: color;
   transition-duration: 150ms;
   transition-timing-function: linear;
}

.FormGroup-hint {
   font-size: var(--fontSize-300);
   color: var(--gray500);
   display: block;
   margin-top: var(--spacing-100);
}

/* Valid */

.FormGroup.valid .FormGroup-label {
   color: var(--green700);
}

.FormGroup.valid .Input {
   box-shadow: inset 0 0 0 1px var(--green700);
}

/* Invalid */

.FormGroup.invalid .FormGroup-label {
   color: var(--red700);
}

.FormGroup.invalid .Input {
   box-shadow: inset 0 0 0 1px var(--red700);
}

.FormGroup.invalid .FormGroup-hint {
   color: var(--red700);
}
