.ListItem {
    display: flex;
    padding-left: var(--spacing-200);
    padding-right: var(--spacing-200);
    padding-top: var(--spacing-100);
    padding-bottom: var(--spacing-100);
    min-height: var(--spacing-400);
    align-items: center;
    transition: all 100ms linear;
}

.ListItem.large {
    padding-left: var(--spacing-300);
    padding-right: var(--spacing-300);
    min-height: var(--spacing-500);
}

.ListItem.interactive:hover {
    background-color: var(--blue200);
}

.ListItem.highlighted {
    background-color: var(--blue200);
}

.ListItem.highlighted:hover {
    background-color: var(--blue300);
}

.ListItem.active {
    background-color: var(--blue500);
    color: var(--white);
}
