.Overlay {
  background-color: rgba(0,0,0,.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-duration: var(--transitionDuration-200);
  transition-timing-function: linear;
  z-index: 5;
}

/* Active state */

.Overlay.is-active {
  opacity: 1;
  pointer-events: auto;
}
