/* Base component */

.PillButton {

    /* Must extend button class here */
    align-items: center;
    appearance: none;
    border: none;
    cursor: pointer;
    display: inline-flex;
    font-weight: 600;
    justify-content: center;
    letter-spacing: .6px;
    outline: none;
    pointer-events: auto;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition-property: all;
    transition-duration: var(--transitionDuration-200);
    transition-timing-function: ease;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    background-color: var(--gray200);
    box-shadow: var(--shadow-100);
    border-radius: 9999px;
    color: rgba(0,0,0,.8);
    font-size: var(--fontSize-300);
    height: var(--spacing-500);
    line-height: var(--spacing-500);
    min-width: var(--spacing-500);
    padding-left: var(--spacing-300);
    padding-right: var(--spacing-300);
}
.PillButton:hover {
    box-shadow: var(--shadow-200);
    transform: translateY(-1px);
}
.PillButton:active {
    box-shadow: none;
    transform: translateY(0px);
}

/* Size modifiers */

.PillButton.size2 {
    font-size: var(--fontSize-400);
    height: var(--spacing-600);
    line-height: var(--spacing-600);
    min-width: var(--spacing-600);
}

/* Color modifiers */

.PillButton.white { background-color: var(--white); }
.PillButton.black { background-color: var(--black); color: var(--white); }

.PillButton.bronze { background-color: var(--bronze500); color: var(--white); }
.PillButton.gold { background-color: var(--gold500); color: var(--white); }

.PillButton.red { background-color: var(--red500); color: var(--white); }
.PillButton.pink { background-color: var(--pink500); color: var(--white); }
.PillButton.purple { background-color: var(--purple500); color: var(--white); }
.PillButton.violet { background-color: var(--violet500); color: var(--white); }
.PillButton.indigo { background-color: var(--indigo500); color: var(--white); }
.PillButton.blue { background-color: var(--blue500); color: var(--white); }
.PillButton.teal { background-color: var(--teal500); color: var(--white); }
.PillButton.green { background-color: var(--green500); color: var(--white); }
.PillButton.lime { background-color: var(--lime500); }
.PillButton.yellow { background-color: var(--yellow500); }
.PillButton.amber { background-color: var(--amber500); color: var(--white); }
.PillButton.orange { background-color: var(--orange500); color: var(--white); }
