.Radio {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-size: var(--fontSize-300);
}

.Radio > input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.Radio > input ~ div {
    display: flex;
    align-items: center;
    justify-content: center;
    width:  var(--spacing-200);
    height: var(--spacing-200);
    line-height: var(--spacing-200);
    background-color: var(--white);
    border: 1px solid var(--gray400);
    border-radius: var(--borderRadius-2);
    transition: all 100ms ease;
    margin-right: var(--spacing-100);
}

/* Hover state*/
.Radio:hover > input ~ div {
    border-color: var(--gray500);
}

/* Focus state */
/*.Checkbox input:focus ~ .control-indicator,
.Radio input:focus ~ .control-indicator {
    box-shadow: 0 4px 6px rgba(32,52,61,.05), 0 1px 3px rgba(0,0,0,.05);
    border-color: var(--gray500);
    outline: 1px dashed var(--blue500);
    outline-offset: 1px;
}*/

/* Checked state */

.Radio > input:checked ~ div {
    color: var(--white);
    background-color: var(--blue500);
    border-color: var(--blue500);
    box-shadow: inset 0 0 0 4px white;
}

/* Radio modifiers */

.Radio input ~ div {
    border-radius: 50%;
}

.Radio input ~ div > div {
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 50%;
}
