.SideDrawer {
    background-color: white;
    box-shadow: 0 6px 20px 1px rgba(20,26,31,.15), 0 3px 10px 0 rgba(20,26,31,.08);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 90vw;
    max-width: 320px;
    z-index: 7;
    transform: translate3d(-50%, 0, 0);
    visibility: hidden;
    opacity: 0;
    transition-property: all;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0, 1, 0, 1);
}

.SideDrawer.is-active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
}
