.Status {
  display: block;
  width: var(--spacing-100);
  height: var(--spacing-100);
  background-color: var(--gray300);
  border-radius: 50%;
}

/* Sizes */

.Status.size2 {
  width: var(--spacing-200);
  height: var(--spacing-200);
}

/* Colors */

.Status.primary {
  background-color: var(--blue500);
}

.Status.positive {
  background-color: var(--green500);
}

.Status.intermediary {
  background-color: var(--amber500);
}

.Status.negative {
  background-color: var(--red500);
}

/* Props */

.Status.nested {
  box-shadow: 0 0 0 2px white;
}
