.StatusIndicator {
    display: block;
    width: var(--spacing-100);
    height: var(--spacing-100);
    background-color: var(--gray300);
    border-radius: 50%;
}

/* Sizes */

.StatusIndicator.size2 {
    width: var(--spacing-200);
    height: var(--spacing-200);
}

/* Colors */

.StatusIndicator.primary {
    background-color: var(--blue500);
}

.StatusIndicator.positive {
    background-color: var(--green500);
}

.StatusIndicator.intermediary {
    background-color: var(--amber500);
}

.StatusIndicator.negative {
    background-color: var(--red500);
}
