.Tab {
  display: inline-flex;
  align-items: center;
  height: var(--spacing-500);
  justify-content: center;
  font-size: var(--fontSize-200);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .8px;
  padding: 0 var(--spacing-200);
  cursor: pointer;
  color: var(--gray600);
  text-align: center;
  text-decoration: none;
  transition: all 100ms ease;
  white-space: nowrap;
}
.Tab:hover {
  color: inherit;
}

/* Sizes */

.Tab.size2 {
  height: var(--spacing-600);
  font-size: var(--fontSize-200);
  padding: 0 var(--spacing-200);
}

/* Expanded */

.Tab.expanded {
  flex-grow: 1;
  flex-basis: 0;
}

/* Active state*/

.Tab.is-active {
  box-shadow: inset 0 -2px 0 0 var(--blue500);
  color: inherit;
  cursor: default;
}
