.as-flexStart           { align-self: flex-start; }
.as-flexEnd             { align-self: flex-end; }
.as-center              { align-self: center; }
.as-baseline            { align-self: baseline; }
.as-stretch             { align-self: stretch; }

@media (--breakpoint-s) {
    .bps-as-flexStart           { align-self: flex-start; }
    .bps-as-flexEnd             { align-self: flex-end; }
    .bps-as-center              { align-self: center; }
    .bps-as-baseline            { align-self: baseline; }
    .bps-as-stretch             { align-self: stretch; }
}

@media (--breakpoint-m) {
    .bpm-as-flexStart           { align-self: flex-start; }
    .bpm-as-flexEnd             { align-self: flex-end; }
    .bpm-as-center              { align-self: center; }
    .bpm-as-baseline            { align-self: baseline; }
    .bpm-as-stretch             { align-self: stretch; }
}

@media (--breakpoint-l) {
    .bpl-as-flexStart           { align-self: flex-start; }
    .bpl-as-flexEnd             { align-self: flex-end; }
    .bpl-as-center              { align-self: center; }
    .bpl-as-baseline            { align-self: baseline; }
    .bpl-as-stretch             { align-self: stretch; }
}

@media (--breakpoint-xl) {
    .bpxl-as-flexStart           { align-self: flex-start; }
    .bpxl-as-flexEnd             { align-self: flex-end; }
    .bpxl-as-center              { align-self: center; }
    .bpxl-as-baseline            { align-self: baseline; }
    .bpxl-as-stretch             { align-self: stretch; }
}
