.ai-flexStart           { align-items: flex-start; }
.ai-flexEnd             { align-items: flex-end; }
.ai-center              { align-items: center; }
.ai-baseline            { align-items: baseline; }
.ai-stretch             { align-items: stretch; }

@media (--breakpoint-s) {
    .bps-ai-flexStart           { align-items: flex-start; }
    .bps-ai-flexEnd             { align-items: flex-end; }
    .bps-ai-center              { align-items: center; }
    .bps-ai-baseline            { align-items: baseline; }
    .bps-ai-stretch             { align-items: stretch; }
}

@media (--breakpoint-m) {
    .bpm-ai-flexStart           { align-items: flex-start; }
    .bpm-ai-flexEnd             { align-items: flex-end; }
    .bpm-ai-center              { align-items: center; }
    .bpm-ai-baseline            { align-items: baseline; }
    .bpm-ai-stretch             { align-items: stretch; }
}

@media (--breakpoint-l) {
    .bpl-ai-flexStart           { align-items: flex-start; }
    .bpl-ai-flexEnd             { align-items: flex-end; }
    .bpl-ai-center              { align-items: center; }
    .bpl-ai-baseline            { align-items: baseline; }
    .bpl-ai-stretch             { align-items: stretch; }
}

@media (--breakpoint-xl) {
    .bpxl-ai-flexStart           { align-items: flex-start; }
    .bpxl-ai-flexEnd             { align-items: flex-end; }
    .bpxl-ai-center              { align-items: center; }
    .bpxl-ai-baseline            { align-items: baseline; }
    .bpxl-ai-stretch             { align-items: stretch; }
}
