/* Aspect ratio */

.aspectRatio {
    position: relative;
}

.aspectRatio:before {
    content: "";
    display: block;
}

.aspectRatio-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.aspectRatio--100:before {
    padding-top: 100%;
}

.aspectRatio--75:before {
    padding-top: 75%;
}

.aspectRatio--50:before {
    padding-top: 50%;
}

.aspectRatio--16-9:before {
    padding-top: 56.25%;
}
