/* Box Sizing */

.bs-contentBox          { box-sizing: content-box; }
.bs-borderBox           { box-sizing: border-box; }

@media (--breakpoint-1) {
    .bp1-bs-contentBox  { box-sizing: content-box; }
    .bp1-bs-borderBox   { box-sizing: border-box; }
}

@media (--breakpoint-2) {
    .bp2-bs-contentBox  { box-sizing: content-box; }
    .bp2-bs-borderBox   { box-sizing: border-box; }
}

@media (--breakpoint-3) {
    .bp3-bs-contentBox  { box-sizing: content-box; }
    .bp3-bs-borderBox   { box-sizing: border-box; }
}

@media (--breakpoint-4) {
    .bp4-bs-contentBox { box-sizing: content-box; }
    .bp4-bs-borderBox  { box-sizing: border-box; }
}
