/* Color */

.color-inherit        { color: inherit; }

.color-white           { color: var(--white); }
.color-white900     { color: var(--white900); }
.color-white700     { color: var(--white900); }
.color-white500     { color: var(--white900); }
.color-white300     { color: var(--white900); }
.color-white100     { color: var(--white900); }

.color-black           { color: var(--black); }
.color-black900     { color: var(--black900); }
.color-black700     { color: var(--black900); }
.color-black500     { color: var(--black900); }
.color-black300     { color: var(--black900); }
.color-black100     { color: var(--black900); }

.color-red                  { color: var(--red); }
.color-pink                 { color: var(--pink); }
.color-purple               { color: var(--purple); }
.color-violet               { color: var(--violet); }
.color-indigo               { color: var(--indigo); }
.color-blue                 { color: var(--blue); }
.color-teal                 { color: var(--teal); }
.color-green                { color: var(--green); }
.color-lime                 { color: var(--lime); }
.color-yellow               { color: var(--yellow); }
.color-amber                { color: var(--amber); }
.color-orange               { color: var(--orange); }
.color-lavender             { color: var(--lavender); }
.color-crimson              { color: var(--crimson); }

.color-blueShade            { color: var(--blueShade); }
.color-redShade             { color: var(--redShade); }
.color-greenShade           { color: var(--greenShade); }

.color-silver               { color: var(--gray400); }
.color-steel                { color: var(--gray500); }
.color-charcoal             { color: var(--gray800); }
.color-lead                 { color: var(--gray900); }

/* Hover states */
@media (hover) {
    .color-white--hover:hover               { color: var(--white); }
    .color-black--hover:hover               { color: var(--black); }
    .color-transparent--hover:hover         { color: var(--transparent); }

    .color-red--hover:hover                 { color: var(--red); }
    .color-pink--hover:hover                { color: var(--pink); }
    .color-purple--hover:hover              { color: var(--purple); }
    .color-deepPurple--hover:hover          { color: var(--violet); }
    .color-indigo--hover:hover              { color: var(--indigo); }
    .color-blue--hover:hover                { color: var(--blue); }
    .color-lightBlue--hover:hover           { color: var(--lightBlue); }
    .color-cyan--hover:hover                { color: var(--cyan); }
    .color-teal--hover:hover                { color: var(--teal); }
    .color-green--hover:hover               { color: var(--green); }
    .color-lightGreen--hover:hover          { color: var(--lightGreen); }
    .color-lime--hover:hover                { color: var(--lime); }
    .color-yellow--hover:hover              { color: var(--yellow); }
    .color-amber--hover:hover               { color: var(--amber); }
    .color-orange--hover:hover              { color: var(--orange); }
    .color-deepOrange--hover:hover          { color: var(--crimson); }
    .color-brown--hover:hover               { color: var(--brown); }
    .color-gray--hover:hover                { color: var(--gray); }

    .color-silver--hover:hover               { color: var(--gray400); }
    .color-steel--hover:hover                { color: var(--gray500); }
    .color-charcoal--hover:hover             { color: var(--gray800); }
    .color-lead--hover:hover                 { color: var(--gray900); }
}
