/* Color */

.color-inherit        { color: inherit; }

.color-white           { color: var(--white); }
.color-white900     { color: var(--white900); }
.color-white700     { color: var(--white900); }
.color-white500     { color: var(--white900); }
.color-white300     { color: var(--white900); }
.color-white100     { color: var(--white900); }

.color-black           { color: var(--black); }
.color-black900     { color: var(--black900); }
.color-black700     { color: var(--black900); }
.color-black500     { color: var(--black900); }
.color-black300     { color: var(--black900); }
.color-black100     { color: var(--black900); }

.color-red                  { color: var(--red500); }
.color-pink                 { color: var(--pink500); }
.color-purple               { color: var(--purple500); }
.color-violet               { color: var(--violet500); }
.color-indigo               { color: var(--indigo500); }
.color-blue                 { color: var(--blue500); }
.color-teal                 { color: var(--teal500); }
.color-green                { color: var(--green500); }
.color-lime                 { color: var(--lime500); }
.color-yellow               { color: var(--yellow500); }
.color-amber                { color: var(--amber500); }
.color-orange               { color: var(--orange500); }
.color-lavender             { color: var(--lavender500); }
.color-crimson              { color: var(--crimson500); }

.color-blueShade            { color: var(--blue700); }
.color-red700             { color: var(--red700); }
.color-greenShade           { color: var(--green700); }

.color-gray400               { color: var(--gray400); }
.color-gray500                { color: var(--gray500); }
.color-gray800             { color: var(--gray800); }
.color-gray900                 { color: var(--gray900); }

/* Hover states */
@media (hover) {
    .color-white--hover:hover               { color: var(--white); }
    .color-black--hover:hover               { color: var(--black); }
    .color-transparent--hover:hover         { color: var(--transparent); }

    .color-red--hover:hover                 { color: var(--red500); }
    .color-pink--hover:hover                { color: var(--pink500); }
    .color-purple--hover:hover              { color: var(--purple500); }
    .color-deepPurple--hover:hover          { color: var(--violet500); }
    .color-indigo--hover:hover              { color: var(--indigo500); }
    .color-blue--hover:hover                { color: var(--blue500); }
    .color-lightBlue--hover:hover           { color: var(--lightBlue); }
    .color-cyan--hover:hover                { color: var(--cyan); }
    .color-teal--hover:hover                { color: var(--teal500); }
    .color-green--hover:hover               { color: var(--green500); }
    .color-lightGreen--hover:hover          { color: var(--lightGreen); }
    .color-lime--hover:hover                { color: var(--lime500); }
    .color-yellow--hover:hover              { color: var(--yellow500); }
    .color-amber--hover:hover               { color: var(--amber500); }
    .color-orange--hover:hover              { color: var(--orange500); }
    .color-deepOrange--hover:hover          { color: var(--crimson500); }
    .color-brown--hover:hover               { color: var(--brown); }
    .color-gray--hover:hover                { color: var(--gray); }

    .color-silver--hover:hover               { color: var(--gray400); }
    .color-steel--hover:hover                { color: var(--gray500); }
    .color-charcoal--hover:hover             { color: var(--gray800); }
    .color-lead--hover:hover                 { color: var(--gray900); }
}
