/* Flexbox */

.flex-none              { flex: none; }

@media (--breakpoint-s) {
  .bps-flex-none              { flex: none; }
}

@media (--breakpoint-m) {
  .bpm-flex-none              { flex: none; }
}

@media (--breakpoint-l) {
  .bpl-flex-none              { flex: none; }
}

@media (--breakpoint-xl) {
  .bpxl-flex-none              { flex: none; }
}
