/* Font Style */

.fs-normal   { font-style: normal; }
.fs-italic   { font-style: italic; }
.fs-oblique  { font-style: oblique; }

@media (--breakpoint-s) {
    .bps-fs-normal   { font-style: normal; }
    .bps-fs-italic   { font-style: italic; }
    .bps-fs-oblique  { font-style: oblique; }
}

@media (--breakpoint-m) {
    .bpm-fs-normal   { font-style: normal; }
    .bpm-fs-italic   { font-style: italic; }
    .bpm-fs-oblique  { font-style: oblique; }
}

@media (--breakpoint-l) {
    .bpl-fs-normal   { font-style: normal; }
    .bpl-fs-italic   { font-style: italic; }
    .bpl-fs-oblique  { font-style: oblique; }
}

@media (--breakpoint-xl) {
    .bpxl-fs-normal   { font-style: normal; }
    .bpxl-fs-italic   { font-style: italic; }
    .bpxl-fs-oblique  { font-style: oblique; }
}
