/* Font Style */

.fontSize-normal   { font-style: normal; }
.fontSize-italic   { font-style: italic; }
.fontSize-oblique  { font-style: oblique; }

@media (--breakpoint-1) {
    .bp1-fontSize-normal   { font-style: normal; }
    .bp1-fontSize-italic   { font-style: italic; }
    .bp1-fontSize-oblique  { font-style: oblique; }
}

@media (--breakpoint-2) {
    .bp2-fontSize-normal   { font-style: normal; }
    .bp2-fontSize-italic   { font-style: italic; }
    .bp2-fontSize-oblique  { font-style: oblique; }
}

@media (--breakpoint-3) {
    .bp3-fontSize-normal   { font-style: normal; }
    .bp3-fontSize-italic   { font-style: italic; }
    .bp3-fontSize-oblique  { font-style: oblique; }
}

@media (--breakpoint-4) {
    .bp4-fontSize-normal   { font-style: normal; }
    .bp4-fontSize-italic   { font-style: italic; }
    .bp4-fontSize-oblique  { font-style: oblique; }
}
