/* Font size */

.fontSize-9     { font-size: var(--fontSize-9); }
.fontSize-8     { font-size: var(--fontSize-8); }
.fontSize-7     { font-size: var(--fontSize-7); }
.fontSize-6     { font-size: var(--fontSize-6); }
.fontSize-5     { font-size: var(--fontSize-5); }
.fontSize-4     { font-size: var(--fontSize-4); }
.fontSize-3     { font-size: var(--fontSize-3); }
.fontSize-2     { font-size: var(--fontSize-2); }
.fontSize-1     { font-size: var(--fontSize-1); }

@media (--breakpoint-1) {
    .bp1-fontSize-9     { font-size: var(--fontSize-9); }
    .bp1-fontSize-8     { font-size: var(--fontSize-8); }
    .bp1-fontSize-7     { font-size: var(--fontSize-7); }
    .bp1-fontSize-6     { font-size: var(--fontSize-6); }
    .bp1-fontSize-5     { font-size: var(--fontSize-5); }
    .bp1-fontSize-4     { font-size: var(--fontSize-4); }
    .bp1-fontSize-3     { font-size: var(--fontSize-3); }
    .bp1-fontSize-2     { font-size: var(--fontSize-2); }
    .bp1-fontSize-1     { font-size: var(--fontSize-1); }
}

@media (--breakpoint-2) {
    .bp2-fontSize-9     { font-size: var(--fontSize-9); }
    .bp2-fontSize-8   { font-size: var(--fontSize-8); }
    .bp2-fontSize-7    { font-size: var(--fontSize-7); }
    .bp2-fontSize-6     { font-size: var(--fontSize-6); }
    .bp2-fontSize-5      { font-size: var(--fontSize-5); }
    .bp2-fontSize-4       { font-size: var(--fontSize-4); }
    .bp2-fontSize-3       { font-size: var(--fontSize-3); }
    .bp2-fontSize-2       { font-size: var(--fontSize-2); }
    .bp2-fontSize-1      { font-size: var(--fontSize-1); }
}

@media (--breakpoint-3) {
    .bp3-fontSize-9     { font-size: var(--fontSize-9); }
    .bp3-fontSize-8   { font-size: var(--fontSize-8); }
    .bp3-fontSize-7    { font-size: var(--fontSize-7); }
    .bp3-fontSize-6     { font-size: var(--fontSize-6); }
    .bp3-fontSize-5      { font-size: var(--fontSize-5); }
    .bp3-fontSize-4       { font-size: var(--fontSize-4); }
    .bp3-fontSize-3       { font-size: var(--fontSize-3); }
    .bp3-fontSize-s       { font-size: var(--fontSize-s); }
    .bp3-fontSize-1      { font-size: var(--fontSize-1); }
}

@media (--breakpoint-4) {
    .bp4-fontSize-9     { font-size: var(--fontSize-9); }
    .bp4-fontSize-8   { font-size: var(--fontSize-8); }
    .bp4-fontSize-7    { font-size: var(--fontSize-7); }
    .bp4-fontSize-6     { font-size: var(--fontSize-6); }
    .bp4-fontSize-5      { font-size: var(--fontSize-5); }
    .bp4-fontSize-4       { font-size: var(--fontSize-4); }
    .bp4-fontSize-3       { font-size: var(--fontSize-3); }
    .bp4-fontSize-s       { font-size: var(--fontSize-s); }
    .bp4-fontSize-1      { font-size: var(--fontSize-1); }
}
