/* Letter spacing */

.ls-xxxl    { letter-spacing: 4px; }
.ls-xxl     { letter-spacing: 2px; }
.ls-xl      { letter-spacing: 1px; }
.ls-l       { letter-spacing: .5px; }
.ls-normal  { letter-spacing: normal; }
.ls-s       { letter-spacing: -.5px; }
.ls-xs      { letter-spacing: -1px; }
.ls-xxs     { letter-spacing: -2px; }
.ls-xxxs    { letter-spacing: -4px; }

@media (--breakpoint-1) {
    .bp1-ls-xxxl    { letter-spacing: 4px; }
    .bp1-ls-xxl     { letter-spacing: 2px; }
    .bp1-ls-xl      { letter-spacing: 1px; }
    .bp1-ls-l       { letter-spacing: .5px; }
    .bp1-ls-normal  { letter-spacing: normal; }
    .bp1-ls-s       { letter-spacing: -.5px; }
    .bp1-ls-xs      { letter-spacing: -1px; }
    .bp1-ls-xxs     { letter-spacing: -2px; }
    .bp1-ls-xxxs    { letter-spacing: -4px; }
}

@media (--breakpoint-2) {
    .bp2-ls-xxxl    { letter-spacing: 4px; }
    .bp2-ls-xxl     { letter-spacing: 2px; }
    .bp2-ls-xl      { letter-spacing: 1px; }
    .bp2-ls-l       { letter-spacing: .5px; }
    .bp2-ls-normal  { letter-spacing: normal; }
    .bp2-ls-s       { letter-spacing: -.5px; }
    .bp2-ls-xs      { letter-spacing: -1px; }
    .bp2-ls-xxs     { letter-spacing: -2px; }
    .bp2-ls-xxxs    { letter-spacing: -4px; }
}

@media (--breakpoint-3) {
    .bp3-ls-xxxl    { letter-spacing: 4px; }
    .bp3-ls-xxl     { letter-spacing: 2px; }
    .bp3-ls-xl      { letter-spacing: 1px; }
    .bp3-ls-l       { letter-spacing: .5px; }
    .bp3-ls-normal  { letter-spacing: normal; }
    .bp3-ls-s       { letter-spacing: -.5px; }
    .bp3-ls-xs      { letter-spacing: -1px; }
    .bp3-ls-xxs     { letter-spacing: -2px; }
    .bp3-ls-xxxs    { letter-spacing: -4px; }
}

@media (--breakpoint-4) {
    .bp4-ls-xxxl    { letter-spacing: 4px; }
    .bp4-ls-xxl     { letter-spacing: 2px; }
    .bp4-ls-xl      { letter-spacing: 1px; }
    .bp4-ls-l       { letter-spacing: .5px; }
    .bp4-ls-normal  { letter-spacing: normal; }
    .bp4-ls-s       { letter-spacing: -.5px; }
    .bp4-ls-xs      { letter-spacing: -1px; }
    .bp4-ls-xxs     { letter-spacing: -2px; }
    .bp4-ls-xxxs    { letter-spacing: -4px; }
}
