/* Line height */

.lh-1   { line-height: 1.6rem; }
.lh-2   { line-height: 2rem; }
.lh-3   { line-height: 2.4rem; }
.lh-4   { line-height: 2.8rem; }
.lh-5   { line-height: 3.2rem; }
.lh-6   { line-height: 3.6rem; }
.lh-7   { line-height: 4rem; }
.lh-8   { line-height: 6.4rem; }
.lh-9   { line-height: 7.2rem; }

@media (--breakpoint-s) {
    .bps-lh-1   { line-height: 1.6rem; }
    .bps-lh-2   { line-height: 2rem; }
    .bps-lh-3   { line-height: 2.4rem; }
    .bps-lh-4   { line-height: 2.8rem; }
    .bps-lh-5   { line-height: 3.2rem; }
    .bps-lh-6   { line-height: 3.6rem; }
    .bps-lh-7   { line-height: 4rem; }
    .bps-lh-8   { line-height: 6.4rem; }
    .bps-lh-9   { line-height: 7.2rem; }
}

@media (--breakpoint-m) {
    .bpm-lh-1   { line-height: 1.6rem; }
    .bpm-lh-2   { line-height: 2rem; }
    .bpm-lh-3   { line-height: 2.4rem; }
    .bpm-lh-4   { line-height: 2.8rem; }
    .bpm-lh-5   { line-height: 3.2rem; }
    .bpm-lh-6   { line-height: 3.6rem; }
    .bpm-lh-7   { line-height: 4rem; }
    .bpm-lh-8   { line-height: 6.4rem; }
    .bpm-lh-9   { line-height: 7.2rem; }
}

@media (--breakpoint-l) {
    .bpl-lh-1   { line-height: 1.6rem; }
    .bpl-lh-2   { line-height: 2rem; }
    .bpl-lh-3   { line-height: 2.4rem; }
    .bpl-lh-4   { line-height: 2.8rem; }
    .bpl-lh-5   { line-height: 3.2rem; }
    .bpl-lh-6   { line-height: 3.6rem; }
    .bpl-lh-7   { line-height: 4rem; }
    .bpl-lh-8   { line-height: 6.4rem; }
    .bpl-lh-9   { line-height: 7.2rem; }
}

@media (--breakpoint-xl) {
    .bpxl-lh-1   { line-height: 1.6rem; }
    .bpxl-lh-2   { line-height: 2rem; }
    .bpxl-lh-3   { line-height: 2.4rem; }
    .bpxl-lh-4   { line-height: 2.8rem; }
    .bpxl-lh-5   { line-height: 3.2rem; }
    .bpxl-lh-6   { line-height: 3.6rem; }
    .bpxl-lh-7   { line-height: 4rem; }
    .bpxl-lh-8   { line-height: 6.4rem; }
    .bpxl-lh-9   { line-height: 7.2rem; }
}
