/* List Style */

.lst-disc               { list-style-type: disc; }
.lst-armenian           { list-style-type: armenian; }
.lst-circle             { list-style-type: circle; }
.lst-ideographic        { list-style-type: cjk-ideographic; }
.lst-decimal            { list-style-type: decimal; }
.lst-decimalLeadingZero { list-style-type: decimal-leading-zero; }
.lst-georgian           { list-style-type: georgian; }
.lst-hebrew             { list-style-type: hebrew; }
.lst-hiragana           { list-style-type: hiragana; }
.lst-hiraganaIroha      { list-style-type: hiragana-iroha; }
.lst-katakana           { list-style-type: katakana; }
.lst-katakanaIroha      { list-style-type: katakana-iroha; }
.lst-lowerAlpha         { list-style-type: lower-alpha; }
.lst-lowerGreek         { list-style-type: lower-greek; }
.lst-lowerLatin         { list-style-type: lower-latin; }
.lst-lowerRoman         { list-style-type: lower-roman; }
.lst-none               { list-style-type: none; }
.lst-square             { list-style-type: square; }
.lst-upperAlpha         { list-style-type: upper-alpha; }
.lst-upperLatin         { list-style-type: upper-latin; }
.lst-upperRoman         { list-style-type: upper-roman; }
.lst-lowerRoman         { list-style-type: lower-roman; }
.lst-lowerRoman         { list-style-type: lower-roman; }

@media (--breakpoint-1) {
    .bp1-lst-disc               { list-style-type: disc; }
    .bp1-lst-armenian           { list-style-type: armenian; }
    .bp1-lst-circle             { list-style-type: circle; }
    .bp1-lst-ideographic        { list-style-type: cjk-ideographic; }
    .bp1-lst-decimal            { list-style-type: decimal; }
    .bp1-lst-decimalLeadingZero { list-style-type: decimal-leading-zero; }
    .bp1-lst-georgian           { list-style-type: georgian; }
    .bp1-lst-hebrew             { list-style-type: hebrew; }
    .bp1-lst-hiragana           { list-style-type: hiragana; }
    .bp1-lst-hiraganaIroha      { list-style-type: hiragana-iroha; }
    .bp1-lst-katakana           { list-style-type: katakana; }
    .bp1-lst-katakanaIroha      { list-style-type: katakana-iroha; }
    .bp1-lst-lowerAlpha         { list-style-type: lower-alpha; }
    .bp1-lst-lowerGreek         { list-style-type: lower-greek; }
    .bp1-lst-lowerLatin         { list-style-type: lower-latin; }
    .bp1-lst-lowerRoman         { list-style-type: lower-roman; }
    .bp1-lst-none               { list-style-type: none; }
    .bp1-lst-square             { list-style-type: square; }
    .bp1-lst-upperAlpha         { list-style-type: upper-alpha; }
    .bp1-lst-upperLatin         { list-style-type: upper-latin; }
    .bp1-lst-upperRoman         { list-style-type: upper-roman; }
    .bp1-lst-lowerRoman         { list-style-type: lower-roman; }
    .bp1-lst-lowerRoman         { list-style-type: lower-roman; }
}

@media (--breakpoint-2) {
    .bp2-lst-disc               { list-style-type: disc; }
    .bp2-lst-armenian           { list-style-type: armenian; }
    .bp2-lst-circle             { list-style-type: circle; }
    .bp2-lst-ideographic        { list-style-type: cjk-ideographic; }
    .bp2-lst-decimal            { list-style-type: decimal; }
    .bp2-lst-decimalLeadingZero { list-style-type: decimal-leading-zero; }
    .bp2-lst-georgian           { list-style-type: georgian; }
    .bp2-lst-hebrew             { list-style-type: hebrew; }
    .bp2-lst-hiragana           { list-style-type: hiragana; }
    .bp2-lst-hiraganaIroha      { list-style-type: hiragana-iroha; }
    .bp2-lst-katakana           { list-style-type: katakana; }
    .bp2-lst-katakanaIroha      { list-style-type: katakana-iroha; }
    .bp2-lst-lowerAlpha         { list-style-type: lower-alpha; }
    .bp2-lst-lowerGreek         { list-style-type: lower-greek; }
    .bp2-lst-lowerLatin         { list-style-type: lower-latin; }
    .bp2-lst-lowerRoman         { list-style-type: lower-roman; }
    .bp2-lst-none               { list-style-type: none; }
    .bp2-lst-square             { list-style-type: square; }
    .bp2-lst-upperAlpha         { list-style-type: upper-alpha; }
    .bp2-lst-upperLatin         { list-style-type: upper-latin; }
    .bp2-lst-upperRoman         { list-style-type: upper-roman; }
    .bp2-lst-lowerRoman         { list-style-type: lower-roman; }
    .bp2-lst-lowerRoman         { list-style-type: lower-roman; }
}

@media (--breakpoint-3) {
    .bp3-lst-disc               { list-style-type: disc; }
    .bp3-lst-armenian           { list-style-type: armenian; }
    .bp3-lst-circle             { list-style-type: circle; }
    .bp3-lst-ideographic        { list-style-type: cjk-ideographic; }
    .bp3-lst-decimal            { list-style-type: decimal; }
    .bp3-lst-decimalLeadingZero { list-style-type: decimal-leading-zero; }
    .bp3-lst-georgian           { list-style-type: georgian; }
    .bp3-lst-hebrew             { list-style-type: hebrew; }
    .bp3-lst-hiragana           { list-style-type: hiragana; }
    .bp3-lst-hiraganaIroha      { list-style-type: hiragana-iroha; }
    .bp3-lst-katakana           { list-style-type: katakana; }
    .bp3-lst-katakanaIroha      { list-style-type: katakana-iroha; }
    .bp3-lst-lowerAlpha         { list-style-type: lower-alpha; }
    .bp3-lst-lowerGreek         { list-style-type: lower-greek; }
    .bp3-lst-lowerLatin         { list-style-type: lower-latin; }
    .bp3-lst-lowerRoman         { list-style-type: lower-roman; }
    .bp3-lst-none               { list-style-type: none; }
    .bp3-lst-square             { list-style-type: square; }
    .bp3-lst-upperAlpha         { list-style-type: upper-alpha; }
    .bp3-lst-upperLatin         { list-style-type: upper-latin; }
    .bp3-lst-upperRoman         { list-style-type: upper-roman; }
    .bp3-lst-lowerRoman         { list-style-type: lower-roman; }
    .bp3-lst-lowerRoman         { list-style-type: lower-roman; }
}

@media (--breakpoint-4) {
    .bp4-lst-disc               { list-style-type: disc; }
    .bp4-lst-armenian           { list-style-type: armenian; }
    .bp4-lst-circle             { list-style-type: circle; }
    .bp4-lst-ideographic        { list-style-type: cjk-ideographic; }
    .bp4-lst-decimal            { list-style-type: decimal; }
    .bp4-lst-decimalLeadingZero { list-style-type: decimal-leading-zero; }
    .bp4-lst-georgian           { list-style-type: georgian; }
    .bp4-lst-hebrew             { list-style-type: hebrew; }
    .bp4-lst-hiragana           { list-style-type: hiragana; }
    .bp4-lst-hiraganaIroha      { list-style-type: hiragana-iroha; }
    .bp4-lst-katakana           { list-style-type: katakana; }
    .bp4-lst-katakanaIroha      { list-style-type: katakana-iroha; }
    .bp4-lst-lowerAlpha         { list-style-type: lower-alpha; }
    .bp4-lst-lowerGreek         { list-style-type: lower-greek; }
    .bp4-lst-lowerLatin         { list-style-type: lower-latin; }
    .bp4-lst-lowerRoman         { list-style-type: lower-roman; }
    .bp4-lst-none               { list-style-type: none; }
    .bp4-lst-square             { list-style-type: square; }
    .bp4-lst-upperAlpha         { list-style-type: upper-alpha; }
    .bp4-lst-upperLatin         { list-style-type: upper-latin; }
    .bp4-lst-upperRoman         { list-style-type: upper-roman; }
    .bp4-lst-lowerRoman         { list-style-type: lower-roman; }
    .bp4-lst-lowerRoman         { list-style-type: lower-roman; }
}
