/* Margin */

.margin-9   { margin: var(--spacing-9); }
.margin-8   { margin: var(--spacing-8); }
.margin-7   { margin: var(--spacing-7); }
.margin-6   { margin: var(--spacing-6); }
.margin-5   { margin: var(--spacing-5); }
.margin-4   { margin: var(--spacing-4); }
.margin-3   { margin: var(--spacing-3); }
.margin-2   { margin: var(--spacing-2); }
.margin-1   { margin: var(--spacing-1); }
.margin-0   { margin: var(--spacing-none); }

.mt-9   { margin-top: var(--spacing-9); }
.mt-8   { margin-top: var(--spacing-8); }
.mt-7   { margin-top: var(--spacing-7); }
.mt-6   { margin-top: var(--spacing-6); }
.mt-5   { margin-top: var(--spacing-5); }
.mt-4   { margin-top: var(--spacing-4); }
.mt-3   { margin-top: var(--spacing-3); }
.mt-2   { margin-top: var(--spacing-2); }
.mt-1   { margin-top: var(--spacing-1); }
.mt-0   { margin-top: var(--spacing-none); }

.mr-9   { margin-right: var(--spacing-9); }
.mr-8   { margin-right: var(--spacing-8); }
.mr-7   { margin-right: var(--spacing-7); }
.mr-6   { margin-right: var(--spacing-6); }
.mr-5   { margin-right: var(--spacing-5); }
.mr-4   { margin-right: var(--spacing-4); }
.mr-3   { margin-right: var(--spacing-3); }
.mr-2   { margin-right: var(--spacing-2); }
.mr-1   { margin-right: var(--spacing-1); }
.mr-0   { margin-right: var(--spacing-none); }

.mb-9   { margin-bottom: var(--spacing-9); }
.mb-8   { margin-bottom: var(--spacing-8); }
.mb-7   { margin-bottom: var(--spacing-7); }
.mb-6   { margin-bottom: var(--spacing-6); }
.mb-5   { margin-bottom: var(--spacing-5); }
.mb-4   { margin-bottom: var(--spacing-4); }
.mb-3   { margin-bottom: var(--spacing-3); }
.mb-2   { margin-bottom: var(--spacing-2); }
.mb-1   { margin-bottom: var(--spacing-1); }
.mb-0   { margin-bottom: var(--spacing-none); }

.ml-9   { margin-left: var(--spacing-9); }
.ml-8   { margin-left: var(--spacing-8); }
.ml-7   { margin-left: var(--spacing-7); }
.ml-6   { margin-left: var(--spacing-6); }
.ml-5   { margin-left: var(--spacing-5); }
.ml-4   { margin-left: var(--spacing-4); }
.ml-3   { margin-left: var(--spacing-3); }
.ml-2   { margin-left: var(--spacing-2); }
.ml-1   { margin-left: var(--spacing-1); }
.ml-0   { margin-left: var(--spacing-none); }

/* Remove margin for from first-child hack */

.mt-fc > div:first-child,
.mt-fc > li:first-child {
    margin-top: 0;
}

.ml-fc > div:first-child,
.ml-fc > li:first-child {
    margin-left: 0;
}

@media (--breakpoint-s) {
    .bps-margin-9   { margin: var(--spacing-9); }
    .bps-margin-8   { margin: var(--spacing-8); }
    .bps-margin-7   { margin: var(--spacing-7); }
    .bps-margin-6   { margin: var(--spacing-6); }
    .bps-margin-5   { margin: var(--spacing-5); }
    .bps-margin-4   { margin: var(--spacing-4); }
    .bps-margin-3   { margin: var(--spacing-3); }
    .bps-margin-2   { margin: var(--spacing-2); }
    .bps-margin-1   { margin: var(--spacing-1); }
    .bps-margin-0   { margin: var(--spacing-none); }

    .bps-mt-9   { margin-top: var(--spacing-9); }
    .bps-mt-8   { margin-top: var(--spacing-8); }
    .bps-mt-7   { margin-top: var(--spacing-7); }
    .bps-mt-6   { margin-top: var(--spacing-6); }
    .bps-mt-5   { margin-top: var(--spacing-5); }
    .bps-mt-4   { margin-top: var(--spacing-4); }
    .bps-mt-3   { margin-top: var(--spacing-3); }
    .bps-mt-2   { margin-top: var(--spacing-2); }
    .bps-mt-1   { margin-top: var(--spacing-1); }
    .bps-mt-0   { margin-top: var(--spacing-none); }

    .bps-mr-9   { margin-right: var(--spacing-9); }
    .bps-mr-8   { margin-right: var(--spacing-8); }
    .bps-mr-7   { margin-right: var(--spacing-7); }
    .bps-mr-6   { margin-right: var(--spacing-6); }
    .bps-mr-5   { margin-right: var(--spacing-5); }
    .bps-mr-4   { margin-right: var(--spacing-4); }
    .bps-mr-3   { margin-right: var(--spacing-3); }
    .bps-mr-2   { margin-right: var(--spacing-2); }
    .bps-mr-1   { margin-right: var(--spacing-1); }
    .bps-mr-0   { margin-right: var(--spacing-none); }

    .bps-mb-9   { margin-bottom: var(--spacing-9); }
    .bps-mb-8   { margin-bottom: var(--spacing-8); }
    .bps-mb-7   { margin-bottom: var(--spacing-7); }
    .bps-mb-6   { margin-bottom: var(--spacing-6); }
    .bps-mb-5   { margin-bottom: var(--spacing-5); }
    .bps-mb-4   { margin-bottom: var(--spacing-4); }
    .bps-mb-3   { margin-bottom: var(--spacing-3); }
    .bps-mb-2   { margin-bottom: var(--spacing-2); }
    .bps-mb-1   { margin-bottom: var(--spacing-1); }
    .bps-mb-0   { margin-bottom: var(--spacing-none); }

    .bps-ml-9   { margin-left: var(--spacing-9); }
    .bps-ml-8   { margin-left: var(--spacing-8); }
    .bps-ml-7   { margin-left: var(--spacing-7); }
    .bps-ml-6   { margin-left: var(--spacing-6); }
    .bps-ml-5   { margin-left: var(--spacing-5); }
    .bps-ml-4   { margin-left: var(--spacing-4); }
    .bps-ml-3   { margin-left: var(--spacing-3); }
    .bps-ml-2   { margin-left: var(--spacing-2); }
    .bps-ml-1   { margin-left: var(--spacing-1); }
    .bps-ml-0   { margin-left: var(--spacing-none); }
}

@media (--breakpoint-m) {
    .bpm-margin-9   { margin: var(--spacing-9); }
    .bpm-margin-8   { margin: var(--spacing-8); }
    .bpm-margin-7   { margin: var(--spacing-7); }
    .bpm-margin-6   { margin: var(--spacing-6); }
    .bpm-margin-5   { margin: var(--spacing-5); }
    .bpm-margin-4   { margin: var(--spacing-4); }
    .bpm-margin-3   { margin: var(--spacing-3); }
    .bpm-margin-2   { margin: var(--spacing-2); }
    .bpm-margin-1   { margin: var(--spacing-1); }
    .bpm-margin-0   { margin: var(--spacing-none); }

    .bpm-mt-9   { margin-top: var(--spacing-9); }
    .bpm-mt-8   { margin-top: var(--spacing-8); }
    .bpm-mt-7   { margin-top: var(--spacing-7); }
    .bpm-mt-6   { margin-top: var(--spacing-6); }
    .bpm-mt-5   { margin-top: var(--spacing-5); }
    .bpm-mt-4   { margin-top: var(--spacing-4); }
    .bpm-mt-3   { margin-top: var(--spacing-3); }
    .bpm-mt-2   { margin-top: var(--spacing-2); }
    .bpm-mt-1   { margin-top: var(--spacing-1); }
    .bpm-mt-0   { margin-top: var(--spacing-none); }

    .bpm-mr-9   { margin-right: var(--spacing-9); }
    .bpm-mr-8   { margin-right: var(--spacing-8); }
    .bpm-mr-7   { margin-right: var(--spacing-7); }
    .bpm-mr-6   { margin-right: var(--spacing-6); }
    .bpm-mr-5   { margin-right: var(--spacing-5); }
    .bpm-mr-4   { margin-right: var(--spacing-4); }
    .bpm-mr-3   { margin-right: var(--spacing-3); }
    .bpm-mr-2   { margin-right: var(--spacing-2); }
    .bpm-mr-1   { margin-right: var(--spacing-1); }
    .bpm-mr-0   { margin-right: var(--spacing-none); }

    .bpm-mb-9   { margin-bottom: var(--spacing-9); }
    .bpm-mb-8   { margin-bottom: var(--spacing-8); }
    .bpm-mb-7   { margin-bottom: var(--spacing-7); }
    .bpm-mb-6   { margin-bottom: var(--spacing-6); }
    .bpm-mb-5   { margin-bottom: var(--spacing-5); }
    .bpm-mb-4   { margin-bottom: var(--spacing-4); }
    .bpm-mb-3   { margin-bottom: var(--spacing-3); }
    .bpm-mb-2   { margin-bottom: var(--spacing-2); }
    .bpm-mb-1   { margin-bottom: var(--spacing-1); }
    .bpm-mb-0   { margin-bottom: var(--spacing-none); }

    .bpm-ml-9   { margin-left: var(--spacing-9); }
    .bpm-ml-8   { margin-left: var(--spacing-8); }
    .bpm-ml-7   { margin-left: var(--spacing-7); }
    .bpm-ml-6   { margin-left: var(--spacing-6); }
    .bpm-ml-5   { margin-left: var(--spacing-5); }
    .bpm-ml-4   { margin-left: var(--spacing-4); }
    .bpm-ml-3   { margin-left: var(--spacing-3); }
    .bpm-ml-2   { margin-left: var(--spacing-2); }
    .bpm-ml-1   { margin-left: var(--spacing-1); }
    .bpm-ml-0   { margin-left: var(--spacing-none); }
}

@media (--breakpoint-l) {
    .bpl-margin-9   { margin: var(--spacing-9); }
    .bpl-margin-8   { margin: var(--spacing-8); }
    .bpl-margin-7   { margin: var(--spacing-7); }
    .bpl-margin-6   { margin: var(--spacing-6); }
    .bpl-margin-5   { margin: var(--spacing-5); }
    .bpl-margin-4   { margin: var(--spacing-4); }
    .bpl-margin-3   { margin: var(--spacing-3); }
    .bpl-margin-2   { margin: var(--spacing-2); }
    .bpl-margin-1   { margin: var(--spacing-1); }
    .bpl-margin-0   { margin: var(--spacing-none); }

    .bpl-mt-9   { margin-top: var(--spacing-9); }
    .bpl-mt-8   { margin-top: var(--spacing-8); }
    .bpl-mt-7   { margin-top: var(--spacing-7); }
    .bpl-mt-6   { margin-top: var(--spacing-6); }
    .bpl-mt-5   { margin-top: var(--spacing-5); }
    .bpl-mt-4   { margin-top: var(--spacing-4); }
    .bpl-mt-3   { margin-top: var(--spacing-3); }
    .bpl-mt-2   { margin-top: var(--spacing-2); }
    .bpl-mt-1   { margin-top: var(--spacing-1); }
    .bpl-mt-0   { margin-top: var(--spacing-none); }

    .bpl-mr-9   { margin-right: var(--spacing-9); }
    .bpl-mr-8   { margin-right: var(--spacing-8); }
    .bpl-mr-7   { margin-right: var(--spacing-7); }
    .bpl-mr-6   { margin-right: var(--spacing-6); }
    .bpl-mr-5   { margin-right: var(--spacing-5); }
    .bpl-mr-4   { margin-right: var(--spacing-4); }
    .bpl-mr-3   { margin-right: var(--spacing-3); }
    .bpl-mr-2   { margin-right: var(--spacing-2); }
    .bpl-mr-1   { margin-right: var(--spacing-1); }
    .bpl-mr-0   { margin-right: var(--spacing-none); }

    .bpl-mb-9   { margin-bottom: var(--spacing-9); }
    .bpl-mb-8   { margin-bottom: var(--spacing-8); }
    .bpl-mb-7   { margin-bottom: var(--spacing-7); }
    .bpl-mb-6   { margin-bottom: var(--spacing-6); }
    .bpl-mb-5   { margin-bottom: var(--spacing-5); }
    .bpl-mb-4   { margin-bottom: var(--spacing-4); }
    .bpl-mb-3   { margin-bottom: var(--spacing-3); }
    .bpl-mb-2   { margin-bottom: var(--spacing-2); }
    .bpl-mb-1   { margin-bottom: var(--spacing-1); }
    .bpl-mb-0   { margin-bottom: var(--spacing-none); }

    .bpl-ml-9   { margin-left: var(--spacing-9); }
    .bpl-ml-8   { margin-left: var(--spacing-8); }
    .bpl-ml-7   { margin-left: var(--spacing-7); }
    .bpl-ml-6   { margin-left: var(--spacing-6); }
    .bpl-ml-5   { margin-left: var(--spacing-5); }
    .bpl-ml-4   { margin-left: var(--spacing-4); }
    .bpl-ml-3   { margin-left: var(--spacing-3); }
    .bpl-ml-2   { margin-left: var(--spacing-2); }
    .bpl-ml-1   { margin-left: var(--spacing-1); }
    .bpl-ml-0   { margin-left: var(--spacing-none); }
}

@media (--breakpoint-xl) {
    .bpxl-margin-9   { margin: var(--spacing-9); }
    .bpxl-margin-8   { margin: var(--spacing-8); }
    .bpxl-margin-7   { margin: var(--spacing-7); }
    .bpxl-margin-6   { margin: var(--spacing-6); }
    .bpxl-margin-5   { margin: var(--spacing-5); }
    .bpxl-margin-4   { margin: var(--spacing-4); }
    .bpxl-margin-3   { margin: var(--spacing-3); }
    .bpxl-margin-2   { margin: var(--spacing-2); }
    .bpxl-margin-1   { margin: var(--spacing-1); }
    .bpxl-margin-0   { margin: var(--spacing-none); }

    .bpxl-mt-9   { margin-top: var(--spacing-9); }
    .bpxl-mt-8   { margin-top: var(--spacing-8); }
    .bpxl-mt-7   { margin-top: var(--spacing-7); }
    .bpxl-mt-6   { margin-top: var(--spacing-6); }
    .bpxl-mt-5   { margin-top: var(--spacing-5); }
    .bpxl-mt-4   { margin-top: var(--spacing-4); }
    .bpxl-mt-3   { margin-top: var(--spacing-3); }
    .bpxl-mt-2   { margin-top: var(--spacing-2); }
    .bpxl-mt-1   { margin-top: var(--spacing-1); }
    .bpxl-mt-0   { margin-top: var(--spacing-none); }

    .bpxl-mr-9   { margin-right: var(--spacing-9); }
    .bpxl-mr-8   { margin-right: var(--spacing-8); }
    .bpxl-mr-7   { margin-right: var(--spacing-7); }
    .bpxl-mr-6   { margin-right: var(--spacing-6); }
    .bpxl-mr-5   { margin-right: var(--spacing-5); }
    .bpxl-mr-4   { margin-right: var(--spacing-4); }
    .bpxl-mr-3   { margin-right: var(--spacing-3); }
    .bpxl-mr-2   { margin-right: var(--spacing-2); }
    .bpxl-mr-1   { margin-right: var(--spacing-1); }
    .bpxl-mr-0   { margin-right: var(--spacing-none); }

    .bpxl-mb-9   { margin-bottom: var(--spacing-9); }
    .bpxl-mb-8   { margin-bottom: var(--spacing-8); }
    .bpxl-mb-7   { margin-bottom: var(--spacing-7); }
    .bpxl-mb-6   { margin-bottom: var(--spacing-6); }
    .bpxl-mb-5   { margin-bottom: var(--spacing-5); }
    .bpxl-mb-4   { margin-bottom: var(--spacing-4); }
    .bpxl-mb-3   { margin-bottom: var(--spacing-3); }
    .bpxl-mb-2   { margin-bottom: var(--spacing-2); }
    .bpxl-mb-1   { margin-bottom: var(--spacing-1); }
    .bpxl-mb-0   { margin-bottom: var(--spacing-none); }

    .bpxl-ml-9   { margin-left: var(--spacing-9); }
    .bpxl-ml-8   { margin-left: var(--spacing-8); }
    .bpxl-ml-7   { margin-left: var(--spacing-7); }
    .bpxl-ml-6   { margin-left: var(--spacing-6); }
    .bpxl-ml-5   { margin-left: var(--spacing-5); }
    .bpxl-ml-4   { margin-left: var(--spacing-4); }
    .bpxl-ml-3   { margin-left: var(--spacing-3); }
    .bpxl-ml-2   { margin-left: var(--spacing-2); }
    .bpxl-ml-1   { margin-left: var(--spacing-1); }
    .bpxl-ml-0   { margin-left: var(--spacing-none); }
}
