/* Negative margin */

.nmt-xxxl        { margin-top: -var(--spacing-xxxl); }
.nmt-xxl         { margin-top: -var(--spacing-xxl); }
.nmt-xl          { margin-top: -var(--spacing-xl); }
.nmt-l           { margin-top: -var(--spacing-l); }
.nmt-m           { margin-top: -var(--spacing-m); }
.nmt-s           { margin-top: -var(--spacing-s); }
.nmt-xs          { margin-top: -var(--spacing-xs); }
.nmt-xxs         { margin-top: -var(--spacing-1); }
.nmt-xxxs        { margin-top: -var(--spacing-xxxs); }

.nmr-xxxl        { margin-right: -var(--spacing-xxxl); }
.nmr-xxl         { margin-right: -var(--spacing-xxl); }
.nmr-xl          { margin-right: -var(--spacing-xl); }
.nmr-l           { margin-right: -var(--spacing-l); }
.nmr-m           { margin-right: -var(--spacing-m); }
.nmr-s           { margin-right: -var(--spacing-s); }
.nmr-xs          { margin-right: -var(--spacing-xs); }
.nmr-xxs         { margin-right: -var(--spacing-1); }
.nmr-xxxs        { margin-right: -var(--spacing-xxxs); }

.nmb-xxxl        { margin-bottom: -var(--spacing-xxxl); }
.nmb-xxl         { margin-bottom: -var(--spacing-xxl); }
.nmb-xl          { margin-bottom: -var(--spacing-xl); }
.nmb-l           { margin-bottom: -var(--spacing-l); }
.nmb-m           { margin-bottom: -var(--spacing-m); }
.nmb-s           { margin-bottom: -var(--spacing-s); }
.nmb-xs          { margin-bottom: -var(--spacing-xs); }
.nmb-xxs         { margin-bottom: -var(--spacing-1); }
.nmb-xxxs        { margin-bottom: -var(--spacing-xxxs); }

.nml-xxxl        { margin-left: -var(--spacing-xxxl); }
.nml-xxl         { margin-left: -var(--spacing-xxl); }
.nml-xl          { margin-left: -var(--spacing-xl); }
.nml-l           { margin-left: -var(--spacing-l); }
.nml-m           { margin-left: -var(--spacing-m); }
.nml-s           { margin-left: -var(--spacing-s); }
.nml-xs          { margin-left: -var(--spacing-xs); }
.nml-xxs         { margin-left: -var(--spacing-1); }
.nml-xxxs        { margin-left: -var(--spacing-xxxs); }

@media (--breakpoint-s) {
    .bps-nmt-xxxl        { margin-top: -var(--spacing-xxxl); }
    .bps-nmt-xxl         { margin-top: -var(--spacing-xxl); }
    .bps-nmt-xl          { margin-top: -var(--spacing-xl); }
    .bps-nmt-l           { margin-top: -var(--spacing-l); }
    .bps-nmt-m           { margin-top: -var(--spacing-m); }
    .bps-nmt-s           { margin-top: -var(--spacing-s); }
    .bps-nmt-xs          { margin-top: -var(--spacing-xs); }
    .bps-nmt-xxs         { margin-top: -var(--spacing-1); }
    .bps-nmt-xxxs        { margin-top: -var(--spacing-xxxs); }

    .bps-nmr-xxxl        { margin-right: -var(--spacing-xxxl); }
    .bps-nmr-xxl         { margin-right: -var(--spacing-xxl); }
    .bps-nmr-xl          { margin-right: -var(--spacing-xl); }
    .bps-nmr-l           { margin-right: -var(--spacing-l); }
    .bps-nmr-m           { margin-right: -var(--spacing-m); }
    .bps-nmr-s           { margin-right: -var(--spacing-s); }
    .bps-nmr-xs          { margin-right: -var(--spacing-xs); }
    .bps-nmr-xxs         { margin-right: -var(--spacing-1); }
    .bps-nmr-xxxs        { margin-right: -var(--spacing-xxxs); }

    .bps-nmb-xxxl        { margin-bottom: -var(--spacing-xxxl); }
    .bps-nmb-xxl         { margin-bottom: -var(--spacing-xxl); }
    .bps-nmb-xl          { margin-bottom: -var(--spacing-xl); }
    .bps-nmb-l           { margin-bottom: -var(--spacing-l); }
    .bps-nmb-m           { margin-bottom: -var(--spacing-m); }
    .bps-nmb-s           { margin-bottom: -var(--spacing-s); }
    .bps-nmb-xs          { margin-bottom: -var(--spacing-xs); }
    .bps-nmb-xxs         { margin-bottom: -var(--spacing-1); }
    .bps-nmb-xxxs        { margin-bottom: -var(--spacing-xxxs); }

    .bps-nml-xxxl        { margin-left: -var(--spacing-xxxl); }
    .bps-nml-xxl         { margin-left: -var(--spacing-xxl); }
    .bps-nml-xl          { margin-left: -var(--spacing-xl); }
    .bps-nml-l           { margin-left: -var(--spacing-l); }
    .bps-nml-m           { margin-left: -var(--spacing-m); }
    .bps-nml-s           { margin-left: -var(--spacing-s); }
    .bps-nml-xs          { margin-left: -var(--spacing-xs); }
    .bps-nml-xxs         { margin-left: -var(--spacing-1); }
    .bps-nml-xxxs        { margin-left: -var(--spacing-xxxs); }
}

@media (--breakpoint-m) {
    .bpm-nmt-xxxl        { margin-top: -var(--spacing-xxxl); }
    .bpm-nmt-xxl         { margin-top: -var(--spacing-xxl); }
    .bpm-nmt-xl          { margin-top: -var(--spacing-xl); }
    .bpm-nmt-l           { margin-top: -var(--spacing-l); }
    .bpm-nmt-m           { margin-top: -var(--spacing-m); }
    .bpm-nmt-s           { margin-top: -var(--spacing-s); }
    .bpm-nmt-xs          { margin-top: -var(--spacing-xs); }
    .bpm-nmt-xxs         { margin-top: -var(--spacing-1); }
    .bpm-nmt-xxxs        { margin-top: -var(--spacing-xxxs); }

    .bpm-nmr-xxxl        { margin-right: -var(--spacing-xxxl); }
    .bpm-nmr-xxl         { margin-right: -var(--spacing-xxl); }
    .bpm-nmr-xl          { margin-right: -var(--spacing-xl); }
    .bpm-nmr-l           { margin-right: -var(--spacing-l); }
    .bpm-nmr-m           { margin-right: -var(--spacing-m); }
    .bpm-nmr-s           { margin-right: -var(--spacing-s); }
    .bpm-nmr-xs          { margin-right: -var(--spacing-xs); }
    .bpm-nmr-xxs         { margin-right: -var(--spacing-1); }
    .bpm-nmr-xxxs        { margin-right: -var(--spacing-xxxs); }

    .bpm-nmb-xxxl        { margin-bottom: -var(--spacing-xxxl); }
    .bpm-nmb-xxl         { margin-bottom: -var(--spacing-xxl); }
    .bpm-nmb-xl          { margin-bottom: -var(--spacing-xl); }
    .bpm-nmb-l           { margin-bottom: -var(--spacing-l); }
    .bpm-nmb-m           { margin-bottom: -var(--spacing-m); }
    .bpm-nmb-s           { margin-bottom: -var(--spacing-s); }
    .bpm-nmb-xs          { margin-bottom: -var(--spacing-xs); }
    .bpm-nmb-xxs         { margin-bottom: -var(--spacing-1); }
    .bpm-nmb-xxxs        { margin-bottom: -var(--spacing-xxxs); }

    .bpm-nml-xxxl        { margin-left: -var(--spacing-xxxl); }
    .bpm-nml-xxl         { margin-left: -var(--spacing-xxl); }
    .bpm-nml-xl          { margin-left: -var(--spacing-xl); }
    .bpm-nml-l           { margin-left: -var(--spacing-l); }
    .bpm-nml-m           { margin-left: -var(--spacing-m); }
    .bpm-nml-s           { margin-left: -var(--spacing-s); }
    .bpm-nml-xs          { margin-left: -var(--spacing-xs); }
    .bpm-nml-xxs         { margin-left: -var(--spacing-1); }
    .bpm-nml-xxxs        { margin-left: -var(--spacing-xxxs); }
}

@media (--breakpoint-l) {
    .bpl-nmt-xxxl        { margin-top: -var(--spacing-xxxl); }
    .bpl-nmt-xxl         { margin-top: -var(--spacing-xxl); }
    .bpl-nmt-xl          { margin-top: -var(--spacing-xl); }
    .bpl-nmt-l           { margin-top: -var(--spacing-l); }
    .bpl-nmt-m           { margin-top: -var(--spacing-m); }
    .bpl-nmt-s           { margin-top: -var(--spacing-s); }
    .bpl-nmt-xs          { margin-top: -var(--spacing-xs); }
    .bpl-nmt-xxs         { margin-top: -var(--spacing-1); }
    .bpl-nmt-xxxs        { margin-top: -var(--spacing-xxxs); }

    .bpl-nmr-xxxl        { margin-right: -var(--spacing-xxxl); }
    .bpl-nmr-xxl         { margin-right: -var(--spacing-xxl); }
    .bpl-nmr-xl          { margin-right: -var(--spacing-xl); }
    .bpl-nmr-l           { margin-right: -var(--spacing-l); }
    .bpl-nmr-m           { margin-right: -var(--spacing-m); }
    .bpl-nmr-s           { margin-right: -var(--spacing-s); }
    .bpl-nmr-xs          { margin-right: -var(--spacing-xs); }
    .bpl-nmr-xxs         { margin-right: -var(--spacing-1); }
    .bpl-nmr-xxxs        { margin-right: -var(--spacing-xxxs); }

    .bpl-nmb-xxxl        { margin-bottom: -var(--spacing-xxxl); }
    .bpl-nmb-xxl         { margin-bottom: -var(--spacing-xxl); }
    .bpl-nmb-xl          { margin-bottom: -var(--spacing-xl); }
    .bpl-nmb-l           { margin-bottom: -var(--spacing-l); }
    .bpl-nmb-m           { margin-bottom: -var(--spacing-m); }
    .bpl-nmb-s           { margin-bottom: -var(--spacing-s); }
    .bpl-nmb-xs          { margin-bottom: -var(--spacing-xs); }
    .bpl-nmb-xxs         { margin-bottom: -var(--spacing-1); }
    .bpl-nmb-xxxs        { margin-bottom: -var(--spacing-xxxs); }

    .bpl-nml-xxxl        { margin-left: -var(--spacing-xxxl); }
    .bpl-nml-xxl         { margin-left: -var(--spacing-xxl); }
    .bpl-nml-xl          { margin-left: -var(--spacing-xl); }
    .bpl-nml-l           { margin-left: -var(--spacing-l); }
    .bpl-nml-m           { margin-left: -var(--spacing-m); }
    .bpl-nml-s           { margin-left: -var(--spacing-s); }
    .bpl-nml-xs          { margin-left: -var(--spacing-xs); }
    .bpl-nml-xxs         { margin-left: -var(--spacing-1); }
    .bpl-nml-xxxs        { margin-left: -var(--spacing-xxxs); }
}

@media (--breakpoint-xl) {
    .bpxl-nmt-xxxl        { margin-top: -var(--spacing-xxxl); }
    .bpxl-nmt-xxl         { margin-top: -var(--spacing-xxl); }
    .bpxl-nmt-xl          { margin-top: -var(--spacing-xl); }
    .bpxl-nmt-l           { margin-top: -var(--spacing-l); }
    .bpxl-nmt-m           { margin-top: -var(--spacing-m); }
    .bpxl-nmt-s           { margin-top: -var(--spacing-s); }
    .bpxl-nmt-xs          { margin-top: -var(--spacing-xs); }
    .bpxl-nmt-xxs         { margin-top: -var(--spacing-1); }
    .bpxl-nmt-xxxs        { margin-top: -var(--spacing-xxxs); }

    .bpxl-nmr-xxxl        { margin-right: -var(--spacing-xxxl); }
    .bpxl-nmr-xxl         { margin-right: -var(--spacing-xxl); }
    .bpxl-nmr-xl          { margin-right: -var(--spacing-xl); }
    .bpxl-nmr-l           { margin-right: -var(--spacing-l); }
    .bpxl-nmr-m           { margin-right: -var(--spacing-m); }
    .bpxl-nmr-s           { margin-right: -var(--spacing-s); }
    .bpxl-nmr-xs          { margin-right: -var(--spacing-xs); }
    .bpxl-nmr-xxs         { margin-right: -var(--spacing-1); }
    .bpxl-nmr-xxxs        { margin-right: -var(--spacing-xxxs); }

    .bpxl-nmb-xxxl        { margin-bottom: -var(--spacing-xxxl); }
    .bpxl-nmb-xxl         { margin-bottom: -var(--spacing-xxl); }
    .bpxl-nmb-xl          { margin-bottom: -var(--spacing-xl); }
    .bpxl-nmb-l           { margin-bottom: -var(--spacing-l); }
    .bpxl-nmb-m           { margin-bottom: -var(--spacing-m); }
    .bpxl-nmb-s           { margin-bottom: -var(--spacing-s); }
    .bpxl-nmb-xs          { margin-bottom: -var(--spacing-xs); }
    .bpxl-nmb-xxs         { margin-bottom: -var(--spacing-1); }
    .bpxl-nmb-xxxs        { margin-bottom: -var(--spacing-xxxs); }

    .bpxl-nml-xxxl        { margin-left: -var(--spacing-xxxl); }
    .bpxl-nml-xxl         { margin-left: -var(--spacing-xxl); }
    .bpxl-nml-xl          { margin-left: -var(--spacing-xl); }
    .bpxl-nml-l           { margin-left: -var(--spacing-l); }
    .bpxl-nml-m           { margin-left: -var(--spacing-m); }
    .bpxl-nml-s           { margin-left: -var(--spacing-s); }
    .bpxl-nml-xs          { margin-left: -var(--spacing-xs); }
    .bpxl-nml-xxs         { margin-left: -var(--spacing-1); }
    .bpxl-nml-xxxs        { margin-left: -var(--spacing-xxxs); }
}
