/* Padding */

.padding-9  { padding: var(--spacing-9); }
.padding-8  { padding: var(--spacing-8); }
.padding-7  { padding: var(--spacing-7); }
.padding-6  { padding: var(--spacing-6); }
.padding-5  { padding: var(--spacing-5); }
.padding-4  { padding: var(--spacing-4); }
.padding-3  { padding: var(--spacing-3); }
.padding-2  { padding: var(--spacing-2); }
.padding-1  { padding: var(--spacing-1); }
.padding-0  { padding: 0; }

.pt-9        { padding-top: var(--spacing-9); }
.pt-8        { padding-top: var(--spacing-8); }
.pt-7         { padding-top: var(--spacing-7); }
.pt-6          { padding-top: var(--spacing-6); }
.pt-5           { padding-top: var(--spacing-5); }
.pt-4           { padding-top: var(--spacing-4); }
.pt-3           { padding-top: var(--spacing-3); }
.pt-2          { padding-top: var(--spacing-2); }
.pt-1         { padding-top: var(--spacing-1); }
.pt-0           { padding-top: 0; }

.pr-9        { padding-right: var(--spacing-9); }
.pr-8        { padding-right: var(--spacing-8); }
.pr-7         { padding-right: var(--spacing-7); }
.pr-6          { padding-right: var(--spacing-6); }
.pr-5           { padding-right: var(--spacing-5); }
.pr-4           { padding-right: var(--spacing-4); }
.pr-3           { padding-right: var(--spacing-3); }
.pr-2          { padding-right: var(--spacing-2); }
.pr-1         { padding-right: var(--spacing-1); }
.pr-0           { padding-right: 0; }

.pb-9        { padding-bottom: var(--spacing-9); }
.pb-8        { padding-bottom: var(--spacing-8); }
.pb-7         { padding-bottom: var(--spacing-7); }
.pb-6          { padding-bottom: var(--spacing-6); }
.pb-5           { padding-bottom: var(--spacing-5); }
.pb-4           { padding-bottom: var(--spacing-4); }
.pb-3           { padding-bottom: var(--spacing-3); }
.pb-2          { padding-bottom: var(--spacing-2); }
.pb-1         { padding-bottom: var(--spacing-1); }
.pb-0           { padding-bottom: 0; }

.pl-9        { padding-left: var(--spacing-9); }
.pl-8        { padding-left: var(--spacing-8); }
.pl-7         { padding-left: var(--spacing-7); }
.pl-6          { padding-left: var(--spacing-6); }
.pl-5           { padding-left: var(--spacing-5); }
.pl-4           { padding-left: var(--spacing-4); }
.pl-3           { padding-left: var(--spacing-3); }
.pl-2          { padding-left: var(--spacing-2); }
.pl-1         { padding-left: var(--spacing-1); }
.pl-0           { padding-left: 0; }

/* Remove padding for from first-child hack */

.pt-fc > div:first-child,
.pt-fc > li:first-child {
    padding-top: 0;
}

.pl-fc > div:first-child,
.pl-fc > li:first-child {
    padding-left: 0;
}

@media (--breakpoint-s) {
    .bps-padding-9  { padding: var(--spacing-9); }
    .bps-padding-8  { padding: var(--spacing-8); }
    .bps-padding-7  { padding: var(--spacing-7); }
    .bps-padding-6  { padding: var(--spacing-6); }
    .bps-padding-5  { padding: var(--spacing-5); }
    .bps-padding-4  { padding: var(--spacing-4); }
    .bps-padding-3  { padding: var(--spacing-3); }
    .bps-padding-2  { padding: var(--spacing-2); }
    .bps-padding-1  { padding: var(--spacing-1); }
    .bps-padding-0  { padding: 0; }

    .bps-pt-9   { padding-top: var(--spacing-9); }
    .bps-pt-8   { padding-top: var(--spacing-8); }
    .bps-pt-7   { padding-top: var(--spacing-7); }
    .bps-pt-6   { padding-top: var(--spacing-6); }
    .bps-pt-5   { padding-top: var(--spacing-5); }
    .bps-pt-4   { padding-top: var(--spacing-4); }
    .bps-pt-3   { padding-top: var(--spacing-3); }
    .bps-pt-2   { padding-top: var(--spacing-2); }
    .bps-pt-1   { padding-top: var(--spacing-1); }
    .bps-pt-0   { padding-top: 0; }

    .bps-pr-9   { padding-right: var(--spacing-9); }
    .bps-pr-8   { padding-right: var(--spacing-8); }
    .bps-pr-7   { padding-right: var(--spacing-7); }
    .bps-pr-6   { padding-right: var(--spacing-6); }
    .bps-pr-5   { padding-right: var(--spacing-5); }
    .bps-pr-4   { padding-right: var(--spacing-4); }
    .bps-pr-3   { padding-right: var(--spacing-3); }
    .bps-pr-2   { padding-right: var(--spacing-2); }
    .bps-pr-1   { padding-right: var(--spacing-1); }
    .bps-pr-0   { padding-right: 0; }

    .bps-pb-9   { padding-bottom: var(--spacing-9); }
    .bps-pb-8   { padding-bottom: var(--spacing-8); }
    .bps-pb-7   { padding-bottom: var(--spacing-7); }
    .bps-pb-6   { padding-bottom: var(--spacing-6); }
    .bps-pb-5   { padding-bottom: var(--spacing-5); }
    .bps-pb-4   { padding-bottom: var(--spacing-4); }
    .bps-pb-3   { padding-bottom: var(--spacing-3); }
    .bps-pb-2   { padding-bottom: var(--spacing-2); }
    .bps-pb-1   { padding-bottom: var(--spacing-1); }
    .bps-pb-0   { padding-bottom: 0; }

    .bps-pl-9   { padding-left: var(--spacing-9); }
    .bps-pl-8   { padding-left: var(--spacing-8); }
    .bps-pl-7   { padding-left: var(--spacing-7); }
    .bps-pl-6   { padding-left: var(--spacing-6); }
    .bps-pl-5   { padding-left: var(--spacing-5); }
    .bps-pl-4   { padding-left: var(--spacing-4); }
    .bps-pl-3   { padding-left: var(--spacing-3); }
    .bps-pl-2   { padding-left: var(--spacing-2); }
    .bps-pl-1   { padding-left: var(--spacing-1); }
    .bps-pl-0   { padding-left: 0; }
}

@media (--breakpoint-m) {
    .bpm-padding-9  { padding: var(--spacing-9); }
    .bpm-padding-8  { padding: var(--spacing-8); }
    .bpm-padding-7  { padding: var(--spacing-7); }
    .bpm-padding-6  { padding: var(--spacing-6); }
    .bpm-padding-5  { padding: var(--spacing-5); }
    .bpm-padding-4  { padding: var(--spacing-4); }
    .bpm-padding-3  { padding: var(--spacing-3); }
    .bpm-padding-2  { padding: var(--spacing-2); }
    .bpm-padding-1  { padding: var(--spacing-1); }
    .bpm-padding-0  { padding: 0; }

    .bpm-pt-9   { padding-top: var(--spacing-9); }
    .bpm-pt-8   { padding-top: var(--spacing-8); }
    .bpm-pt-7   { padding-top: var(--spacing-7); }
    .bpm-pt-6   { padding-top: var(--spacing-6); }
    .bpm-pt-5   { padding-top: var(--spacing-5); }
    .bpm-pt-4   { padding-top: var(--spacing-4); }
    .bpm-pt-3   { padding-top: var(--spacing-3); }
    .bpm-pt-2   { padding-top: var(--spacing-2); }
    .bpm-pt-1   { padding-top: var(--spacing-1); }
    .bpm-pt-0   { padding-top: 0; }

    .bpm-pr-9   { padding-right: var(--spacing-9); }
    .bpm-pr-8   { padding-right: var(--spacing-8); }
    .bpm-pr-7   { padding-right: var(--spacing-7); }
    .bpm-pr-6   { padding-right: var(--spacing-6); }
    .bpm-pr-5   { padding-right: var(--spacing-5); }
    .bpm-pr-4   { padding-right: var(--spacing-4); }
    .bpm-pr-3   { padding-right: var(--spacing-3); }
    .bpm-pr-2   { padding-right: var(--spacing-2); }
    .bpm-pr-1   { padding-right: var(--spacing-1); }
    .bpm-pr-0   { padding-right: 0; }

    .bpm-pb-9   { padding-bottom: var(--spacing-9); }
    .bpm-pb-8   { padding-bottom: var(--spacing-8); }
    .bpm-pb-7   { padding-bottom: var(--spacing-7); }
    .bpm-pb-6   { padding-bottom: var(--spacing-6); }
    .bpm-pb-5   { padding-bottom: var(--spacing-5); }
    .bpm-pb-4   { padding-bottom: var(--spacing-4); }
    .bpm-pb-3   { padding-bottom: var(--spacing-3); }
    .bpm-pb-2   { padding-bottom: var(--spacing-2); }
    .bpm-pb-1   { padding-bottom: var(--spacing-1); }
    .bpm-pb-0   { padding-bottom: 0; }

    .bpm-pl-9   { padding-left: var(--spacing-9); }
    .bpm-pl-8   { padding-left: var(--spacing-8); }
    .bpm-pl-7   { padding-left: var(--spacing-7); }
    .bpm-pl-6   { padding-left: var(--spacing-6); }
    .bpm-pl-5   { padding-left: var(--spacing-5); }
    .bpm-pl-4   { padding-left: var(--spacing-4); }
    .bpm-pl-3   { padding-left: var(--spacing-3); }
    .bpm-pl-2   { padding-left: var(--spacing-2); }
    .bpm-pl-1   { padding-left: var(--spacing-1); }
    .bpm-pl-0   { padding-left: 0; }
}

@media (--breakpoint-l) {
    .bpl-padding-9  { padding: var(--spacing-9); }
    .bpl-padding-8  { padding: var(--spacing-8); }
    .bpl-padding-7  { padding: var(--spacing-7); }
    .bpl-padding-6  { padding: var(--spacing-6); }
    .bpl-padding-5  { padding: var(--spacing-5); }
    .bpl-padding-4  { padding: var(--spacing-4); }
    .bpl-padding-3  { padding: var(--spacing-3); }
    .bpl-padding-2  { padding: var(--spacing-2); }
    .bpl-padding-1  { padding: var(--spacing-1); }
    .bpl-padding-0  { padding: 0; }

    .bpl-pt-9   { padding-top: var(--spacing-9); }
    .bpl-pt-8   { padding-top: var(--spacing-8); }
    .bpl-pt-7   { padding-top: var(--spacing-7); }
    .bpl-pt-6   { padding-top: var(--spacing-6); }
    .bpl-pt-5   { padding-top: var(--spacing-5); }
    .bpl-pt-4   { padding-top: var(--spacing-4); }
    .bpl-pt-3   { padding-top: var(--spacing-3); }
    .bpl-pt-2   { padding-top: var(--spacing-2); }
    .bpl-pt-1   { padding-top: var(--spacing-1); }
    .bpl-pt-0   { padding-top: 0; }

    .bpl-pr-9   { padding-right: var(--spacing-9); }
    .bpl-pr-8   { padding-right: var(--spacing-8); }
    .bpl-pr-7   { padding-right: var(--spacing-7); }
    .bpl-pr-6   { padding-right: var(--spacing-6); }
    .bpl-pr-5   { padding-right: var(--spacing-5); }
    .bpl-pr-4   { padding-right: var(--spacing-4); }
    .bpl-pr-3   { padding-right: var(--spacing-3); }
    .bpl-pr-2   { padding-right: var(--spacing-2); }
    .bpl-pr-1   { padding-right: var(--spacing-1); }
    .bpl-pr-0   { padding-right: 0; }

    .bpl-pb-9   { padding-bottom: var(--spacing-9); }
    .bpl-pb-8   { padding-bottom: var(--spacing-8); }
    .bpl-pb-7   { padding-bottom: var(--spacing-7); }
    .bpl-pb-6   { padding-bottom: var(--spacing-6); }
    .bpl-pb-5   { padding-bottom: var(--spacing-5); }
    .bpl-pb-4   { padding-bottom: var(--spacing-4); }
    .bpl-pb-3   { padding-bottom: var(--spacing-3); }
    .bpl-pb-2   { padding-bottom: var(--spacing-2); }
    .bpl-pb-1   { padding-bottom: var(--spacing-1); }
    .bpl-pb-0   { padding-bottom: 0; }

    .bpl-pl-9   { padding-left: var(--spacing-9); }
    .bpl-pl-8   { padding-left: var(--spacing-8); }
    .bpl-pl-7   { padding-left: var(--spacing-7); }
    .bpl-pl-6   { padding-left: var(--spacing-6); }
    .bpl-pl-5   { padding-left: var(--spacing-5); }
    .bpl-pl-4   { padding-left: var(--spacing-4); }
    .bpl-pl-3   { padding-left: var(--spacing-3); }
    .bpl-pl-2   { padding-left: var(--spacing-2); }
    .bpl-pl-1   { padding-left: var(--spacing-1); }
    .bpl-pl-0   { padding-left: 0; }
}

@media (--breakpoint-xl) {
    .bpxl-padding-9  { padding: var(--spacing-9); }
    .bpxl-padding-8  { padding: var(--spacing-8); }
    .bpxl-padding-7  { padding: var(--spacing-7); }
    .bpxl-padding-6  { padding: var(--spacing-6); }
    .bpxl-padding-5  { padding: var(--spacing-5); }
    .bpxl-padding-4  { padding: var(--spacing-4); }
    .bpxl-padding-3  { padding: var(--spacing-3); }
    .bpxl-padding-2  { padding: var(--spacing-2); }
    .bpxl-padding-1  { padding: var(--spacing-1); }
    .bpxl-padding-0  { padding: 0; }

    .bpxl-pt-9   { padding-top: var(--spacing-9); }
    .bpxl-pt-8   { padding-top: var(--spacing-8); }
    .bpxl-pt-7   { padding-top: var(--spacing-7); }
    .bpxl-pt-6   { padding-top: var(--spacing-6); }
    .bpxl-pt-5   { padding-top: var(--spacing-5); }
    .bpxl-pt-4   { padding-top: var(--spacing-4); }
    .bpxl-pt-3   { padding-top: var(--spacing-3); }
    .bpxl-pt-2   { padding-top: var(--spacing-2); }
    .bpxl-pt-1   { padding-top: var(--spacing-1); }
    .bpxl-pt-0   { padding-top: 0; }

    .bpxl-pr-9   { padding-right: var(--spacing-9); }
    .bpxl-pr-8   { padding-right: var(--spacing-8); }
    .bpxl-pr-7   { padding-right: var(--spacing-7); }
    .bpxl-pr-6   { padding-right: var(--spacing-6); }
    .bpxl-pr-5   { padding-right: var(--spacing-5); }
    .bpxl-pr-4   { padding-right: var(--spacing-4); }
    .bpxl-pr-3   { padding-right: var(--spacing-3); }
    .bpxl-pr-2   { padding-right: var(--spacing-2); }
    .bpxl-pr-1   { padding-right: var(--spacing-1); }
    .bpxl-pr-0   { padding-right: 0; }

    .bpxl-pb-9   { padding-bottom: var(--spacing-9); }
    .bpxl-pb-8   { padding-bottom: var(--spacing-8); }
    .bpxl-pb-7   { padding-bottom: var(--spacing-7); }
    .bpxl-pb-6   { padding-bottom: var(--spacing-6); }
    .bpxl-pb-5   { padding-bottom: var(--spacing-5); }
    .bpxl-pb-4   { padding-bottom: var(--spacing-4); }
    .bpxl-pb-3   { padding-bottom: var(--spacing-3); }
    .bpxl-pb-2   { padding-bottom: var(--spacing-2); }
    .bpxl-pb-1   { padding-bottom: var(--spacing-1); }
    .bpxl-pb-0   { padding-bottom: 0; }

    .bpxl-pl-9   { padding-left: var(--spacing-9); }
    .bpxl-pl-8   { padding-left: var(--spacing-8); }
    .bpxl-pl-7   { padding-left: var(--spacing-7); }
    .bpxl-pl-6   { padding-left: var(--spacing-6); }
    .bpxl-pl-5   { padding-left: var(--spacing-5); }
    .bpxl-pl-4   { padding-left: var(--spacing-4); }
    .bpxl-pl-3   { padding-left: var(--spacing-3); }
    .bpxl-pl-2   { padding-left: var(--spacing-2); }
    .bpxl-pl-1   { padding-left: var(--spacing-1); }
    .bpxl-pl-0   { padding-left: 0; }
}
