/* Positioning */

.pinTL {
    top: 0;
    left: 0;
}

.pinTR {
    top: 0;
    right: 0;
}

.pinBR {
    bottom: 0;
    right: 0;
}

.pinBL {
    bottom: 0;
    left: 0;
}

.pinAll {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.pinOS {
    top: -99999px;
    left: -99999px;
}
