/* Resize */

.resize-none        { resize: none; }
.resize-both        { resize: both; }
.resize-horizontal  { resize: horizontal; }
.resize-vertical    { resize: vertical; }

@media (--breakpoint-1) {
    .bp1-resize-none        { resize: none; }
    .bp1-resize-both        { resize: both; }
    .bp1-resize-horizontal  { resize: horizontal; }
    .bp1-resize-vertical    { resize: vertical; }
}

@media (--breakpoint-2) {
    .bp2-resize-none        { resize: none; }
    .bp2-resize-both        { resize: both; }
    .bp2-resize-horizontal  { resize: horizontal; }
    .bp2-resize-vertical    { resize: vertical; }
}

@media (--breakpoint-3) {
    .bp3-resize-none        { resize: none; }
    .bp3-resize-both        { resize: both; }
    .bp3-resize-horizontal  { resize: horizontal; }
    .bp3-resize-vertical    { resize: vertical; }
}

@media (--breakpoint-4) {
    .bp4-resize-none        { resize: none; }
    .bp4-resize-both        { resize: both; }
    .bp4-resize-horizontal  { resize: horizontal; }
    .bp4-resize-vertical    { resize: vertical; }
}
