/* Text Rendering */

.tr-auto                { text-rendering: auto; }
.tr-optimizeSpeed       { text-rendering: optimizeSpeed; }
.tr-optimizeLegibility  { text-rendering: optimizeLegibility; }
.tr-geometricPrecision  { text-rendering: geometricPrecision; }

@media (--breakpoint-1) {
  .bp1-tr-auto                { text-rendering: auto; }
  .bp1-tr-optimizeSpeed       { text-rendering: optimizeSpeed; }
  .bp1-tr-optimizeLegibility  { text-rendering: optimizeLegibility; }
  .bp1-tr-geometricPrecision  { text-rendering: geometricPrecision; }
}

@media (--breakpoint-2) {
  .bp2-tr-auto                { text-rendering: auto; }
  .bp2-tr-optimizeSpeed       { text-rendering: optimizeSpeed; }
  .bp2-tr-optimizeLegibility  { text-rendering: optimizeLegibility; }
  .bp2-tr-geometricPrecision  { text-rendering: geometricPrecision; }
}

@media (--breakpoint-3) {
  .bp3-tr-auto                { text-rendering: auto; }
  .bp3-tr-optimizeSpeed       { text-rendering: optimizeSpeed; }
  .bp3-tr-optimizeLegibility  { text-rendering: optimizeLegibility; }
  .bp3-tr-geometricPrecision  { text-rendering: geometricPrecision; }
}

@media (--breakpoint-4) {
  .bp4-tr-auto                { text-rendering: auto; }
  .bp4-tr-optimizeSpeed       { text-rendering: optimizeSpeed; }
  .bp4-tr-optimizeLegibility  { text-rendering: optimizeLegibility; }
  .bp4-tr-geometricPrecision  { text-rendering: geometricPrecision; }
}
