/* Text Align */

.ta-left    { text-align: left; }
.ta-center  { text-align: center; }
.ta-right   { text-align: right; }

@media (--breakpoint-s) {
  .bps-ta-left    { text-align: left; }
  .bps-ta-center  { text-align: center; }
  .bps-ta-right   { text-align: right; }
}

@media (--breakpoint-m) {
  .bpm-ta-left    { text-align: left; }
  .bpm-ta-center  { text-align: center; }
  .bpm-ta-right   { text-align: right; }
}

@media (--breakpoint-l) {
  .bpl-ta-left    { text-align: left; }
  .bpl-ta-center  { text-align: center; }
  .bpl-ta-right   { text-align: right; }
}

@media (--breakpoint-xl) {
  .bpxl-ta-left    { text-align: left; }
  .bpxl-ta-center  { text-align: center; }
  .bpxl-ta-right   { text-align: right; }
}
