/* Transition duration */

.td-0       { transition-duration: 0; }
.td-xl      { transition-duration: var(--transitionDuration-xl); }
.td-l       { transition-duration: var(--transitionDuration-l); }
.td-m       { transition-duration: var(--transitionDuration-m); }
.td-s       { transition-duration: var(--transitionDuration-s); }
.td-xs      { transition-duration: var(--transitionDuration-xs); }
