/* Transform origin */

.transform-scaleUp     { transform: scale(1.1); }
.transform-scaleDown   { transform: scale(.9); }

.transform-pullUp      { transform: translateY(-1px); }
.transform-pullRight   { transform: translateX(1px); }
.transform-pullDown    { transform: translateY(1px); }
.transform-pullLeft    { transform: translateX(-1px); }

@media (hover) {
    .transform-scaleUp--hover:hover     { transform: scale(1.1); }
    .transform-scaleDown--hover:hover   { transform: scale(.9); }

    .transform-pullUp--hover:hover      { transform: translateY(-1px); }
    .transform-pullRight--hover:hover   { transform: translateX(1px); }
    .transform-pullDown--hover:hover    { transform: translateY(1px); }
    .transform-pullLeft--hover:hover    { transform: translateX(-1px); }
}
