/* Will change */

.wc-scrollPosition  { will-change: scroll-position; }
.wc-contents        { will-change: contents; }
.wc-transform       { will-change: transform; }
.wc-opacity         { will-change: opacity; }
.wc-top             { will-change: top; }
.wc-left            { will-change: left; }
.wc-bottom          { will-change: bottom; }
.wc-right           { will-change: right; }

@media (--breakpoint-s) {
    .bps-wc-scrollPosition  { will-change: scroll-position; }
    .bps-wc-contents        { will-change: contents; }
    .bps-wc-transform       { will-change: transform; }
    .bps-wc-opacity         { will-change: opacity; }
    .bps-wc-top             { will-change: top; }
    .bps-wc-left            { will-change: left; }
    .bps-wc-bottom          { will-change: bottom; }
    .bps-wc-right           { will-change: right; }
}

@media (--breakpoint-m) {
    .bpm-wc-scrollPosition  { will-change: scroll-position; }
    .bpm-wc-contents        { will-change: contents; }
    .bpm-wc-transform       { will-change: transform; }
    .bpm-wc-opacity         { will-change: opacity; }
    .bpm-wc-top             { will-change: top; }
    .bpm-wc-left            { will-change: left; }
    .bpm-wc-bottom          { will-change: bottom; }
    .bpm-wc-right           { will-change: right; }
}

@media (--breakpoint-l) {
    .bpl-wc-scrollPosition  { will-change: scroll-position; }
    .bpl-wc-contents        { will-change: contents; }
    .bpl-wc-transform       { will-change: transform; }
    .bpl-wc-opacity         { will-change: opacity; }
    .bpl-wc-top             { will-change: top; }
    .bpl-wc-left            { will-change: left; }
    .bpl-wc-bottom          { will-change: bottom; }
    .bpl-wc-right           { will-change: right; }
}

@media (--breakpoint-xl) {
    .bpxl-wc-scrollPosition  { will-change: scroll-position; }
    .bpxl-wc-contents        { will-change: contents; }
    .bpxl-wc-transform       { will-change: transform; }
    .bpxl-wc-opacity         { will-change: opacity; }
    .bpxl-wc-top             { will-change: top; }
    .bpxl-wc-left            { will-change: left; }
    .bpxl-wc-bottom          { will-change: bottom; }
    .bpxl-wc-right           { will-change: right; }
}
