.ai-flexStart           { align-items: flex-start; }
.ai-flexEnd             { align-items: flex-end; }
.ai-center              { align-items: center; }
.ai-baseline            { align-items: baseline; }
.ai-stretch             { align-items: stretch; }

@media (--breakpoint-1) {
    .bp1-ai-flexStart           { align-items: flex-start; }
    .bp1-ai-flexEnd             { align-items: flex-end; }
    .bp1-ai-center              { align-items: center; }
    .bp1-ai-baseline            { align-items: baseline; }
    .bp1-ai-stretch             { align-items: stretch; }
}

@media (--breakpoint-2) {
    .bp2-ai-flexStart           { align-items: flex-start; }
    .bp2-ai-flexEnd             { align-items: flex-end; }
    .bp2-ai-center              { align-items: center; }
    .bp2-ai-baseline            { align-items: baseline; }
    .bp2-ai-stretch             { align-items: stretch; }
}

@media (--breakpoint-3) {
    .bp3-ai-flexStart           { align-items: flex-start; }
    .bp3-ai-flexEnd             { align-items: flex-end; }
    .bp3-ai-center              { align-items: center; }
    .bp3-ai-baseline            { align-items: baseline; }
    .bp3-ai-stretch             { align-items: stretch; }
}

@media (--breakpoint-4) {
    .bp4-ai-flexStart           { align-items: flex-start; }
    .bp4-ai-flexEnd             { align-items: flex-end; }
    .bp4-ai-center              { align-items: center; }
    .bp4-ai-baseline            { align-items: baseline; }
    .bp4-ai-stretch             { align-items: stretch; }
}
