.ac-flexStart           { align-content: flex-start; }
.ac-flexEnd             { align-content: flex-end; }
.ac-center              { align-content: center; }
.ac-spaceBetween             { align-content: space-between; }
.ac-spaceAround              { align-content: space-around; }
.ac-stretch             { align-content: stretch; }

@media (--breakpoint-1) {
    .bp1-ac-flexStart           { align-content: flex-start; }
    .bp1-ac-flexEnd             { align-content: flex-end; }
    .bp1-ac-center              { align-content: center; }
    .bp1-ac-spaceBetween             { align-content: space-between; }
    .bp1-ac-spaceAround              { align-content: space-around; }
    .bp1-ac-stretch             { align-content: stretch; }
}

@media (--breakpoint-2) {
    .bp1-ac-flexStart           { align-content: flex-start; }
    .bp1-ac-flexEnd             { align-content: flex-end; }
    .bp1-ac-center              { align-content: center; }
    .bp1-ac-spaceBetween             { align-content: space-between; }
    .bp1-ac-spaceAround              { align-content: space-around; }
    .bp1-ac-stretch             { align-content: stretch; }
}

@media (--breakpoint-3) {
    .bp1-ac-flexStart           { align-content: flex-start; }
    .bp1-ac-flexEnd             { align-content: flex-end; }
    .bp1-ac-center              { align-content: center; }
    .bp1-ac-spaceBetween             { align-content: space-between; }
    .bp1-ac-spaceAround              { align-content: space-around; }
    .bp1-ac-stretch             { align-content: stretch; }
}

@media (--breakpoint-4) {
    .bp1-ac-flexStart           { align-content: flex-start; }
    .bp1-ac-flexEnd             { align-content: flex-end; }
    .bp1-ac-center              { align-content: center; }
    .bp1-ac-spaceBetween             { align-content: space-between; }
    .bp1-ac-spaceAround              { align-content: space-around; }
    .bp1-ac-stretch             { align-content: stretch; }
}
