/* Background Size */

.bs-cover           { background-size: cover; }
.bs-contain         { background-size: contain; }
.bs-auto            { background-size: auto; }
.bs-50              { background-size: 50%; }
.bs-100             { background-size: 100%; }

@media (--breakpoint-1) {
  .bp1-bs-cover     { background-size: cover; }
  .bp1-bs-contain   { background-size: contain; }
  .bp1-bs-auto      { background-size: auto; }
  .bp1-bs-50        { background-size: 50%; }
  .bp1-bs-100       { background-size: 100%; }
}

@media (--breakpoint-2) {
  .bp2-bs-cover     { background-size: cover; }
  .bp2-bs-contain   { background-size: contain; }
  .bp2-bs-auto      { background-size: auto; }
  .bp2-bs-50        { background-size: 50%; }
  .bp2-bs-100       { background-size: 100%; }
}

@media (--breakpoint-3) {
  .bp3-bs-cover     { background-size: cover; }
  .bp3-bs-contain   { background-size: contain; }
  .bp3-bs-auto      { background-size: auto; }
  .bp3-bs-50        { background-size: 50%; }
  .bp3-bs-100       { background-size: 100%; }
}

@media (--breakpoint-4) {
  .bp4-bs-cover    { background-size: cover; }
  .bp4-bs-contain  { background-size: contain; }
  .bp4-bs-auto     { background-size: auto; }
  .bp4-bs-50       { background-size: 50%; }
  .bp4-bs-100      { background-size: 100%; }
}
