/* Background Position */

.bp-LT  { background-position: left top; }
.bp-LC  { background-position: left center; }
.bp-LB  { background-position: left bottom; }
.bp-RT  { background-position: right top; }
.bp-RC  { background-position: right center; }
.bp-RB  { background-position: right bottom; }
.bp-CT  { background-position: center top; }
.bp-CC  { background-position: center center; }
.bp-CB  { background-position: center bottom; }

@media (--breakpoint-1) {
    .bp1-bp-LT  { background-position: left top; }
    .bp1-bp-LC  { background-position: left center; }
    .bp1-bp-LB  { background-position: left bottom; }
    .bp1-bp-RT  { background-position: right top; }
    .bp1-bp-RC  { background-position: right center; }
    .bp1-bp-RB  { background-position: right bottom; }
    .bp1-bp-CT  { background-position: center top; }
    .bp1-bp-CC  { background-position: center center; }
    .bp1-bp-CB  { background-position: center bottom; }
}

@media (--breakpoint-2) {
    .bp2-bp-LT  { background-position: left top; }
    .bp2-bp-LC  { background-position: left center; }
    .bp2-bp-LB  { background-position: left bottom; }
    .bp2-bp-RT  { background-position: right top; }
    .bp2-bp-RC  { background-position: right center; }
    .bp2-bp-RB  { background-position: right bottom; }
    .bp2-bp-CT  { background-position: center top; }
    .bp2-bp-CC  { background-position: center center; }
    .bp2-bp-CB  { background-position: center bottom; }
}

@media (--breakpoint-3) {
    .bp3-bp-LT  { background-position: left top; }
    .bp3-bp-LC  { background-position: left center; }
    .bp3-bp-LB  { background-position: left bottom; }
    .bp3-bp-RT  { background-position: right top; }
    .bp3-bp-RC  { background-position: right center; }
    .bp3-bp-RB  { background-position: right bottom; }
    .bp3-bp-CT  { background-position: center top; }
    .bp3-bp-CC  { background-position: center center; }
    .bp3-bp-CB  { background-position: center bottom; }
}

@media (--breakpoint-4) {
    .bp4-bp-LT  { background-position: left top; }
    .bp4-bp-LC  { background-position: left center; }
    .bp4-bp-LB  { background-position: left bottom; }
    .bp4-bp-RT  { background-position: right top; }
    .bp4-bp-RC  { background-position: right center; }
    .bp4-bp-RB  { background-position: right bottom; }
    .bp4-bp-CT  { background-position: center top; }
    .bp4-bp-CC  { background-position: center center; }
    .bp4-bp-CB  { background-position: center bottom; }
}
