/* Border color */

.borderColor-white                  { border-color: var(--white); }
.borderColor-black                  { border-color: var(--black); }
.borderColor-transparent            { border-color: transparent; }

/* .borderColor-white--opaque          { border-color: rgba(255,255,255, var(--opaque)); }
.borderColor-white--translucent     { border-color: rgba(255,255,255, var(--translucent)); }
.borderColor-white--transparent     { border-color: rgba(255,255,255, var(--transparent)); }
.borderColor-white--pellucid        { border-color: rgba(255,255,255, var(--pellucid)); }
.borderColor-white--limpid          { border-color: rgba(255,255,255, var(--limpid)); }

.borderColor-black--opaque          { border-color: rgba(0,0,0, var(--opaque)); }
.borderColor-black--translucent     { border-color: rgba(0,0,0, var(--translucent)); }
.borderColor-black--transparent     { border-color: rgba(0,0,0, var(--transparent)); }
.borderColor-black--pellucid        { border-color: rgba(0,0,0, var(--pellucid)); }
.borderColor-black--limpid          { border-color: rgba(0,0,0, var(--limpid)); } */

.borderColor-red                    { border-color: var(--red500); }
.borderColor-pink                   { border-color: var(--pink500); }
.borderColor-purple                 { border-color: var(--purple500); }
.borderColor-deepPurple             { border-color: var(--violet500); }
.borderColor-indigo                 { border-color: var(--indigo500); }
.borderColor-blue                   { border-color: var(--blue500); }
.borderColor-teal                   { border-color: var(--teal500); }
.borderColor-green                  { border-color: var(--green500); }
.borderColor-lime                   { border-color: var(--lime500); }
.borderColor-yellow                 { border-color: var(--yellow500); }
.borderColor-amber                  { border-color: var(--amber500); }
.borderColor-orange                 { border-color: var(--orange500); }
.borderColor-brown                  { border-color: var(--brown500); }

.borderColor-pink300                { border-color: var(--pink300); }
.borderColor-blue300                { border-color: var(--blue300); }
.borderColor-teal300                { border-color: var(--teal300); }
.borderColor-amber300               { border-color: var(--amber300); }

.borderColor-gray100                { border-color: var(--gray100); }
.borderColor-gray200                { border-color: var(--gray200); }
.borderColor-gray300                { border-color: var(--gray300); }
.borderColor-gray400                { border-color: var(--gray400); }
.borderColor-gray500                { border-color: var(--gray500); }
.borderColor-gray600                { border-color: var(--gray600); }
.borderColor-gray700                { border-color: var(--gray700); }
.borderColor-gray800                { border-color: var(--gray800); }
.borderColor-gray900                { border-color: var(--gray900); }
