/* Border radius */

.br-0       { border-radius: 0; }
.br-100       { border-radius: 2px; }
.br-200       { border-radius: 4px; }
.br-300       { border-radius: 10px; }

.btlr-0     { border-top-left-radius: 0; }
.btlr-100     { border-top-left-radius: 2px; }
.btlr-200     { border-top-left-radius: 4px; }
.btlr-300     { border-top-left-radius: 10px; }

.btrr-0     { border-top-right-radius: 0; }
.btrr-100     { border-top-right-radius: 2px; }
.btrr-200     { border-top-right-radius: 4px; }
.btrr-300     { border-top-right-radius: 10px; }

.bbrr-0     { border-bottom-right-radius: 0; }
.bbrr-100     { border-bottom-right-radius: 2px; }
.bbrr-200     { border-bottom-right-radius: 4px; }
.bbrr-300     { border-bottom-right-radius: 10px; }

.bblr-0     { border-bottom-left-radius: 0; }
.bblr-100     { border-bottom-left-radius: 2px; }
.bblr-200     { border-bottom-left-radius: 4px; }
.bblr-300     { border-bottom-left-radius: 10px; }

@media (--breakpoint-1) {
    .bp1-br-0       { border-radius: 0; }
    .bp1-br-100       { border-radius: 2px; }
    .bp1-br-200       { border-radius: 4px; }
    .bp1-br-300       { border-radius: 10px; }
    .bp1-br-circle  { border-radius: 50%; }

    .bp1-btlr-0     { border-top-left-radius: 0; }
    .bp1-btlr-100     { border-top-left-radius: 2px; }
    .bp1-btlr-200     { border-top-left-radius: 4px; }
    .bp1-btlr-300     { border-top-left-radius: 10px; }

    .bp1-btrr-0     { border-top-right-radius: 0; }
    .bp1-btrr-100     { border-top-right-radius: 2px; }
    .bp1-btrr-200     { border-top-right-radius: 4px; }
    .bp1-btrr-300     { border-top-right-radius: 10px; }

    .bp1-bbrr-0     { border-bottom-right-radius: 0; }
    .bp1-bbrr-s     { border-bottom-right-radius: 2px; }
    .bp1-bbrr-200     { border-bottom-right-radius: 4px; }
    .bp1-bbrr-300     { border-bottom-right-radius: 10px; }

    .bp1-bblr-0     { border-bottom-left-radius: 0; }
    .bp1-bblr-100     { border-bottom-left-radius: 2px; }
    .bp1-bblr-200     { border-bottom-left-radius: 4px; }
    .bp1-bblr-300     { border-bottom-left-radius: 10px; }
}

@media (--breakpoint-2) {
    .bp2-br-0       { border-radius: 0; }
    .bp2-br-100       { border-radius: 2px; }
    .bp2-br-200       { border-radius: 4px; }
    .bp2-br-300       { border-radius: 10px; }
    .bp2-br-circle  { border-radius: 50%; }

    .bp2-btlr-0     { border-top-left-radius: 0; }
    .bp2-btlr-100     { border-top-left-radius: 2px; }
    .bp2-btlr-200     { border-top-left-radius: 4px; }
    .bp2-btlr-300     { border-top-left-radius: 10px; }

    .bp2-btrr-0     { border-top-right-radius: 0; }
    .bp2-btrr-100     { border-top-right-radius: 2px; }
    .bp2-btrr-200     { border-top-right-radius: 4px; }
    .bp2-btrr-300     { border-top-right-radius: 10px; }

    .bp2-bbrr-0     { border-bottom-right-radius: 0; }
    .bp2-bbrr-s     { border-bottom-right-radius: 2px; }
    .bp2-bbrr-200     { border-bottom-right-radius: 4px; }
    .bp2-bbrr-300     { border-bottom-right-radius: 10px; }

    .bp2-bblr-0     { border-bottom-left-radius: 0; }
    .bp2-bblr-100     { border-bottom-left-radius: 2px; }
    .bp2-bblr-200     { border-bottom-left-radius: 4px; }
    .bp2-bblr-300     { border-bottom-left-radius: 10px; }
}

@media (--breakpoint-3) {
    .bp3-br-0       { border-radius: 0; }
    .bp3-br-100       { border-radius: 2px; }
    .bp3-br-200       { border-radius: 4px; }
    .bp3-br-300       { border-radius: 10px; }
    .bp3-br-circle  { border-radius: 50%; }

    .bp3-btlr-0     { border-top-left-radius: 0; }
    .bp3-btlr-100     { border-top-left-radius: 2px; }
    .bp3-btlr-200     { border-top-left-radius: 4px; }
    .bp3-btlr-300     { border-top-left-radius: 10px; }

    .bp3-btrr-0     { border-top-right-radius: 0; }
    .bp3-btrr-100     { border-top-right-radius: 2px; }
    .bp3-btrr-200     { border-top-right-radius: 4px; }
    .bp3-btrr-300     { border-top-right-radius: 10px; }

    .bp3-bbrr-0     { border-bottom-right-radius: 0; }
    .bp3-bbrr-s     { border-bottom-right-radius: 2px; }
    .bp3-bbrr-200     { border-bottom-right-radius: 4px; }
    .bp3-bbrr-300     { border-bottom-right-radius: 10px; }

    .bp3-bblr-0     { border-bottom-left-radius: 0; }
    .bp3-bblr-100     { border-bottom-left-radius: 2px; }
    .bp3-bblr-200     { border-bottom-left-radius: 4px; }
    .bp3-bblr-300     { border-bottom-left-radius: 10px; }
}

@media (--breakpoint-4) {
    .bp4-br-0       { border-radius: 0; }
    .bp4-br-100       { border-radius: 2px; }
    .bp4-br-200       { border-radius: 4px; }
    .bp4-br-300       { border-radius: 10px; }
    .bp4-br-circle  { border-radius: 50%; }

    .bp4-btlr-0     { border-top-left-radius: 0; }
    .bp4-btlr-100     { border-top-left-radius: 2px; }
    .bp4-btlr-200     { border-top-left-radius: 4px; }
    .bp4-btlr-300     { border-top-left-radius: 10px; }

    .bp4-btrr-0     { border-top-right-radius: 0; }
    .bp4-btrr-100     { border-top-right-radius: 2px; }
    .bp4-btrr-200     { border-top-right-radius: 4px; }
    .bp4-btrr-300     { border-top-right-radius: 10px; }

    .bp4-bbrr-0     { border-bottom-right-radius: 0; }
    .bp4-bbrr-s     { border-bottom-right-radius: 2px; }
    .bp4-bbrr-200     { border-bottom-right-radius: 4px; }
    .bp4-bbrr-300     { border-bottom-right-radius: 10px; }

    .bp4-bblr-0     { border-bottom-left-radius: 0; }
    .bp4-bblr-100     { border-bottom-left-radius: 2px; }
    .bp4-bblr-200     { border-bottom-left-radius: 4px; }
    .bp4-bblr-300     { border-bottom-left-radius: 10px; }
}
