/* Color */

.color-inherit          { color: inherit; }

.color-white            { color: var(--white); }
/* .color-white900      { color: var(--white900); } */
/* .color-white700      { color: var(--white900); } */
/* .color-white500      { color: var(--white900); } */
/* .color-white300      { color: var(--white900); } */
/* .color-white100      { color: var(--white900); } */

.color-black           { color: var(--black); }
/* .color-black900     { color: var(--black900); } */
/* .color-black700     { color: var(--black900); } */
/* .color-black500     { color: var(--black900); } */
/* .color-black300     { color: var(--black900); } */
/* .color-black100     { color: var(--black900); } */

.color-red100          { color: var(--red100); }
/* .color-red200 { color: var(--red200); } */
.color-red300 { color: var(--red300); }
/* .color-red400 { color: var(--red400); } */
.color-red500 { color: var(--red500); }
.color-red600 { color: var(--red600); }
/* .color-red700 { color: var(--red700); } */
/* .color-red800 { color: var(--red800); } */
/* .color-red900 { color: var(--red900); } */

.color-blue100 { color: var(--blue100); }
/* .color-blue200 { color: var(--blue200); } */
.color-blue300 { color: var(--blue300); }
/* .color-blue400 { color: var(--blue400); } */
.color-blue500 { color: var(--blue500); }
.color-blue600 { color: var(--blue600); }
/* .color-blue700 { color: var(--blue700); } */
/* .color-blue800 { color: var(--blue800); } */
/* .color-blue900 { color: var(--blue900); } */

.color-green100 { color: var(--green100); }
/* .color-green200 { color: var(--green200); } */
.color-green300 { color: var(--green300); }
/* .color-green400 { color: var(--green400); } */
.color-green500 { color: var(--green500); }
.color-green600 { color: var(--green600); }
/* .color-green700 { color: var(--green700); } */
/* .color-green800 { color: var(--green800); } */
/* .color-green900 { color: var(--green900); } */

.color-pink300                 { color: var(--pink300); }
.color-pink600                 { color: var(--pink600); }

.color-purple300               { color: var(--purple300); }
.color-purple600               { color: var(--purple600); }

.color-violet300               { color: var(--violet300); }
.color-violet600               { color: var(--violet600); }

.color-indigo300               { color: var(--indigo300); }
.color-indigo600               { color: var(--indigo600); }

.color-teal300                 { color: var(--teal300); }
.color-teal600                 { color: var(--teal600); }

.color-lime300                 { color: var(--lime300); }
.color-lime600                 { color: var(--lime600); }

.color-yellow300               { color: var(--yellow300); }
.color-yellow600               { color: var(--yellow600); }

.color-amber300                { color: var(--amber300); }
.color-amber600                { color: var(--amber600); }

.color-orange300               { color: var(--orange300); }
.color-orange600               { color: var(--orange600); }

.color-gray100 { color: var(--gray100); }
.color-gray200 { color: var(--gray200); }
.color-gray300 { color: var(--gray300); }
.color-gray400 { color: var(--gray400); }
.color-gray500 { color: var(--gray500); }
.color-gray600 { color: var(--gray600); }
.color-gray700 { color: var(--gray700); }
.color-gray800 { color: var(--gray800); }
.color-gray900 { color: var(--gray900); }
