.fw-nowrap              { flex-wrap: nowrap; }
.fw-wrap                { flex-wrap: wrap; }
.fw-wrapReverse         { flex-wrap: wrap-reverse; }

@media (--breakpoint-1) {
    .bp1-fw-nowrap              { flex-wrap: nowrap; }
    .bp1-fw-wrap                { flex-wrap: wrap; }
    .bp1-fw-wrapReverse         { flex-wrap: wrap-reverse; }
}

@media (--breakpoint-2) {
    .bp2-fw-nowrap              { flex-wrap: nowrap; }
    .bp2-fw-wrap                { flex-wrap: wrap; }
    .bp2-fw-wrapReverse         { flex-wrap: wrap-reverse; }
}

@media (--breakpoint-3) {
    .bp3-fw-nowrap              { flex-wrap: nowrap; }
    .bp3-fw-wrap                { flex-wrap: wrap; }
    .bp3-fw-wrapReverse         { flex-wrap: wrap-reverse; }
}

@media (--breakpoint-4) {
    .bp4-fw-nowrap              { flex-wrap: nowrap; }
    .bp4-fw-wrap                { flex-wrap: wrap; }
    .bp4-fw-wrapReverse         { flex-wrap: wrap-reverse; }
}
