/* Float */

.float-none   { float: none; }
.float-left   { float: left; }
.float-right  { float: right; }

@media (--breakpoint-1) {
  .bp1-float-none   { float: none; }
  .bp1-float-left   { float: left; }
  .bp1-float-right  { float: right; }
}

@media (--breakpoint-2) {
  .bp2-float-none   { float: none; }
  .bp2-float-left   { float: left; }
  .bp2-float-right  { float: right; }
}

@media (--breakpoint-3) {
  .bp3-float-none   { float: none; }
  .bp3-float-left   { float: left; }
  .bp3-float-right  { float: right; }
}

@media (--breakpoint-4) {
  .bp4-float-none   { float: none; }
  .bp4-float-left   { float: left; }
  .bp4-float-right  { float: right; }
}
