/* Font Style */

.fs-normal   { font-style: normal; }
.fs-italic   { font-style: italic; }

@media (--breakpoint-1) {
    .bp1-fs-normal   { font-style: normal; }
    .bp1-fs-italic   { font-style: italic; }
}

@media (--breakpoint-2) {
    .bp2-fs-normal   { font-style: normal; }
    .bp2-fs-italic   { font-style: italic; }
}

@media (--breakpoint-3) {
    .bp3-fs-normal   { font-style: normal; }
    .bp3-fs-italic   { font-style: italic; }
}

@media (--breakpoint-4) {
    .bp4-fs-normal   { font-style: normal; }
    .bp4-fs-italic   { font-style: italic; }
}
