/* Font size */

.fs-9     { font-size: var(--fontSize-900); }
.fs-8     { font-size: var(--fontSize-800); }
.fs-7     { font-size: var(--fontSize-700); }
.fs-6     { font-size: var(--fontSize-600); }
.fs-5     { font-size: var(--fontSize-500); }
.fs-4     { font-size: var(--fontSize-400); }
.fs-3     { font-size: var(--fontSize-300); }
.fs-2     { font-size: var(--fontSize-200); }
.fs-1     { font-size: var(--fontSize-100); }

@media (--breakpoint-1) {
    .bp1-fs-9     { font-size: var(--fontSize-900); }
    .bp1-fs-8     { font-size: var(--fontSize-800); }
    .bp1-fs-7     { font-size: var(--fontSize-700); }
    .bp1-fs-6     { font-size: var(--fontSize-600); }
    .bp1-fs-5     { font-size: var(--fontSize-500); }
    .bp1-fs-4     { font-size: var(--fontSize-400); }
    .bp1-fs-3     { font-size: var(--fontSize-300); }
    .bp1-fs-2     { font-size: var(--fontSize-200); }
    .bp1-fs-1     { font-size: var(--fontSize-100); }
}

@media (--breakpoint-2) {
    .bp2-fs-9     { font-size: var(--fontSize-900); }
    .bp2-fs-8   { font-size: var(--fontSize-800); }
    .bp2-fs-7    { font-size: var(--fontSize-700); }
    .bp2-fs-6     { font-size: var(--fontSize-600); }
    .bp2-fs-5      { font-size: var(--fontSize-500); }
    .bp2-fs-4       { font-size: var(--fontSize-400); }
    .bp2-fs-3       { font-size: var(--fontSize-300); }
    .bp2-fs-2       { font-size: var(--fontSize-200); }
    .bp2-fs-1      { font-size: var(--fontSize-100); }
}

@media (--breakpoint-3) {
    .bp3-fs-9     { font-size: var(--fontSize-900); }
    .bp3-fs-8   { font-size: var(--fontSize-800); }
    .bp3-fs-7    { font-size: var(--fontSize-700); }
    .bp3-fs-6     { font-size: var(--fontSize-600); }
    .bp3-fs-5      { font-size: var(--fontSize-500); }
    .bp3-fs-4       { font-size: var(--fontSize-400); }
    .bp3-fs-3       { font-size: var(--fontSize-300); }
    .bp3-fs-2       { font-size: var(--fontSize-200); }
    .bp3-fs-1      { font-size: var(--fontSize-100); }
}

@media (--breakpoint-4) {
    .bp4-fs-9     { font-size: var(--fontSize-900); }
    .bp4-fs-8   { font-size: var(--fontSize-800); }
    .bp4-fs-7    { font-size: var(--fontSize-700); }
    .bp4-fs-6     { font-size: var(--fontSize-600); }
    .bp4-fs-5      { font-size: var(--fontSize-500); }
    .bp4-fs-4       { font-size: var(--fontSize-400); }
    .bp4-fs-3       { font-size: var(--fontSize-300); }
    .bp4-fs-2       { font-size: var(--fontSize-200); }
    .bp4-fs-1      { font-size: var(--fontSize-100); }
}
