/* Min Width */

.mw-1   { min-width: var(--spacing-100); }
.mw-2   { min-width: var(--spacing-200); }
.mw-3   { min-width: var(--spacing-300); }
.mw-4   { min-width: var(--spacing-400); }
.mw-5   { min-width: var(--spacing-500); }
.mw-6   { min-width: var(--spacing-600); }
.mw-7   { min-width: var(--spacing-700); }
.mw-8   { min-width: var(--spacing-800); }
.mw-9   { min-width: var(--spacing-900); }
