/* Negative margin */

.nmt-1  { margin-top: -var(--spacing-100); }
.nmt-2  { margin-top: -var(--spacing-200); }
.nmt-3  { margin-top: -var(--spacing-300); }
.nmt-4  { margin-top: -var(--spacing-400); }
.nmt-5  { margin-top: -var(--spacing-500); }
.nmt-6  { margin-top: -var(--spacing-600); }
.nmt-7  { margin-top: -var(--spacing-700); }
.nmt-8  { margin-top: -var(--spacing-800); }
.nmt-9  { margin-top: -var(--spacing-900); }

.nmr-1  { margin-right: -var(--spacing-100); }
.nmr-2  { margin-right: -var(--spacing-200); }
.nmr-3  { margin-right: -var(--spacing-300); }
.nmr-4  { margin-right: -var(--spacing-400); }
.nmr-5  { margin-right: -var(--spacing-500); }
.nmr-6  { margin-right: -var(--spacing-600); }
.nmr-7  { margin-right: -var(--spacing-700); }
.nmr-8  { margin-right: -var(--spacing-800); }
.nmr-9  { margin-right: -var(--spacing-900); }

.nmb-1  { margin-bottom: -var(--spacing-100); }
.nmb-2  { margin-bottom: -var(--spacing-200); }
.nmb-3  { margin-bottom: -var(--spacing-300); }
.nmb-4  { margin-bottom: -var(--spacing-400); }
.nmb-5  { margin-bottom: -var(--spacing-500); }
.nmb-6  { margin-bottom: -var(--spacing-600); }
.nmb-7  { margin-bottom: -var(--spacing-700); }
.nmb-8  { margin-bottom: -var(--spacing-800); }
.nmb-9  { margin-bottom: -var(--spacing-900); }

.nml-1  { margin-left: -var(--spacing-100); }
.nml-2  { margin-left: -var(--spacing-200); }
.nml-3  { margin-left: -var(--spacing-300); }
.nml-4  { margin-left: -var(--spacing-400); }
.nml-5  { margin-left: -var(--spacing-500); }
.nml-6  { margin-left: -var(--spacing-600); }
.nml-7  { margin-left: -var(--spacing-700); }
.nml-8  { margin-left: -var(--sp8cing-800); }
.nml-9  { margin-left: -var(--spacing-900); }

@media (--breakpoint-1) {
  .bp1-nmt-1  { margin-top: -var(--spacing-100); }
  .bp1-nmt-2  { margin-top: -var(--spacing-200); }
  .bp1-nmt-3  { margin-top: -var(--spacing-300); }
  .bp1-nmt-4  { margin-top: -var(--spacing-400); }
  .bp1-nmt-5  { margin-top: -var(--spacing-500); }
  .bp1-nmt-6  { margin-top: -var(--spacing-600); }
  .bp1-nmt-7  { margin-top: -var(--spacing-700); }
  .bp1-nmt-8  { margin-top: -var(--spacing-800); }
  .bp1-nmt-9  { margin-top: -var(--spacing-900); }

  .bp1-nmr-1  { margin-right: -var(--spacing-100); }
  .bp1-nmr-2  { margin-right: -var(--spacing-200); }
  .bp1-nmr-3  { margin-right: -var(--spacing-300); }
  .bp1-nmr-4  { margin-right: -var(--spacing-400); }
  .bp1-nmr-5  { margin-right: -var(--spacing-500); }
  .bp1-nmr-6  { margin-right: -var(--spacing-600); }
  .bp1-nmr-7  { margin-right: -var(--spacing-700); }
  .bp1-nmr-8  { margin-right: -var(--spacing-800); }
  .bp1-nmr-9  { margin-right: -var(--spacing-900); }

  .bp1-nmb-1  { margin-bottom: -var(--spacing-100); }
  .bp1-nmb-2  { margin-bottom: -var(--spacing-200); }
  .bp1-nmb-3  { margin-bottom: -var(--spacing-300); }
  .bp1-nmb-4  { margin-bottom: -var(--spacing-400); }
  .bp1-nmb-5  { margin-bottom: -var(--spacing-500); }
  .bp1-nmb-6  { margin-bottom: -var(--spacing-600); }
  .bp1-nmb-7  { margin-bottom: -var(--spacing-700); }
  .bp1-nmb-8  { margin-bottom: -var(--spacing-800); }
  .bp1-nmb-9  { margin-bottom: -var(--spacing-900); }

  .bp1-nml-1  { margin-left: -var(--spacing-100); }
  .bp1-nml-2  { margin-left: -var(--spacing-200); }
  .bp1-nml-3  { margin-left: -var(--spacing-300); }
  .bp1-nml-4  { margin-left: -var(--spacing-400); }
  .bp1-nml-5  { margin-left: -var(--spacing-500); }
  .bp1-nml-6  { margin-left: -var(--spacing-600); }
  .bp1-nml-7  { margin-left: -var(--spacing-700); }
  .bp1-nml-8  { margin-left: -var(--spacing-800); }
  .bp1-nml-9  { margin-left: -var(--spacing-900); }
}

@media (--breakpoint-2) {
  .bp2-nmt-1  { margin-top: -var(--spacing-100); }
  .bp2-nmt-2  { margin-top: -var(--spacing-200); }
  .bp2-nmt-3  { margin-top: -var(--spacing-300); }
  .bp2-nmt-4  { margin-top: -var(--spacing-400); }
  .bp2-nmt-5  { margin-top: -var(--spacing-500); }
  .bp2-nmt-6  { margin-top: -var(--spacing-600); }
  .bp2-nmt-7  { margin-top: -var(--spacing-700); }
  .bp2-nmt-8  { margin-top: -var(--spacing-800); }
  .bp2-nmt-9  { margin-top: -var(--spacing-900); }

  .bp2-nmr-1  { margin-right: -var(--spacing-100); }
  .bp2-nmr-2  { margin-right: -var(--spacing-200); }
  .bp2-nmr-3  { margin-right: -var(--spacing-300); }
  .bp2-nmr-4  { margin-right: -var(--spacing-400); }
  .bp2-nmr-5  { margin-right: -var(--spacing-500); }
  .bp2-nmr-6  { margin-right: -var(--spacing-600); }
  .bp2-nmr-7  { margin-right: -var(--spacing-700); }
  .bp2-nmr-8  { margin-right: -var(--spacing-800); }
  .bp2-nmr-9  { margin-right: -var(--spacing-900); }

  .bp2-nmb-1  { margin-bottom: -var(--spacing-100); }
  .bp2-nmb-2  { margin-bottom: -var(--spacing-200); }
  .bp2-nmb-3  { margin-bottom: -var(--spacing-300); }
  .bp2-nmb-4  { margin-bottom: -var(--spacing-400); }
  .bp2-nmb-5  { margin-bottom: -var(--spacing-500); }
  .bp2-nmb-6  { margin-bottom: -var(--spacing-600); }
  .bp2-nmb-7  { margin-bottom: -var(--spacing-700); }
  .bp2-nmb-8  { margin-bottom: -var(--spacing-800); }
  .bp2-nmb-9  { margin-bottom: -var(--spacing-900); }

  .bp2-nml-1  { margin-left: -var(--spacing-100); }
  .bp2-nml-2  { margin-left: -var(--spacing-200); }
  .bp2-nml-3  { margin-left: -var(--spacing-300); }
  .bp2-nml-4  { margin-left: -var(--spacing-400); }
  .bp2-nml-5  { margin-left: -var(--spacing-500); }
  .bp2-nml-6  { margin-left: -var(--spacing-600); }
  .bp2-nml-7  { margin-left: -var(--spacing-700); }
  .bp2-nml-8  { margin-left: -var(--spacing-800); }
  .bp2-nml-9  { margin-left: -var(--spacing-900); }
}

@media (--breakpoint-3) {
  .bp3-nmt-1  { margin-top: -var(--spacing-100); }
  .bp3-nmt-2  { margin-top: -var(--spacing-200); }
  .bp3-nmt-3  { margin-top: -var(--spacing-300); }
  .bp3-nmt-4  { margin-top: -var(--spacing-400); }
  .bp3-nmt-5  { margin-top: -var(--spacing-500); }
  .bp3-nmt-6  { margin-top: -var(--spacing-600); }
  .bp3-nmt-7  { margin-top: -var(--spacing-700); }
  .bp3-nmt-8  { margin-top: -var(--spacing-800); }
  .bp3-nmt-9  { margin-top: -var(--spacing-900); }

  .bp3-nmr-1  { margin-right: -var(--spacing-100); }
  .bp3-nmr-2  { margin-right: -var(--spacing-200); }
  .bp3-nmr-3  { margin-right: -var(--spacing-300); }
  .bp3-nmr-4  { margin-right: -var(--spacing-400); }
  .bp3-nmr-5  { margin-right: -var(--spacing-500); }
  .bp3-nmr-6  { margin-right: -var(--spacing-600); }
  .bp3-nmr-7  { margin-right: -var(--spacing-700); }
  .bp3-nmr-8  { margin-right: -var(--spacing-800); }
  .bp3-nmr-9  { margin-right: -var(--spacing-900); }

  .bp3-nmb-1  { margin-bottom: -var(--spacing-100); }
  .bp3-nmb-2  { margin-bottom: -var(--spacing-200); }
  .bp3-nmb-3  { margin-bottom: -var(--spacing-300); }
  .bp3-nmb-4  { margin-bottom: -var(--spacing-400); }
  .bp3-nmb-5  { margin-bottom: -var(--spacing-500); }
  .bp3-nmb-6  { margin-bottom: -var(--spacing-600); }
  .bp3-nmb-7  { margin-bottom: -var(--spacing-700); }
  .bp3-nmb-8  { margin-bottom: -var(--spacing-800); }
  .bp3-nmb-9  { margin-bottom: -var(--spacing-900); }

  .bp3-nml-1  { margin-left: -var(--spacing-100); }
  .bp3-nml-2  { margin-left: -var(--spacing-200); }
  .bp3-nml-3  { margin-left: -var(--spacing-300); }
  .bp3-nml-4  { margin-left: -var(--spacing-400); }
  .bp3-nml-5  { margin-left: -var(--spacing-500); }
  .bp3-nml-6  { margin-left: -var(--spacing-600); }
  .bp3-nml-7  { margin-left: -var(--spacing-700); }
  .bp3-nml-8  { margin-left: -var(--spacing-800); }
  .bp3-nml-9  { margin-left: -var(--spacing-900); }
}

@media (--breakpoint-4) {
  .bp4-nmt-1  { margin-top: -var(--spacing-100); }
  .bp4-nmt-2  { margin-top: -var(--spacing-200); }
  .bp4-nmt-3  { margin-top: -var(--spacing-300); }
  .bp4-nmt-4  { margin-top: -var(--spacing-400); }
  .bp4-nmt-5  { margin-top: -var(--spacing-500); }
  .bp4-nmt-6  { margin-top: -var(--spacing-600); }
  .bp4-nmt-7  { margin-top: -var(--spacing-700); }
  .bp4-nmt-8  { margin-top: -var(--spacing-800); }
  .bp4-nmt-9  { margin-top: -var(--spacing-900); }

  .bp4-nmr-1  { margin-right: -var(--spacing-100); }
  .bp4-nmr-2  { margin-right: -var(--spacing-200); }
  .bp4-nmr-3  { margin-right: -var(--spacing-300); }
  .bp4-nmr-4  { margin-right: -var(--spacing-400); }
  .bp4-nmr-5  { margin-right: -var(--spacing-500); }
  .bp4-nmr-6  { margin-right: -var(--spacing-600); }
  .bp4-nmr-7  { margin-right: -var(--spacing-700); }
  .bp4-nmr-8  { margin-right: -var(--spacing-800); }
  .bp4-nmr-9  { margin-right: -var(--spacing-900); }

  .bp4-nmb-1  { margin-bottom: -var(--spacing-100); }
  .bp4-nmb-2  { margin-bottom: -var(--spacing-200); }
  .bp4-nmb-3  { margin-bottom: -var(--spacing-300); }
  .bp4-nmb-4  { margin-bottom: -var(--spacing-400); }
  .bp4-nmb-5  { margin-bottom: -var(--spacing-500); }
  .bp4-nmb-6  { margin-bottom: -var(--spacing-600); }
  .bp4-nmb-7  { margin-bottom: -var(--spacing-700); }
  .bp4-nmb-8  { margin-bottom: -var(--spacing-800); }
  .bp4-nmb-9  { margin-bottom: -var(--spacing-900); }

  .bp4-nml-1  { margin-left: -var(--spacing-100); }
  .bp4-nml-2  { margin-left: -var(--spacing-200); }
  .bp4-nml-3  { margin-left: -var(--spacing-300); }
  .bp4-nml-4  { margin-left: -var(--spacing-400); }
  .bp4-nml-5  { margin-left: -var(--spacing-500); }
  .bp4-nml-6  { margin-left: -var(--spacing-600); }
  .bp4-nml-7  { margin-left: -var(--spacing-700); }
  .bp4-nml-8  { margin-left: -var(--spacing-800); }
  .bp4-nml-9  { margin-left: -var(--spacing-900); }
}
