/* Outline color */

.oc-white                   { outline-color: var(--white); }
.oc-black                   { outline-color: var(--black); }

.oc-white--translucent      { outline-color: rgba(255,255,255, var(--translucent)); }
.oc-white--transparent      { outline-color: rgba(255,255,255, var(--transparent)); }
.oc-white--pellucid         { outline-color: rgba(255,255,255, var(--pellucid)); }
.oc-white--limpid           { outline-color: rgba(255,255,255, var(--limpid)); }

.oc-black--translucent      { outline-color: rgba(0,0,0, var(--translucent)); }
.oc-black--transparent      { outline-color: rgba(0,0,0, var(--transparent)); }
.oc-black--pellucid         { outline-color: rgba(0,0,0, var(--pellucid)); }
.oc-black--limpid           { outline-color: rgba(0,0,0, var(--limpid)); }

.oc-red                     { outline-color: var(--red500); }
.oc-pink                    { outline-color: var(--pink500); }
.oc-purple                  { outline-color: var(--purple500); }
.oc-deepPurple              { outline-color: var(--violet500); }
.oc-indigo                  { outline-color: var(--indigo500); }
.oc-blue                    { outline-color: var(--blue500); }
.oc-lightBlue               { outline-color: var(--lightBlue); }
.oc-cyan                    { outline-color: var(--cyan); }
.oc-teal                    { outline-color: var(--teal500); }
.oc-green                   { outline-color: var(--green500); }
.oc-lightGreen              { outline-color: var(--lightGreen); }
.oc-lime                    { outline-color: var(--lime500); }
.oc-yellow                  { outline-color: var(--yellow500); }
.oc-amber                   { outline-color: var(--amber500); }
.oc-orange                  { outline-color: var(--orange500); }
.oc-deepOrange              { outline-color: var(--crimson500); }
.oc-brown                   { outline-color: var(--brown); }
.oc-gray                    { outline-color: var(--gray); }

.oc-snow                    { outline-color: var(--gray200); }
.oc-smoke                   { outline-color: var(--gray300); }
.oc-steel                   { outline-color: var(--gray500); }
.oc-lead                    { outline-color: var(--gray800); }
.oc-charcoal                { outline-color: var(--gray900); }
