/* Table layout */

.tl-auto    { table-layout: auto; }
.tl-fixed   { table-layout: fixed; }

@media (--breakpoint-1) {
    .bp1-tl-auto    { table-layout: auto; }
    .bp1-tl-fixed   { table-layout: fixed; }
}

@media (--breakpoint-2) {
    .bp2-tl-auto    { table-layout: auto; }
    .bp2-tl-fixed   { table-layout: fixed; }
}

@media (--breakpoint-3) {
    .bp3-tl-auto    { table-layout: auto; }
    .bp3-tl-fixed   { table-layout: fixed; }
}

@media (--breakpoint-4) {
    .bp4-tl-auto    { table-layout: auto; }
    .bp4-tl-fixed   { table-layout: fixed; }
}
