/* Text Decoration */

.td-none        { text-decoration: none; }
.td-underline   { text-decoration: underline; }
.td-overline    { text-decoration: overline; }
.td-lineThrough { text-decoration: line-through; }

@media (--breakpoint-1) {
    .bp1-td-none        { text-decoration: none; }
    .bp1-td-underline   { text-decoration: underline; }
    .bp1-td-overline    { text-decoration: overline; }
    .bp1-td-lineThrough { text-decoration: line-through; }
}

@media (--breakpoint-2) {
    .bp2-td-none        { text-decoration: none; }
    .bp2-td-underline   { text-decoration: underline; }
    .bp2-td-overline    { text-decoration: overline; }
    .bp2-td-lineThrough { text-decoration: line-through; }
}

@media (--breakpoint-3) {
    .bp3-td-none        { text-decoration: none; }
    .bp3-td-underline   { text-decoration: underline; }
    .bp3-td-overline    { text-decoration: overline; }
    .bp3-td-lineThrough { text-decoration: line-through; }
}

@media (--breakpoint-4) {
    .bp4-td-none        { text-decoration: none; }
    .bp4-td-underline   { text-decoration: underline; }
    .bp4-td-overline    { text-decoration: overline; }
    .bp4-td-lineThrough { text-decoration: line-through; }
}

@media (hover) {
    .td-none--hover:hover        { text-decoration: none; }
    .td-underline--hover:hover   { text-decoration: underline; }
    .td-overline--hover:hover    { text-decoration: overline; }
    .td-lineThrough--hover:hover { text-decoration: line-through; }
}
