/* Text Overflow */

.to-clip      { text-overflow: clip; }
.to-ellipsis  { text-overflow: ellipsis; }
.to-string    { text-overflow: string; }

@media (--breakpoint-1) {
  .bp1-to-clip      { text-overflow: clip; }
  .bp1-to-ellipsis  { text-overflow: ellipsis; }
  .bp1-to-string    { text-overflow: string; }
}

@media (--breakpoint-2) {
  .bp2-to-clip      { text-overflow: clip; }
  .bp2-to-ellipsis  { text-overflow: ellipsis; }
  .bp2-to-string    { text-overflow: string; }
}

@media (--breakpoint-3) {
  .bp3-to-clip      { text-overflow: clip; }
  .bp3-to-ellipsis  { text-overflow: ellipsis; }
  .bp3-to-string    { text-overflow: string; }
}

@media (--breakpoint-4) {
  .bp4-to-clip      { text-overflow: clip; }
  .bp4-to-ellipsis  { text-overflow: ellipsis; }
  .bp4-to-string    { text-overflow: string; }
}
