/* Text Transform */

.tt-none        { text-transform: none; }
.tt-capitalize  { text-transform: capitalize; }
.tt-uppercase   { text-transform: uppercase; }
.tt-lowercase   { text-transform: lowercase; }

@media (--breakpoint-1) {
  .bp1-tt-none        { text-transform: none; }
  .bp1-tt-capitalize  { text-transform: capitalize; }
  .bp1-tt-uppercase   { text-transform: uppercase; }
  .bp1-tt-lowercase   { text-transform: lowercase; }
}

@media (--breakpoint-2) {
  .bp2-tt-none        { text-transform: none; }
  .bp2-tt-capitalize  { text-transform: capitalize; }
  .bp2-tt-uppercase   { text-transform: uppercase; }
  .bp2-tt-lowercase   { text-transform: lowercase; }
}

@media (--breakpoint-3) {
  .bp3-tt-none        { text-transform: none; }
  .bp3-tt-capitalize  { text-transform: capitalize; }
  .bp3-tt-uppercase   { text-transform: uppercase; }
  .bp3-tt-lowercase   { text-transform: lowercase; }
}

@media (--breakpoint-4) {
  .bp4-tt-none        { text-transform: none; }
  .bp4-tt-capitalize  { text-transform: capitalize; }
  .bp4-tt-uppercase   { text-transform: uppercase; }
  .bp4-tt-lowercase   { text-transform: lowercase; }
}
