/* Text decoration skip */

.tds-edges      { text-decoration-skip: edges; }
.tds-ink        { text-decoration-skip: ink; }
.tds-none       { text-decoration-skip: none; }
.tds-objects    { text-decoration-skip: objects; }
.tds-spaces     { text-decoration-skip: spaces; }

@media (--breakpoint-1) {
    .bp1-tds-edges      { text-decoration-skip: edges; }
    .bp1-tds-ink        { text-decoration-skip: ink; }
    .bp1-tds-none       { text-decoration-skip: none; }
    .bp1-tds-objects    { text-decoration-skip: objects; }
    .bp1-tds-spaces     { text-decoration-skip: spaces; }
}

@media (--breakpoint-2) {
    .bp2-tds-edges      { text-decoration-skip: edges; }
    .bp2-tds-ink        { text-decoration-skip: ink; }
    .bp2-tds-none       { text-decoration-skip: none; }
    .bp2-tds-objects    { text-decoration-skip: objects; }
    .bp2-tds-spaces     { text-decoration-skip: spaces; }
}

@media (--breakpoint-3) {
    .bp3-tds-edges      { text-decoration-skip: edges; }
    .bp3-tds-ink        { text-decoration-skip: ink; }
    .bp3-tds-none       { text-decoration-skip: none; }
    .bp3-tds-objects    { text-decoration-skip: objects; }
    .bp3-tds-spaces     { text-decoration-skip: spaces; }
}

@media (--breakpoint-4) {
    .bp4-tds-edges      { text-decoration-skip: edges; }
    .bp4-tds-ink        { text-decoration-skip: ink; }
    .bp4-tds-none       { text-decoration-skip: none; }
    .bp4-tds-objects    { text-decoration-skip: objects; }
    .bp4-tds-spaces     { text-decoration-skip: spaces; }
}
