/* Transition Timing Function */

.ttf-ease               { transition-timing-function: ease; }
.ttf-linear             { transition-timing-function: linear; }
.ttf-easeInSine         { transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715); }
.ttf-easeOutSine        { transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1); }
.ttf-easeInOutSine      { transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95); }
.ttf-easeInQuad         { transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); }
.ttf-easeOutQuad        { transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }
.ttf-easeInOutQuad      { transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); }
.ttf-easeInCubic        { transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.ttf-easeOutCubic       { transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
.ttf-easeInOutCubic     { transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); }
.ttf-easeInQuart        { transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22); }
.ttf-easeOutQuart       { transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); }
.ttf-easeInOutQuart     { transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1); }
.ttf-easeInQuint        { transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); }
.ttf-easeOutQuint       { transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }
.ttf-easeInOutQuint     { transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1); }
.ttf-easeInExpo         { transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035); }
.ttf-easeOutExpo        { transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
.ttf-easeInOutExpo      { transition-timing-function: cubic-bezier(1, 0, 0, 1); }
.ttf-easeInCirc         { transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335); }
.ttf-easeOutCirc        { transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); }
.ttf-easeInOutCirc      { transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86); }
.ttf-easeInBack         { transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045); }
.ttf-easeOutBack        { transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
.ttf-easeInOutBack      { transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.35); }
