/* Transition duration */

.td-0   { transition-duration: 0; }
.td-1   { transition-duration: var(--transitionDuration-100); }
.td-2   { transition-duration: var(--transitionDuration-200); }
.td-3   { transition-duration: var(--transitionDuration-300); }
.td-4   { transition-duration: var(--transitionDuration-400); }
.td-5   { transition-duration: var(--transitionDuration-500); }
