/* Widths */

.width-10   { width: 10%; }
.width-20   { width: 20%; }
.width-25   { width: 25%; }
.width-30   { width: 30%; }
.width-33   { width: 33.3333333333%; }
.width-40   { width: 40%; }
.width-50   { width: 50%; }
.width-60   { width: 60%; }
.width-66   { width: 66.6666666666%; }
.width-70   { width: 70%; }
.width-75   { width: 75%; }
.width-80   { width: 80%; }
.width-90   { width: 90%; }
.width-100  { width: 100%; }

.width-UIxxxs   { width: var(--spacing-xxxs); }
.width-UIxxs    { width: var(--spacing-1); }
.width-UIxs     { width: var(--spacing-xs); }
.width-UIs      { width: var(--spacing-s); }
.width-UIm      { width: var(--spacing-m); }
.width-UIl      { width: var(--spacing-l); }
.width-UIxl     { width: var(--spacing-xl); }
.width-UIxxl    { width: var(--spacing-xxl); }
.width-UIxxxl   { width: var(--spacing-xxxl); }

@media (--breakpoint-1) {
  .bp1-width-10   { width: 10%; }
  .bp1-width-20   { width: 20%; }
  .bp1-width-25   { width: 25%; }
  .bp1-width-30   { width: 30%; }
  .bp1-width-33   { width: 33.3333333333%; }
  .bp1-width-40   { width: 40%; }
  .bp1-width-50   { width: 50%; }
  .bp1-width-60   { width: 60%; }
  .bp1-width-66   { width: 66.6666666666%; }
  .bp1-width-70   { width: 70%; }
  .bp1-width-75   { width: 75%; }
  .bp1-width-80   { width: 80%; }
  .bp1-width-90   { width: 90%; }
  .bp1-width-100  { width: 100%; }

  .bp1-width-UIxxxs   { width: var(--spacing-xxxs); }
  .bp1-width-UIxxs    { width: var(--spacing-1); }
  .bp1-width-UIxs     { width: var(--spacing-xs); }
  .bp1-width-UIs      { width: var(--spacing-s); }
  .bp1-width-UIm      { width: var(--spacing-m); }
  .bp1-width-UIl      { width: var(--spacing-l); }
  .bp1-width-UIxl     { width: var(--spacing-xl); }
  .bp1-width-UIxxl    { width: var(--spacing-xxl); }
  .bp1-width-UIxxxl   { width: var(--spacing-xxxl); }
}

@media (--breakpoint-2) {
  .bp2-width-10   { width: 10%; }
  .bp2-width-20   { width: 20%; }
  .bp2-width-25   { width: 25%; }
  .bp2-width-30   { width: 30%; }
  .bp2-width-33   { width: 33.3333333333%; }
  .bp2-width-40   { width: 40%; }
  .bp2-width-50   { width: 50%; }
  .bp2-width-60   { width: 60%; }
  .bp2-width-66   { width: 66.6666666666%; }
  .bp2-width-70   { width: 70%; }
  .bp2-width-75   { width: 75%; }
  .bp2-width-80   { width: 80%; }
  .bp2-width-90   { width: 90%; }
  .bp2-width-100  { width: 100%; }

  .bp2-width-UIxxxs   { width: var(--spacing-xxxs); }
  .bp2-width-UIxxs    { width: var(--spacing-1); }
  .bp2-width-UIxs     { width: var(--spacing-xs); }
  .bp2-width-UIs      { width: var(--spacing-s); }
  .bp2-width-UIm      { width: var(--spacing-m); }
  .bp2-width-UIl      { width: var(--spacing-l); }
  .bp2-width-UIxl     { width: var(--spacing-xl); }
  .bp2-width-UIxxl    { width: var(--spacing-xxl); }
  .bp2-width-UIxxxl   { width: var(--spacing-xxxl); }
}

@media (--breakpoint-3) {
  .bp3-width-10   { width: 10%; }
  .bp3-width-20   { width: 20%; }
  .bp3-width-25   { width: 25%; }
  .bp3-width-30   { width: 30%; }
  .bp3-width-33   { width: 33.3333333333%; }
  .bp3-width-40   { width: 40%; }
  .bp3-width-50   { width: 50%; }
  .bp3-width-60   { width: 60%; }
  .bp3-width-66   { width: 66.6666666666%; }
  .bp3-width-70   { width: 70%; }
  .bp3-width-75   { width: 75%; }
  .bp3-width-80   { width: 80%; }
  .bp3-width-90   { width: 90%; }
  .bp3-width-100  { width: 100%; }

  .bp3-width-UIxxxs   { width: var(--spacing-xxxs); }
  .bp3-width-UIxxs    { width: var(--spacing-1); }
  .bp3-width-UIxs     { width: var(--spacing-xs); }
  .bp3-width-UIs      { width: var(--spacing-s); }
  .bp3-width-UIm      { width: var(--spacing-m); }
  .bp3-width-UIl      { width: var(--spacing-l); }
  .bp3-width-UIxl     { width: var(--spacing-xl); }
  .bp3-width-UIxxl    { width: var(--spacing-xxl); }
  .bp3-width-UIxxxl   { width: var(--spacing-xxxl); }
}

@media (--breakpoint-4) {
  .bp4-width-10   { width: 10%; }
  .bp4-width-20   { width: 20%; }
  .bp4-width-25   { width: 25%; }
  .bp4-width-30   { width: 30%; }
  .bp4-width-33   { width: 33.3333333333%; }
  .bp4-width-40   { width: 40%; }
  .bp4-width-50   { width: 50%; }
  .bp4-width-60   { width: 60%; }
  .bp4-width-66   { width: 66.6666666666%; }
  .bp4-width-70   { width: 70%; }
  .bp4-width-75   { width: 75%; }
  .bp4-width-80   { width: 80%; }
  .bp4-width-90   { width: 90%; }
  .bp4-width-100  { width: 100%; }

  .bp4-width-UIxxxs   { width: var(--spacing-xxxs); }
  .bp4-width-UIxxs    { width: var(--spacing-1); }
  .bp4-width-UIxs     { width: var(--spacing-xs); }
  .bp4-width-UIs      { width: var(--spacing-s); }
  .bp4-width-UIm      { width: var(--spacing-m); }
  .bp4-width-UIl      { width: var(--spacing-l); }
  .bp4-width-UIxl     { width: var(--spacing-xl); }
  .bp4-width-UIxxl    { width: var(--spacing-xxl); }
  .bp4-width-UIxxxl   { width: var(--spacing-xxxl); }
}
