.Badge,
.PrimaryBadge,
.PositiveBadge,
.NegativeBadge {
    display: inline-flex;
    align-items: center;
    font-size: var(--fs-1);
    text-transform: uppercase;
    height: var(--spacing-2);
    padding: 0 4px;
    background-color: var(--white);
    box-shadow: inset 0 0 0 1px var(--smoke);
    font-weight: 600;
    border-radius: var(--br-m);
    letter-spacing: .6px;
}

.PrimaryBadge {
    background-color: var(--blueTint);
    color: var(--blue);
    box-shadow: inset 0 0 0 1px var(--blue300);
}

.PositiveBadge {
    background-color: var(--greenTint);
    color: var(--greenShade);
    box-shadow: inset 0 0 0 1px var(--green);
}

.NegativeBadge {
    background-color: var(--redTint);
    color: var(--red);
    box-shadow: inset 0 0 0 1px var(--red300);
}
