.Badge {
    display: inline-flex;
    align-items: center;
    font-size: var(--fontSize-1);
    text-transform: uppercase;
    height: var(--spacing-2);
    padding: 0 var(--spacing-1);
    background-color: var(--white);
    box-shadow: inset 0 0 0 1px var(--gray300);
    font-weight: 600;
    border-radius: 9999px;
    letter-spacing: .8px;
    white-space: nowrap;
    user-select: none;
    cursor: default;
}

.Badge.size2 {
    font-size: var(--fontSize-2);
    height: var(--spacing-3);
    padding: 0 var(--spacing-2);
}

.Badge.primary {
    background-color: var(--blue200);
    color: var(--blue700);
    box-shadow: none;
}

.Badge.intermediary {
    background-color: var(--amber200);
    color: var(--amber700);
    box-shadow: none;
}

.Badge.positive {
    background-color: var(--green200);
    color: var(--green700);
    box-shadow: none;
}

.Badge.warning {
    background-color: var(--orange200);
    color: var(--amber700);
    box-shadow: none;
}

.Badge.negative {
    background-color: var(--red200);
    color: var(--red700);
    box-shadow: none;
}

.Badge.bronze {
    background-color: var(--bronze200);
    color: var(--bronze700);
    box-shadow: none;
}

.Badge.gold {
    background-color: var(--gold200);
    color: var(--gold700);
    box-shadow: none;
}
