/* Functional styles */

.Button,
.PrimaryButton,
.PositiveButton,
.NegativeButton,
.PillButton {
    align-items: center;
    appearance: none;
    border: none;
    border-radius: var(--br-2);
    cursor: pointer;
    display: inline-flex;
    font-size: var(--fontSize-3);
    font-weight: 600;
    height: var(--spacing-4);
    justify-content: center;
    min-width: var(--spacing-4);
    outline: none;
    padding-left: var(--spacing-3);
    padding-right: var(--spacing-3);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition-property: all;
    transition-duration: var(--duration-2);
    transition-timing-function: ease;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.Button:hover,
.PrimaryButton:hover,
.PositiveButton:hover,
.NegativeButton:hover,
.PillButton:hover {
    transform: translateY(-1px);
}

.Button:active,
.PrimaryButton:active,
.PositiveButton:active,
.NegativeButton:active,
.PillButton:active {
    transform: translateY(0px);
}

/* Neutral button */

.Button {
    background-color: var(--pearl);
    box-shadow: 0 4px 6px rgba(32,52,61,.05), 0 1px 3px rgba(0,0,0,.05), inset 0 0 0 1px hsl(204, 22%, 80%);
    color: var(--charcoal);
}
.Button:hover {
    box-shadow: 0 7px 14px rgba(32,52,61,.05), 0 3px 6px rgba(0,0,0,.05), inset 0 0 0 1px hsl(204, 18%, 51%);
}
.Button:active {
    box-shadow: inset 0 0 0 1px hsl(204, 18%, 51%);
}

/* Primary button */

.PrimaryButton {
    background-color: var(--blueTint);
    color: var(--blueShade);
    box-shadow: 0 4px 6px rgba(32,52,61,.05), 0 1px 3px rgba(0,0,0,.05), inset 0 0 0 1px hsl(200, 75%, 75%);
}
.PrimaryButton:hover {
    box-shadow: 0 7px 14px rgba(32,52,61,.05), 0 3px 6px rgba(0,0,0,.05), inset 0 0 0 1px hsl(200, 80%, 50%);
}
.PrimaryButton:active {
    box-shadow: inset 0 0 0 1px hsl(200, 80%, 50%);
}

/* Positive button */

.PositiveButton {
    background-color: var(--greenTint);
    color: var(--greenShade);
    box-shadow: 0 4px 6px rgba(32,52,61,.05), 0 1px 3px rgba(0,0,0,.05), inset 0 0 0 1px hsl(132, 45%, 70%);
}
.PositiveButton:hover {
    box-shadow: 0 7px 14px rgba(32,52,61,.05), 0 3px 6px rgba(0,0,0,.05), inset 0 0 0 1px hsl(132, 52%, 43%);
}
.PositiveButton:active {
    box-shadow: inset 0 0 0 1px hsl(132, 52%, 43%);
}

/* Negative button */

.NegativeButton {
    background-color: var(--redTint);
    color: var(--redShade);
    box-shadow: 0 4px 6px rgba(32,52,61,.05), 0 1px 3px rgba(0,0,0,.05), inset 0 0 0 1px hsl(0, 75%, 85%);
}
.NegativeButton:hover {
    box-shadow: 0 7px 14px rgba(32,52,61,.05), 0 3px 6px rgba(0,0,0,.05), inset 0 0 0 1px hsl(0, 92%, 61%);
}
.NegativeButton:active {
    box-shadow: inset 0 0 0 1px hsl(0, 92%, 61%);
}

/* Pill button */

.PillButton {
    color: var(--white);
    box-shadow: 0 4px 6px rgba(32,52,61,.05), 0 1px 3px rgba(0,0,0,.05);
    border-radius: 9999px;
    font-size: var(--fontSize-2);
    height: var(--spacing-5);
    line-height: var(--spacing-5);
    min-width: var(--spacing-5);
    padding-left: var(--spacing-3);
    padding-right: var(--spacing-3);
}
.PillButton:hover {
    box-shadow: 0 7px 14px rgba(32,52,61,.05), 0 3px 6px rgba(0,0,0,.05);
}
.PillButton:active {
    box-shadow: none;
}

.PillButton.large {
    font-size: var(--fontSize-3);
    height: var(--spacing-6);
    line-height: var(--spacing-6);
    min-width: var(--spacing-6);
}

.PillButton.white { background-color: var(--white); color: var(--lead); }
.PillButton.black { background-color: var(--black); }
.PillButton.red { background-color: var(--red); }
.PillButton.pink { background-color: var(--pink); }
.PillButton.purple { background-color: var(--purple); }
.PillButton.violet { background-color: var(--violet); }
.PillButton.indigo { background-color: var(--indigo); }
.PillButton.blue { background-color: var(--blue); }
.PillButton.lavender { background-color: var(--lavender); }
.PillButton.teal { background-color: var(--teal); }
.PillButton.green { background-color: var(--green); }
.PillButton.lime { background-color: var(--lime); color: var(--lead); }
.PillButton.yellow { background-color: var(--yellow); color: var(--lead); }
.PillButton.amber { background-color: var(--amber); color: var(--lead); }
.PillButton.orange { background-color: var(--orange); }
.PillButton.crimson { background-color: var(--crimson); }

/* Active state */

.button.is-active {
    background-color: var(--smoke);
    color: var(--steel);
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.1), inset 0 0 0 1px var(--silver);
}
.button.is-active:hover {
    transform: translateY(0px);
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.1), inset 0 0 0 1px var(--steel);
}
.button.is-active:active {
    transform: translateY(0px);
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.1), inset 0 0 0 1px var(--steel);
}

/* Disabled state */

.button.is-disabled {
    background-color: var(--snow);
    color: var(--silver);
    box-shadow: inset 0 0 0 1px var(--smoke);
    pointer-events: none;
}
