/* Element to act as dropdown hook */

.DropdownContainer {
    position: relative;
}

/* Caret */

.DropdownContainer::before,
.DropdownContainer::after {
    border-bottom: var(--spacing-1) solid var(--white);
    border-left: var(--spacing-1) solid transparent;
    border-right: var(--spacing-1) solid transparent;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -var(--spacing-1);
    position: absolute;
    top: 100%;
    width: 0;
}

.DropdownContainer::before {
    filter: drop-shadow(0 2px 4px rgba(0,0,0,.12));
}

/* Dropdown panel */

.Dropdown {
    background-color: var(--white);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .12), 0 15px 30px hsla(200, 50%, 10%, .08);
    border-radius: var(--borderRadius-2);
    left: 0;
    margin-top: var(--spacing-1);
    /*max-height: calc(100vh - 80px);*/
    min-height: var(--spacing-5);
    min-width: 160px;
    overflow: hidden;
    position: absolute;
    top: 100%;
    transition: all 150ms ease-in-out;
}

/* Active state */

.DropdownContainer::before,
.DropdownContainer::after,
.DropdownContainer .Dropdown {
    opacity: 0;
    pointer-events: none;
    transition-property: opacity, transform;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}

.DropdownContainer.is-active::before,
.DropdownContainer.is-active::after,
.DropdownContainer.is-active .Dropdown {
    transform: translateY(3px);
    opacity: 1;
    pointer-events: auto;
}
