.Dropdown {
    background-color: var(--white);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1), 0 15px 35px hsla(200, 50%, 10%, .1);
    border-radius: 4px;
    /*max-height: calc(100vh - 80px);*/
    /*min-width: 300px;*/
    overflow: hidden;
}
