/* Grid */

.Grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: -var(--spacing-l);
    margin-left: -var(--spacing-l);
}

.GridColumn {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.GridColumn,
.GridColumn--1,
.GridColumn--2,
.GridColumn--3,
.GridColumn--4,
.GridColumn--5,
.GridColumn--6,
.GridColumn--7,
.GridColumn--8,
.GridColumn--9,
.GridColumn--10,
.GridColumn--11,
.GridColumn--12,
.bps-GridColumn--1,
.bps-GridColumn--2,
.bps-GridColumn--3,
.bps-GridColumn--4,
.bps-GridColumn--5,
.bps-GridColumn--6,
.bps-GridColumn--7,
.bps-GridColumn--8,
.bps-GridColumn--9,
.bps-GridColumn--10,
.bps-GridColumn--11,
.bps-GridColumn--12,
.bpm-GridColumn--1,
.bpm-GridColumn--2,
.bpm-GridColumn--3,
.bpm-GridColumn--4,
.bpm-GridColumn--5,
.bpm-GridColumn--6,
.bpm-GridColumn--7,
.bpm-GridColumn--8,
.bpm-GridColumn--9,
.bpm-GridColumn--10,
.bpm-GridColumn--11,
.bpm-GridColumn--12,
.bpl-GridColumn--1,
.bpl-GridColumn--2,
.bpl-GridColumn--3,
.bpl-GridColumn--4,
.bpl-GridColumn--5,
.bpl-GridColumn--6,
.bpl-GridColumn--7,
.bpl-GridColumn--8,
.bpl-GridColumn--9,
.bpl-GridColumn--10,
.bpl-GridColumn--11,
.bpl-GridColumn--12,
.bpxl-GridColumn--1,
.bpxl-GridColumn--2,
.bpxl-GridColumn--3,
.bpxl-GridColumn--4,
.bpxl-GridColumn--5,
.bpxl-GridColumn--6,
.bpxl-GridColumn--7,
.bpxl-GridColumn--8,
.bpxl-GridColumn--9,
.bpxl-GridColumn--10,
.bpxl-GridColumn--11,
.bpxl-GridColumn--12 {
    padding-top: var(--spacing-l);
    padding-left: var(--spacing-l);
    width: 100%;
}

/* Sizes */

.Grid.small {
    margin-top: -var(--spacing-xxs);
    margin-left: -var(--spacing-xxs);
}
.Grid.small > .GridColumn,
.Grid.small > [class*="GridColumn--"],
.Grid.small > [class*="bps-GridColumn--"],
.Grid.small > [class*="bpm-GridColumn--"],
.Grid.small > [class*="bpl-GridColumn--"],
.Grid.small > [class*="bpxl-GridColumn--"] {
    padding-top: var(--spacing-xxs);
    padding-left: var(--spacing-xxs);
}

.Grid.zero {
    margin-top: 0;
    margin-left: 0;
}
.Grid.zero > .GridColumn,
.Grid.zero > [class*="GridColumn--"],
.Grid.zero > [class*="bps-GridColumn--"],
.Grid.zero > [class*="bpm-GridColumn--"],
.Grid.zero > [class*="bpl-GridColumn--"],
.Grid.zero > [class*="bpxl-GridColumn--"] {
    padding-top: 0;
    padding-left: 0;
}

/* Column widths */

.GridColumn--1              { max-width: 8.3333333333%; flex-basis: 8.3333333333%; }
.GridColumn--2              { max-width: 16.6666666666%; flex-basis: 16.6666666666%; }
.GridColumn--3              { max-width: 25%; flex-basis: 25%; }
.GridColumn--4              { max-width: 33.3333333333%; flex-basis: 33.3333333333%; }
.GridColumn--5              { max-width: 41.6666666666%; flex-basis: 41.6666666666%; }
.GridColumn--6              { max-width: 50%; flex-basis: 50%; }
.GridColumn--7              { max-width: 58.3333333333%; flex-basis: 58.3333333333%; }
.GridColumn--8              { max-width: 66.6666666666%; flex-basis: 66.6666666666%; }
.GridColumn--9              { max-width: 75%; flex-basis: 75%; }
.GridColumn--10             { max-width: 83.3333333333%; flex-basis: 83.3333333333%; }
.GridColumn--11             { max-width: 91.6666666666%; flex-basis: 91.6666666666%; }
.GridColumn--12             { max-width: 100%; flex-basis: 100%; }

@media (--breakpoint-s) {
    .bps-GridColumn--1      { max-width: 8.3333333333%; flex-basis: 8.3333333333%; }
    .bps-GridColumn--2      { max-width: 16.6666666666%; flex-basis: 16.6666666666%; }
    .bps-GridColumn--3      { max-width: 25%; flex-basis: 25%; }
    .bps-GridColumn--4      { max-width: 33.3333333333%; flex-basis: 33.3333333333%; }
    .bps-GridColumn--5      { max-width: 41.6666666666%; flex-basis: 41.6666666666%; }
    .bps-GridColumn--6      { max-width: 50%; flex-basis: 50%; }
    .bps-GridColumn--7      { max-width: 58.3333333333%; flex-basis: 58.3333333333%; }
    .bps-GridColumn--8      { max-width: 66.6666666666%; flex-basis: 66.6666666666%; }
    .bps-GridColumn--9      { max-width: 75%; flex-basis: 75%; }
    .bps-GridColumn--10     { max-width: 83.3333333333%; flex-basis: 83.3333333333%; }
    .bps-GridColumn--11     { max-width: 91.6666666666%; flex-basis: 91.6666666666%; }
    .bps-GridColumn--12     { max-width: 100%; flex-basis: 100%; }
}

@media (--breakpoint-m) {
    .bpm-GridColumn--1      { max-width: 8.3333333333%; flex-basis: 8.3333333333%; }
    .bpm-GridColumn--2      { max-width: 16.6666666666%; flex-basis: 16.6666666666%; }
    .bpm-GridColumn--3      { max-width: 25%; flex-basis: 25%; }
    .bpm-GridColumn--4      { max-width: 33.3333333333%; flex-basis: 33.3333333333%; }
    .bpm-GridColumn--5      { max-width: 41.6666666666%; flex-basis: 41.6666666666%; }
    .bpm-GridColumn--6      { max-width: 50%; flex-basis: 50%; }
    .bpm-GridColumn--7      { max-width: 58.3333333333%; flex-basis: 58.3333333333%; }
    .bpm-GridColumn--8      { max-width: 66.6666666666%; flex-basis: 66.6666666666%; }
    .bpm-GridColumn--9      { max-width: 75%; flex-basis: 75%; }
    .bpm-GridColumn--10     { max-width: 83.3333333333%; flex-basis: 83.3333333333%; }
    .bpm-GridColumn--11     { max-width: 91.6666666666%; flex-basis: 91.6666666666%; }
    .bpm-GridColumn--12     { max-width: 100%; flex-basis: 100%; }
}

@media (--breakpoint-l) {
    .bpl-GridColumn--1      { max-width: 8.3333333333%; flex-basis: 8.3333333333%; }
    .bpl-GridColumn--2      { max-width: 16.6666666666%; flex-basis: 16.6666666666%; }
    .bpl-GridColumn--3      { max-width: 25%; flex-basis: 25%; }
    .bpl-GridColumn--4      { max-width: 33.3333333333%; flex-basis: 33.3333333333%; }
    .bpl-GridColumn--5      { max-width: 41.6666666666%; flex-basis: 41.6666666666%; }
    .bpl-GridColumn--6      { max-width: 50%; flex-basis: 50%; }
    .bpl-GridColumn--7      { max-width: 58.3333333333%; flex-basis: 58.3333333333%; }
    .bpl-GridColumn--8      { max-width: 66.6666666666%; flex-basis: 66.6666666666%; }
    .bpl-GridColumn--9      { max-width: 75%; flex-basis: 75%; }
    .bpl-GridColumn--10     { max-width: 83.3333333333%; flex-basis: 83.3333333333%; }
    .bpl-GridColumn--11     { max-width: 91.6666666666%; flex-basis: 91.6666666666%; }
    .bpl-GridColumn--12     { max-width: 100%; flex-basis: 100%; }
}

@media (--breakpoint-xl) {
    .bpxl-GridColumn--1     { max-width: 8.3333333333%; flex-basis: 8.3333333333%; }
    .bpxl-GridColumn--2     { max-width: 16.6666666666%; flex-basis: 16.6666666666%; }
    .bpxl-GridColumn--3     { max-width: 25%; flex-basis: 25%; }
    .bpxl-GridColumn--4     { max-width: 33.3333333333%; flex-basis: 33.3333333333%; }
    .bpxl-GridColumn--5     { max-width: 41.6666666666%; flex-basis: 41.6666666666%; }
    .bpxl-GridColumn--6     { max-width: 50%; flex-basis: 50%; }
    .bpxl-GridColumn--7     { max-width: 58.3333333333%; flex-basis: 58.3333333333%; }
    .bpxl-GridColumn--8     { max-width: 66.6666666666%; flex-basis: 66.6666666666%; }
    .bpxl-GridColumn--9     { max-width: 75%; flex-basis: 75%; }
    .bpxl-GridColumn--10    { max-width: 83.3333333333%; flex-basis: 83.3333333333%; }
    .bpxl-GridColumn--11    { max-width: 91.6666666666%; flex-basis: 91.6666666666%; }
    .bpxl-GridColumn--12    { max-width: 100%; flex-basis: 100%; }
}
