.Input {
    height: var(--spacing-4);
    line-height: var(--spacing-4);
    padding-left: var(--spacing-1);
    font-size: var(--fontSize-3);
    border-radius: var(--br-m);
    border: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0,0,0,.05), inset 0 0 0 1px var(--silver);
    width: 100%;
    transition: all .15s ease;
}
.Input::-webkit-input-placeholder {
   color: var(--silver);
   opacity:  1;
}
.Input::-moz-placeholder {
   color: var(--silver);
   opacity:  1;
}
.Input:-ms-input-placeholder {
   color: var(--silver);
   opacity:  1;
}
.Input:hover {
    box-shadow: 0 4px 6px rgba(32,52,61,.05), 0 1px 3px rgba(0,0,0,.05), inset 0 0 0 1px var(--silver);
}
.Input:focus {
    box-shadow: 0 7px 14px rgba(32,52,61,.05), 0 3px 6px rgba(0,0,0,.05), inset 0 0 0 1px var(--blue);
}


/* Sizes */

.Input.large {
    height: var(--spacing-6);
    padding-left: var(--spacing-2);
}

.Input.small {
    height: var(--spacing-4);
    padding-left: var(--spacing-1);
    font-size: var(--fontSize-2);
}


/* Background color variations */

.Input.has-darkBg {
    box-shadow: none;
    background: rgba(255,255,255,.15);
    color: var(--white);
}
.Input.has-darkBg::-webkit-input-placeholder {
   color: rgba(255,255,255,.5);
   opacity:  1;
}
.Input.has-darkBg::-moz-placeholder {
   color: rgba(255,255,255,.5);
   opacity:  1;
}
.Input.has-darkBg:-ms-input-placeholder {
   color: rgba(255,255,255,.5);
   opacity:  1;
}
.Input.has-darkBg:hover,
.Input.has-darkBg:focus {
    box-shadow: none;
    background: rgba(255,255,255,.2);
}



.Input.has-lightBg {
    box-shadow: none;
    background: rgba(0,0,0,.05);
}
.Input.has-lightBg::-webkit-input-placeholder {
   color: rgba(0,0,0,.25);
   opacity:  1;
}
.Input.has-lightBg::-moz-placeholder {
   color: rgba(0,0,0,.25);
   opacity:  1;
}
.Input.has-lightBg:-ms-input-placeholder {
   color: rgba(0,0,0,.25);
   opacity:  1;
}
.Input.has-lightBg:hover,
.Input.has-lightBg:focus {
    box-shadow: none;
    background: rgba(0,0,0,.06);
}
