.Link,
.PrimaryLink,
.LightLink {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    /*background-repeat: repeat-x;
    background-size: 100% 1px;
    background-position: 0 100%;*/
    transition: all 100ms linear;
    /*background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);*/
}
/*.Link:hover {
    background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
}*/

.Link.small,
.LightLink.small {
    font-size: var(--fontSize-2);
    line-height: 1.5;
}

.PrimaryLink {
    color: var(--blue500);
}
.PrimaryLink:hover {
    color: var(--blue700);
}

.LightLink {
    color: var(--gray500);
    background-image: none;
}
.LightLink:hover {
    color: var(--gray800);
}


















.Link.has-darkBg {
    color: var(--white);
}

.Link--inherit {
    color: inherit;
    background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
}

.Link--light {
    color: var(--gray500);
}
.Link--light:hover {
    color: var(--blue500);
}

.Link--light.has-darkBg {
    color: rgba(255,255,255,.5);
}
.Link--light:hover {
    color: var(--white);
}

.Link--dark {
    color: var(--gray800);
}
.Link--dark:hover {
    color: var(--blue500);
}
