.Scrollbar {
    overflow: auto;
}

.Scrollbar::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}

.Scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}

.Scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--silver);
}
