.SideDrawer {
    background-color: white;
    box-shadow: 0 6px 20px 1px rgba(20,26,31,.15), 0 3px 10px 0 rgba(20,26,31,.08);
    height: 100vh;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 90vw;
    max-width: 300px;
    z-index: 7;
    transform: translateX(-300px);
    transition-property: transform;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}

.SideDrawer.active {
    transform: translateX(0);
}
