.Slider {
    appearance: none;
    padding: 8px 0;
    width: 100%;
    cursor: pointer;
}
.Slider:focus {
    outline: none;
}

.Slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    box-shadow: none;
    background: var(--gray300);
    border-radius: 9999px;
    border: none;
}
/*.Slider:focus::-webkit-slider-runnable-track {
    background: var(--blue500);
}*/
.Slider::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    box-shadow: none;
    background: var(--gray300);
    border-radius: 9999px;
    border: none;
}
.Slider::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
.Slider::-ms-fill-lower {
    background: var(--gray300);
    border: none;
    border-radius: 9999px;
    box-shadow: none;
}
/*.Slider:focus::-ms-fill-lower {
    background: var(--blue500);
}*/
.Slider::-ms-fill-upper {
    background: var(--gray300);
    border: none;
    border-radius: 9999px;
    box-shadow: none;
}
/*.Slider:focus::-ms-fill-upper {
    background: var(--blue500);
}*/

.Slider::-webkit-slider-thumb {
    box-shadow: 0 4px 6px rgba(32,52,61,.05), 0 1px 3px rgba(0,0,0,.05);
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--gray500);
    cursor: pointer;
    appearance: none;
    margin-top: -6px;
    transition: transform 100ms ease;
}
.Slider:hover::-webkit-slider-thumb {
    transform: scale(1.2);
}
.Slider::-moz-range-thumb {
    box-shadow: 0 4px 6px rgba(32,52,61,.05), 0 1px 3px rgba(0,0,0,.05);
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--gray500);
    cursor: pointer;
    transition: transform 100ms ease;
}
.Slider:hover::-moz-range-thumb {
    transform: scale(1.2);
}
.Slider::-ms-thumb {
    box-shadow: 0 4px 6px rgba(32,52,61,.05), 0 1px 3px rgba(0,0,0,.05);
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--gray500);
    cursor: pointer;
}
