.StatusIndicator {
  width: 6px;
  height: 6px;
  background-color: var(--white);
  border-radius: 50%;
}

.PositiveStatusIndicator {
  background-color: var(--green500);
}

.NegativeStatusIndicator {
  background-color: var(--red500);
}
