.Text {
    font-size: var(--fontSize-3);
    line-height: 1.65;
}

.Text.small {
    font-size: var(--fontSize-2);
    line-height: 1.5;
}

/*.Text.small:container(width > 200px) {
    line-height: 1.55;
}

.Text.small:container(width > 400px) {
    line-height: 1.65;
}*/

.Text.large {
    font-size: var(--fontSize-4);
    letter-spacing: -.02em;
    margin-left: -.5px;
}

@media (--breakpoint-2) {
    .Text.large {
        font-size: var(--fontSize-5);
        letter-spacing: -.018em;
        margin-left: -1.5px;
    }
}

.Text.white { color: var(--white); }
.Text.black { color: var(--black); }
.Text.gray { color: var(--steel); }

.Text.red { color: var(--red); }
.Text.pink { color: var(--pink); }
.Text.purple { color: var(--purple); }
.Text.violet { color: var(--violet); }
.Text.indigo { color: var(--indigo); }
.Text.blue { color: var(--blue); }
.Text.lavender { color: var(--lavender); }
.Text.teal { color: var(--teal); }
.Text.green { color: var(--green); }
.Text.lime { color: var(--lime); }
.Text.yellow { color: var(--yellow); }
.Text.amber { color: var(--amber); }
.Text.orange { color: var(--orange); }
.Text.crimson { color: var(--crimson); }
