.Text {
    font-size: var(--fontSize-3);
}

.Text.small {
    font-size: var(--fontSize-2);
}

.Text.large {
    font-size: var(--fontSize-6);
    letter-spacing: -.02em;
    margin-left: -.5px;
}

@media (--breakpoint-2) {
    .Text.large {
        font-size: var(--fontSize-7);
        letter-spacing: -.018em;
        margin-left: -1.5px;
    }
}

.Text.white { color: var(--white); }
.Text.black { color: var(--black); }
.Text.gray { color: var(--gray500); }

.Text.red { color: var(--red500); }
.Text.pink { color: var(--pink500); }
.Text.purple { color: var(--purple500); }
.Text.violet { color: var(--violet500); }
.Text.indigo { color: var(--indigo500); }
.Text.blue { color: var(--blue500); }
.Text.lavender { color: var(--lavender500); }
.Text.teal { color: var(--teal500); }
.Text.green { color: var(--green500); }
.Text.lime { color: var(--lime500); }
.Text.yellow { color: var(--yellow500); }
.Text.amber { color: var(--amber500); }
.Text.orange { color: var(--orange500); }
.Text.crimson { color: var(--crimson500); }
