.Text {
    font-size: var(--fontSize-3);
}

.Text.size1 {
    font-size: var(--fontSize-1);
}

.Text.size2 {
    font-size: var(--fontSize-2);
}

.Text.size3 {
    font-size: var(--fontSize-3);
}

.Text.size4 {
    font-size: var(--fontSize-4);
}

.Text.size5 {
    font-size: var(--fontSize-5);
}

.Text.size6 {
    font-size: var(--fontSize-6);
    letter-spacing: -.02em;
    margin-left: -.5px;
}

.Text.size7 {
    font-size: var(--fontSize-7);
    letter-spacing: -.018em;
    margin-left: -1.5px;
}

/* Colors */

.Text.white { color: var(--white); }
.Text.black { color: var(--black); }
.Text.gray { color: var(--gray700); }

.Text.red { color: var(--red700); }
.Text.pink { color: var(--pink700); }
.Text.purple { color: var(--purple700); }
.Text.violet { color: var(--violet700); }
.Text.indigo { color: var(--indigo700); }
.Text.blue { color: var(--blue700); }
.Text.teal { color: var(--teal700); }
.Text.green { color: var(--green700); }
.Text.lime { color: var(--lime700); }
.Text.yellow { color: var(--yellow700); }
.Text.amber { color: var(--amber700); }
.Text.orange { color: var(--orange700); }

/* Weights */

.Text.weight1 { font-weight: 100; }
.Text.weight2 { font-weight: 200; }
.Text.weight3 { font-weight: 300; }
.Text.weight4 { font-weight: 400; }
.Text.weight5 { font-weight: 500; }
.Text.weight6 { font-weight: 600; }
.Text.weight7 { font-weight: 700; }
.Text.weight8 { font-weight: 800; }
.Text.weight9 { font-weight: 900; }
