.ToggleSwitch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 8px;
}

.ToggleSwitch input {
    display: none;
}

.ToggleSwitch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gray300);
    transition: all 100ms;
    border-radius: 9999px;
}

.ToggleSwitch .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 0;
    bottom: -4px;
    background-color: var(--gray500);
    transition: all 100ms ease;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(32,52,61,.05), 0 1px 3px rgba(0,0,0,.05);
}

.ToggleSwitch input:checked + .slider {
    background-color: var(--blue300);
}

.ToggleSwitch input:checked + .slider:before {
    transform: translateX(16px);
    background-color: var(--blue500)
}
