/* Heights */

.height-10  { height: 10%; }
.height-20  { height: 20%; }
.height-25  { height: 25%; }
.height-30  { height: 30%; }
.height-33  { height: 33.3333333333%; }
.height-40  { height: 40%; }
.height-50  { height: 50%; }
.height-60  { height: 60%; }
.height-66  { height: 66.6666666666%; }
.height-70  { height: 70%; }
.height-75  { height: 75%; }
.height-80  { height: 80%; }
.height-90  { height: 90%; }
.height-100 { height: 100%; }

.height-UIxxxs   { height: var(--spacing-xxxs); }
.height-UIxxs    { height: var(--spacing-xxs); }
.height-UIxs     { height: var(--spacing-xs); }
.height-UIs      { height: var(--spacing-s); }
.height-UIm      { height: var(--spacing-m); }
.height-UIl      { height: var(--spacing-l); }
.height-UIxl     { height: var(--spacing-xl); }
.height-UIxxl    { height: var(--spacing-xxl); }
.height-UIxxxl   { height: var(--spacing-xxxl); }

@media (--breakpoint-s) {
  .bps-height-10  { height: 10%; }
  .bps-height-20  { height: 20%; }
  .bps-height-25  { height: 25%; }
  .bps-height-30  { height: 30%; }
  .bps-height-33  { height: 33.3333333333%; }
  .bps-height-40  { height: 40%; }
  .bps-height-50  { height: 50%; }
  .bps-height-60  { height: 60%; }
  .bps-height-66  { height: 66.6666666666%; }
  .bps-height-70  { height: 70%; }
  .bps-height-75  { height: 75%; }
  .bps-height-80  { height: 80%; }
  .bps-height-90  { height: 90%; }
  .bps-height-100 { height: 100%; }

  .bps-height-UIxxxs   { height: var(--spacing-xxxs); }
  .bps-height-UIxxs    { height: var(--spacing-xxs); }
  .bps-height-UIxs     { height: var(--spacing-xs); }
  .bps-height-UIs      { height: var(--spacing-s); }
  .bps-height-UIm      { height: var(--spacing-m); }
  .bps-height-UIl      { height: var(--spacing-l); }
  .bps-height-UIxl     { height: var(--spacing-xl); }
  .bps-height-UIxxl    { height: var(--spacing-xxl); }
  .bps-height-UIxxxl   { height: var(--spacing-xxxl); }
}

@media (--breakpoint-m) {
  .bpm-height-10  { height: 10%; }
  .bpm-height-20  { height: 20%; }
  .bpm-height-25  { height: 25%; }
  .bpm-height-30  { height: 30%; }
  .bpm-height-33  { height: 33.3333333333%; }
  .bpm-height-40  { height: 40%; }
  .bpm-height-50  { height: 50%; }
  .bpm-height-60  { height: 60%; }
  .bpm-height-66  { height: 66.6666666666%; }
  .bpm-height-70  { height: 70%; }
  .bpm-height-75  { height: 75%; }
  .bpm-height-80  { height: 80%; }
  .bpm-height-90  { height: 90%; }
  .bpm-height-100 { height: 100%; }

  .bpm-height-UIxxxs   { height: var(--spacing-xxxs); }
  .bpm-height-UIxxs    { height: var(--spacing-xxs); }
  .bpm-height-UIxs     { height: var(--spacing-xs); }
  .bpm-height-UIs      { height: var(--spacing-s); }
  .bpm-height-UIm      { height: var(--spacing-m); }
  .bpm-height-UIl      { height: var(--spacing-l); }
  .bpm-height-UIxl     { height: var(--spacing-xl); }
  .bpm-height-UIxxl    { height: var(--spacing-xxl); }
  .bpm-height-UIxxxl   { height: var(--spacing-xxxl); }
}

@media (--breakpoint-l) {
  .bpl-height-10  { height: 10%; }
  .bpl-height-20  { height: 20%; }
  .bpl-height-25  { height: 25%; }
  .bpl-height-30  { height: 30%; }
  .bpl-height-33  { height: 33.3333333333%; }
  .bpl-height-40  { height: 40%; }
  .bpl-height-50  { height: 50%; }
  .bpl-height-60  { height: 60%; }
  .bpl-height-66  { height: 66.6666666666%; }
  .bpl-height-70  { height: 70%; }
  .bpl-height-75  { height: 75%; }
  .bpl-height-80  { height: 80%; }
  .bpl-height-90  { height: 90%; }
  .bpl-height-100 { height: 100%; }

  .bpl-height-UIxxxs   { height: var(--spacing-xxxs); }
  .bpl-height-UIxxs    { height: var(--spacing-xxs); }
  .bpl-height-UIxs     { height: var(--spacing-xs); }
  .bpl-height-UIs      { height: var(--spacing-s); }
  .bpl-height-UIm      { height: var(--spacing-m); }
  .bpl-height-UIl      { height: var(--spacing-l); }
  .bpl-height-UIxl     { height: var(--spacing-xl); }
  .bpl-height-UIxxl    { height: var(--spacing-xxl); }
  .bpl-height-UIxxxl   { height: var(--spacing-xxxl); }
}

@media (--breakpoint-xl) {
  .bpxl-height-10  { height: 10%; }
  .bpxl-height-20  { height: 20%; }
  .bpxl-height-25  { height: 25%; }
  .bpxl-height-30  { height: 30%; }
  .bpxl-height-33  { height: 33.3333333333%; }
  .bpxl-height-40  { height: 40%; }
  .bpxl-height-50  { height: 50%; }
  .bpxl-height-60  { height: 60%; }
  .bpxl-height-66  { height: 66.6666666666%; }
  .bpxl-height-70  { height: 70%; }
  .bpxl-height-75  { height: 75%; }
  .bpxl-height-80  { height: 80%; }
  .bpxl-height-90  { height: 90%; }
  .bpxl-height-100 { height: 100%; }

  .bpxl-height-UIxxxs   { height: var(--spacing-xxxs); }
  .bpxl-height-UIxxs    { height: var(--spacing-xxs); }
  .bpxl-height-UIxs     { height: var(--spacing-xs); }
  .bpxl-height-UIs      { height: var(--spacing-s); }
  .bpxl-height-UIm      { height: var(--spacing-m); }
  .bpxl-height-UIl      { height: var(--spacing-l); }
  .bpxl-height-UIxl     { height: var(--spacing-xl); }
  .bpxl-height-UIxxl    { height: var(--spacing-xxl); }
  .bpxl-height-UIxxxl   { height: var(--spacing-xxxl); }
}
