/* Input placeholder */

.ip-smoke::-webkit-input-placeholder {
   color: var(--smoke);
   opacity:  1;
}
.ip-smoke:-moz-placeholder {
   color: var(--smoke);
   opacity:  1;
}
.ip-smoke:-ms-input-placeholder {
   color: var(--smoke);
   opacity:  1;
}

.ip-white::-webkit-input-placeholder {
   color: rgba(255,255,255, var(--transparent));
   opacity:  1;
}
.ip-white:-moz-placeholder {
   color: rgba(255,255,255, var(--transparent));
   opacity:  1;
}
.ip-white:-ms-input-placeholder {
   color: rgba(255,255,255, var(--transparent));
   opacity:  1;
}

.ip-black::-webkit-input-placeholder {
   color: rgba(0,0,0, var(--transparent));
   opacity:  1;
}
.ip-black:-moz-placeholder {
   color: rgba(0,0,0, var(--transparent));
   opacity:  1;
}
.ip-black:-ms-input-placeholder {
   color: rgba(0,0,0, var(--transparent));
   opacity:  1;
}

/* ContentEditable placeholder */

[contentEditable=true]:empty:before {
    content: attr(placeholder);
    opacity:  1;
    color: var(--smoke);
}
