<section class="bc-snow pt-xl bps-pt-xxl pb-xl bps-pb-xxl clearfix">
    <div class="width-90 bpm-width-70 bpl-width-50 clearfix horizontallyCenter">
        <h2 class="fs-xxl lh-xxl bps-fs-xxxl bps-lh-xxxl fw-3 ls-s">This is a main heading.</h2>
        <div class="mt-xxs bps-mt-xs">
            <h3 class="Text large lh-l bps-fs-xxl bps-lh-xxl fw-3 color-steel">This is an optional, supporting sub heading.</h3>
        </div>
    </div>
    <div class="mt-l bps-mt-xl">
        <div class="width-90 bpm-width-70 bpl-width-50 clearfix horizontallyCenter">
            <div class="grid">
                <div class="col-12 bps-col-6 bpm-col-4">
                    <div class="position-relative">
                        <div class="position-absolute pinTL">
                            <svg class="fill-charcoal" width="48px" height="48px" viewBox="0 0 32 32">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16,10.001c-4.419,0-8,3.581-8,8c0,4.418,3.581,8,8,8
                                    c4.418,0,8-3.582,8-8C24,13.583,20.418,10.001,16,10.001z M20.555,21.906c-2.156,2.516-5.943,2.807-8.459,0.65
                                    c-2.517-2.156-2.807-5.944-0.65-8.459c2.155-2.517,5.943-2.807,8.459-0.65C22.42,15.602,22.711,19.391,20.555,21.906z"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16,14.001c-2.209,0-3.999,1.791-4,3.999v0.002
                                    c0,0.275,0.224,0.5,0.5,0.5s0.5-0.225,0.5-0.5V18c0.001-1.656,1.343-2.999,3-2.999c0.276,0,0.5-0.224,0.5-0.5
                                    S16.276,14.001,16,14.001z"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M29.492,9.042l-4.334-0.723l-1.373-3.434
                                    C23.326,3.74,22.232,3,21,3H11C9.768,3,8.674,3.74,8.214,4.886L6.842,8.319L2.509,9.042C1.055,9.283,0,10.527,0,12v15
                                    c0,1.654,1.346,3,3,3h26c1.654,0,3-1.346,3-3V12C32,10.527,30.945,9.283,29.492,9.042z M30,27c0,0.553-0.447,1-1,1H3
                                    c-0.553,0-1-0.447-1-1V12c0-0.489,0.354-0.906,0.836-0.986l5.444-0.907l1.791-4.478C10.224,5.25,10.591,5,11,5h10
                                    c0.408,0,0.775,0.249,0.928,0.629l1.791,4.478l5.445,0.907C29.646,11.094,30,11.511,30,12V27z"/>
                            </svg>
                        </div>
                        <div class="pl-xl">
                            <div class="pt-xs mb-xxs">
                                <h4 class="fs-xl lh-xxl bps-fs-xxl fw-3">Heading</h4>
                            </div>
                            <p class="fs-m lh-l">Some brief supporting text. Try not to exceed 4 lines. Some brief supporting text. Try not to exceed 4 lines.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 bps-col-6 bpm-col-4">
                    <div class="position-relative">
                        <div class="position-absolute pinTL">
                            <svg class="fill-charcoal" width="48px" height="48px" viewBox="0 0 32 32">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16,7c-5.963,0-11,3.206-11,7c0,0.276,0.224,0.5,0.5,0.5
                                    S6,14.276,6,14c0-3.196,4.673-6,10-6c0.275,0,0.5-0.224,0.5-0.5S16.276,7,16,7z"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16,2C7.163,2,0,7.373,0,14c0,4.127,2.779,7.766,7.008,9.926
                                    C7.008,23.953,7,23.971,7,24c0,1.793-1.339,3.723-1.928,4.736c0.001,0,0.002,0,0.002,0C5.027,28.846,5,28.967,5,29.094
                                    C5,29.594,5.405,30,5.906,30C6,30,6.165,29.975,6.161,29.986c3.125-0.512,6.069-3.383,6.753-4.215C13.913,25.918,14.943,26,16,26
                                    c8.835,0,16-5.373,16-12C32,7.373,24.836,2,16,2z M16,24c-0.917,0-1.858-0.07-2.796-0.207c-0.097-0.016-0.194-0.021-0.29-0.021
                                    c-0.594,0-1.163,0.264-1.546,0.73c-0.428,0.521-1.646,1.684-3.085,2.539c0.39-0.895,0.695-1.898,0.716-2.932
                                    c0.006-0.064,0.009-0.129,0.009-0.184c0-0.752-0.421-1.439-1.09-1.781C4.212,20.252,2,17.207,2,14C2,8.486,8.28,4,16,4
                                    c7.718,0,14,4.486,14,10C30,19.514,23.719,24,16,24z"/>
                            </svg>
                        </div>
                        <div class="pl-xl">
                            <div class="pt-xs mb-xxs">
                                <h4 class="fs-xl lh-xxl bps-fs-xxl fw-3">Heading</h4>
                            </div>
                            <p class="fs-m lh-l">Some brief supporting text. Try not to exceed 4 lines. Some brief supporting text. Try not to exceed 4 lines.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 bps-col-6 bpm-col-4">
                    <div class="position-relative">
                        <div class="position-absolute pinTL">
                            <svg class="fill-charcoal" width="48px" height="48px" viewBox="0 0 32 32">
                                <path d="M29.334,3H25V1c0-0.553-0.447-1-1-1s-1,0.447-1,1v2h-6V1c0-0.553-0.448-1-1-1s-1,0.447-1,1v2H9V1
                                    c0-0.553-0.448-1-1-1S7,0.447,7,1v2H2.667C1.194,3,0,4.193,0,5.666v23.667C0,30.806,1.194,32,2.667,32h26.667
                                    C30.807,32,32,30.806,32,29.333V5.666C32,4.193,30.807,3,29.334,3z M30,29.333C30,29.701,29.701,30,29.334,30H2.667
                                    C2.299,30,2,29.701,2,29.333V5.666C2,5.299,2.299,5,2.667,5H7v2c0,0.553,0.448,1,1,1s1-0.447,1-1V5h6v2c0,0.553,0.448,1,1,1
                                    s1-0.447,1-1V5h6v2c0,0.553,0.447,1,1,1s1-0.447,1-1V5h4.334C29.701,5,30,5.299,30,5.666V29.333z"/>
                                <rect x="7" y="12" width="4" height="3"/>
                                <rect x="7" y="17" width="4" height="3"/>
                                <rect x="7" y="22" width="4" height="3"/>
                                <rect x="14" y="22" width="4" height="3"/>
                                <rect x="14" y="17" width="4" height="3"/>
                                <rect x="14" y="12" width="4" height="3"/>
                                <rect x="21" y="22" width="4" height="3"/>
                                <rect x="21" y="17" width="4" height="3"/>
                                <rect x="21" y="12" width="4" height="3"/>
                            </svg>
                        </div>
                        <div class="pl-xl">
                            <div class="pt-xs mb-xxs">
                                <h4 class="fs-xl lh-xxl bps-fs-xxl fw-3">Heading</h4>
                            </div>
                            <p class="fs-m lh-l">Some brief supporting text. Try not to exceed 4 lines. Some brief supporting text. Try not to exceed 4 lines.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 bps-col-6 bpm-col-4">
                    <div class="position-relative">
                        <div class="position-absolute pinTL">
                            <svg class="fill-charcoal" width="48px" height="48px" viewBox="0 0 32 32">
                                <path id="diamond" d="M31.414,9.677l-5.08-5.081C25.959,4.221,25.449,4.01,24.92,4.01H7.081
                                    c-0.53,0-1.039,0.211-1.414,0.586l-5.08,5.081C0.194,10.069-0.002,10.586,0,11.104c0.003,0.47,0.171,0.939,0.506,1.316
                                    l13.999,14.908C14.885,27.756,15.429,28,16,28c0.571,0,1.115-0.244,1.494-0.672l14-14.908c0.342-0.385,0.51-0.867,0.506-1.348
                                    C31.996,10.566,31.799,10.062,31.414,9.677z M18.219,11.01H13.78L16,9.161L18.219,11.01z M16.782,8.51l2.732-2.278l2.018,2.018
                                    L19,10.359L16.782,8.51z M13,10.359L10.468,8.25l2.018-2.018l2.733,2.278L13,10.359z M18.49,12.01L16,24.463L13.51,12.01H18.49z
                                     M19.51,12.01h4.906l-7.359,12.269L19.51,12.01z M19.779,11.01l2.463-2.051l2.051,2.051H19.779z M20.707,6.01h3.512l-1.916,1.597
                                    L20.707,6.01z M16,7.86l-2.22-1.85h4.438L16,7.86z M9.696,7.607L7.78,6.01h3.513L9.696,7.607z M9.758,8.959l2.462,2.051H7.707
                                    L9.758,8.959z M12.49,12.01l2.453,12.269L7.583,12.01H12.49z M12.704,22.488L2.864,12.01h3.554L12.704,22.488z M25.582,12.01h3.555
                                    l-9.842,10.48L25.582,12.01z M25.707,11.01l-2.693-2.693l2.297-1.915l4.607,4.608H25.707z M6.686,6.4l2.301,1.917L6.293,11.01H2.006
                                    L6.686,6.4z"/>
                            </svg>
                        </div>
                        <div class="pl-xl">
                            <div class="pt-xs mb-xxs">
                                <h4 class="fs-xl lh-xxl bps-fs-xxl fw-3">Heading</h4>
                            </div>
                            <p class="fs-m lh-l">Some brief supporting text. Try not to exceed 4 lines. Some brief supporting text. Try not to exceed 4 lines.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 bps-col-6 bpm-col-4">
                    <div class="position-relative">
                        <div class="position-absolute pinTL">
                            <svg class="fill-charcoal" width="48px" height="48px" viewBox="0 0 32 32">
                                <path id="t-shirt_1_" fill-rule="evenodd" clip-rule="evenodd" d="M31.25,6.438l-5-4C25.895,2.154,25.453,2,25,2H7
                                    C6.546,2,6.105,2.154,5.75,2.438l-5,4C0.096,6.962-0.162,7.838,0.103,8.633l2,6c0.197,0.591,0.659,1.057,1.249,1.259
                                    C3.562,15.964,3.782,16,4,16c0.348,0,0.693-0.091,1-0.268V28c0,1.104,0.896,2,2,2h18c1.104,0,2-0.896,2-2V15.732
                                    C27.307,15.909,27.652,16,28,16c0.219,0,0.438-0.036,0.648-0.108c0.59-0.202,1.051-0.668,1.248-1.259l2-6
                                    C32.162,7.838,31.904,6.962,31.25,6.438z M19.754,4C19.201,5.161,17.736,6,16,6c-1.736,0-3.202-0.839-3.754-2H19.754z M28,14l-3-2
                                    v16H7V12l-3,2L2,8l5-4h4.177C11.734,5.722,13.673,7,16,7c2.326,0,4.266-1.278,4.822-3H25l5,4L28,14z"/>
                            </svg>
                        </div>
                        <div class="pl-xl">
                            <div class="pt-xs mb-xxs">
                                <h4 class="fs-xl lh-xxl bps-fs-xxl fw-3">Heading</h4>
                            </div>
                            <p class="fs-m lh-l">Some brief supporting text. Try not to exceed 4 lines. Some brief supporting text. Try not to exceed 4 lines.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 bps-col-6 bpm-col-4">
                    <div class="position-relative">
                        <div class="position-absolute pinTL">
                            <svg class="fill-charcoal" width="48px" height="48px" viewBox="0 0 32 32">
                                <circle cx="18" cy="20" r="2"/>
                                <path d="M29.001,13C29,13,29,13,29.001,13L29,7V6.5V4c0-1.657-1.344-3-3-3h-4H5.5C2.467,1,0,3.468,0,6.5v20
                                    C0,29.532,2.467,32,5.5,32h18c3.032,0,5.5-2.468,5.5-5.5V25c0,0,0,0,0.001,0C32.999,21.999,32.999,16.001,29.001,13z M5.5,3H22h4
                                    c0.551,0,1,0.448,1,1v2.5V7v3.184C26.686,10.072,26.352,10,26,10h-0.001V9V7V5c0-0.553-0.448-1-1-1h-21c-0.552,0-1,0.447-1,1v2
                                    v1.943C2.382,8.312,2,7.452,2,6.5C2,4.567,3.566,3,5.5,3z M24.999,6h-21V5h21V6z M24.999,7v1h-21V7H24.999z M24.999,9v1H22H5.5
                                    c-0.54,0-1.044-0.132-1.5-0.35V9H24.999z M27,26.5c0,1.933-1.567,3.5-3.5,3.5h-18C3.566,30,2,28.433,2,26.5V10.739
                                    C2.951,11.526,4.171,12,5.5,12H22h4c0.551,0,1,0.448,1,1v2h-9c-2.762,0-5,2.238-5,5s2.239,5,5,5h9V26.5z M28.277,23H18
                                    c-1.654,0-3-1.346-3-3s1.346-3,3-3h9c0.617-0.008,1.229-0.307,1.602-0.804c0.104-0.14,0.185-0.297,0.25-0.461
                                    c0.009-0.022,0.025-0.039,0.033-0.062C29.604,16.616,30,17.772,30,19C30,20.538,29.379,21.965,28.277,23z"/>
                            </svg>
                        </div>
                        <div class="pl-xl">
                            <div class="pt-xs mb-xxs">
                                <h4 class="fs-xl lh-xxl bps-fs-xxl fw-3">Heading</h4>
                            </div>
                            <p class="fs-m lh-l">Some brief supporting text. Try not to exceed 4 lines. Some brief supporting text. Try not to exceed 4 lines.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
