<section class="bc-white pt-l pb-l bps-pt-xl bps-pb-xl clearfix ta-center">
    <div class="width-90 bpm-width-70 bpl-width-50 clearfix horizontallyCenter">
        <div class="bps-display-inlineBlock va-middle mb-l bps-mb-0 bps-mr-m">
            <p class="fs-m">Some short text to encourage a call to action.</p>
        </div>
        <div class="bps-display-inlineBlock va-middle">
            <button class="display-inlineBlock va-middle bw-0 appearance-none ws-noWrap os-none us-none td-none ta-center cursor-pointer fw-5 br-s pl-s pr-s fs-m bc-blue color-white" style="line-height: 40px;">Create account</button>
        </div>
    </div>
</section>
