<section class="bc-white pt-xl bps-pt-xxl pb-xl bps-pb-xxl clearfix">
    <div class="width-90 bpm-width-70 bpl-width-50 clearfix horizontallyCenter">
        <h1 class="fs-xxxxl lh-xxxxl bps-fs-xxxxxl bps-lh-xxxxxl fw-3 ls-xxs bps-ls-xxxs">
            <span class="display-block fw-3">Big.</span>
            <span class="display-block color-pink">Huge.</span>
            <span class="display-block fw-3">Heading.</span>
        </h1>

        <div class="width-90 bps-width-75 bpm-width-50 bpl-width-40 clearfix">
            <div class="mt-l bps-mt-xl">
                <h2 class="Text large lh-l bps-fs-xxl bps-lh-xxl fw-3 color-steel">Sometimes all you need is a big fuck off heading to introduce your shit.</h2>
            </div>
        </div>
    </div>
</section>
