<header class="pt-xxl pb-xxl bps-pt-0 bps-pb-0 bps-height-90 ta-center bc-charcoal">
    <div class="display-table height-100 width-100">
        <div class="display-tableCell va-middle">
            <div class="width-90 bpm-width-50 horizontallyCenter">
                <h1 class="fs-xxxl lh-xxxl bps-fs-xxxxl bps-lh-xxxxl fw-3 color-white ls-s bps-ls-xs">This is a large main heading.</h1>
                <div class="mt-xs">
                    <h2 class="fs-xl lh-xl bps-fs-xxl bps-lh-xxl fw-3 color-white--transparent">This is a small sub heading.</h2>
                </div>
                <div class="mt-xl">
                    <div class="inline">
                        <div class="mr-m">
                            <button class="display-inlineBlock va-middle bw-0 appearance-none ws-noWrap os-none us-none td-none ta-center cursor-pointer fw-5 br-s pl-m pr-m fs-m bc-white color-charcoal" style="line-height: 50px;">Download link</button>
                        </div>
                        <div>
                            <button class="display-inlineBlock va-middle bw-0 appearance-none ws-noWrap os-none us-none td-none ta-center cursor-pointer fw-5 br-s pl-m pr-m fs-m bc-white color-charcoal" style="line-height: 50px;">Watch video</button>
                        </div>
                    </div>
                </div>
                <div class="mt-m">
                    <a class="fs-xs ls-l fw-5 color-white--transparent td-none color-white--hover" href="#">Link to something</a>
                </div>
            </div>
        </div>
    </div>
</header>
