<section class="position-relative ta-center clearfix height-100 bs-cover" style="background-image: url('https://images.unsplash.com/photo-1442589031151-61d5645469d7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=12154afe0240145e09bdad8a752d4fd6'); background-position: center;">
    <div class="position-absolute pinAll bc-black opacity-20"></div>
    <div class="position-relative zi-1 height-100">
        <div class="display-table height-100 width-100">
            <div class="display-tableCell va-middle">
                <div class="width-90 bps-width-75 bpm-width-50 bpl-width-40 clearfix horizontallyCenter">
                    <div class="ta-center">
                        <div class="mb-xs">
                            <h1 class="fs-xxxl lh-xxxl bps-fs-xxxxl bps-lh-xxxxl fw-3 color-white ls-xs">This is a large main heading.</h1>
                        </div>
                        <h2 class="fs-xl lh-xl bps-fs-xxl bps-lh-xxl fw-3 color-white--transparent">This is a small sub heading.</h2>
                        <div class="mt-xl">
                            <form class="mt-l">
                                <div class="inline">
                                    <div>
                                        <input class="display-inlineBlock va-middle bw-0 appearance-none os-none btlr-s bblr-s padding-m fs-m" type="email" placeholder="Email address" style="min-width: 240px;">
                                    </div>
                                    <div>
                                        <input class="display-inlineBlock va-middle bw-0 appearance-none ws-noWrap os-none us-none td-none ta-center cursor-pointer fw-5 br-s pl-m pr-m fs-m bc-blue color-white" type="submit" value="Join waitlist" style="line-height: 50px;">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
