<section class="bc-white pt-xl bps-pt-xxl pb-xl bps-pb-xxl clearfix ta-center">
    <div class="width-90 bpm-width-70 bpl-width-50 clearfix horizontallyCenter">
        <div class="grid">
            <div class="col-12 bps-col-6 bpm-col-3">
                <div class="mb-xxs">
                    <h4 class="fs-xl lh-xl fw-3">Heading</h4>
                </div>
                <div class="mb-m">
                    <p class="fs-m lh-l bpm-fs-s bpm-lh-m">A short preview of whatever content you're linking to. Try not to exceed 4 lines.</p>
                </div>
                <a class="os-none td-none td-underline--hover cursor-pointer fs-m bpm-fs-s color-blue">Link to something</a>
            </div>
            <div class="col-12 bps-col-6 bpm-col-3">
                <div class="mb-xxs">
                    <h4 class="fs-xl lh-xl fw-3">Heading</h4>
                </div>
                <div class="mb-m">
                    <p class="fs-m lh-l bpm-fs-s bpm-lh-m">A short preview of whatever content you're linking to. Try not to exceed 4 lines.</p>
                </div>
                <a class="os-none td-none td-underline--hover cursor-pointer fs-m bpm-fs-s color-blue">Link to something</a>
            </div>
            <div class="col-12 bps-col-6 bpm-col-3">
                <div class="mb-xxs">
                    <h4 class="fs-xl lh-xl fw-3">Heading</h4>
                </div>
                <div class="mb-m">
                    <p class="fs-m lh-l bpm-fs-s bpm-lh-m">A short preview of whatever content you're linking to. Try not to exceed 4 lines.</p>
                </div>
                <a class="os-none td-none td-underline--hover cursor-pointer fs-m bpm-fs-s color-blue">Link to something</a>
            </div>
            <div class="col-12 bps-col-6 bpm-col-3">
                <div class="mb-xxs">
                    <h4 class="fs-xl lh-xl fw-3">Heading</h4>
                </div>
                <div class="mb-m">
                    <p class="fs-m lh-l bpm-fs-s bpm-lh-m">A short preview of whatever content you're linking to. Try not to exceed 4 lines.</p>
                </div>
                <a class="os-none td-none td-underline--hover cursor-pointer fs-m bpm-fs-s color-blue">Link to something</a>
            </div>
        </div>
    </div>
</section>
