<section class="bc-white pt-xl bps-pt-xxl pb-xl bps-pb-xxl clearfix">
    <div class="width-90 bps-width-75 bpm-width-50 bpl-width-40 clearfix horizontallyCenter ta-center">
        <h2 class="fs-xxl lh-xxl bps-fs-xxxl bps-lh-xxxl fw-3 ls-s">This is a main heading.</h2>
        <div class="mt-xxs bps-mt-xs">
            <h3 class="Text large lh-l bps-fs-xxl bps-lh-xxl fw-3 color-steel">This is an optional, supporting sub heading.</h3>
        </div>
    </div>
    <div class="mt-l bps-mt-xl">
        <div class="width-90 bps-width-75 bpm-width-50 bpl-width-40 clearfix horizontallyCenter">
            <div class="grid">
                <div class="col-12 bps-col-6">
                    <div class="mb-l">
                        <h2 class="fs-xl lh-xxl bps-fs-xxl fw-3">Product</h2>
                    </div>
                    <div class="mb-m">
                        <a class="os-none td-none td-underline--hover cursor-pointer fs-l color-blue fw-3 lh-m" href="#">Product Designer</a>
                        <div class="mt-xxs">
                            <span class="display-block fs-m lh-m color-steel">This might be used for a brief job description.</span>
                        </div>
                    </div>
                    <div class="mb-m">
                        <a class="os-none td-none td-underline--hover cursor-pointer fs-l color-blue fw-3 lh-m" href="#">Communication Designer</a>
                        <div class="mt-xxs">
                            <span class="display-block fs-m lh-m color-steel">This might be used for a brief job description.</span>
                        </div>
                    </div>
                    <div class="mt-xl mb-l">
                        <h2 class="fs-xl lh-xxl bps-fs-xxl fw-3">Marketing</h2>
                    </div>
                    <div class="mb-m">
                        <a class="os-none td-none td-underline--hover cursor-pointer fs-l color-blue fw-3 lh-m" href="#">Product Designer</a>
                        <div class="mt-xxs">
                            <span class="display-block fs-m lh-m color-steel">This might be used for a brief job description.</span>
                        </div>
                    </div>
                    <div class="mb-m">
                        <a class="os-none td-none td-underline--hover cursor-pointer fs-l color-blue fw-3 lh-m" href="#">Communication Designer</a>
                        <div class="mt-xxs">
                            <span class="display-block fs-m lh-m color-steel">This might be used for a brief job description.</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 bps-col-6">
                    <div class="mb-l">
                        <h2 class="fs-xl lh-xxl bps-fs-xxl fw-3">Engineering</h2>
                    </div>
                    <div class="mb-m">
                        <a class="os-none td-none td-underline--hover cursor-pointer fs-l color-blue fw-3 lh-m" href="#">Developer Support Engineer</a>
                        <div class="mt-xxs">
                            <span class="display-block fs-m lh-m color-steel">This might be used for a brief job description.</span>
                        </div>
                    </div>
                    <div class="mb-m">
                        <a class="os-none td-none td-underline--hover cursor-pointer fs-l color-blue fw-3 lh-m" href="#">Systems Engineer</a>
                        <div class="mt-xxs">
                            <span class="display-block fs-m lh-m color-steel">This might be used for a brief job description.</span>
                        </div>
                    </div>
                    <div class="mb-m">
                        <a class="os-none td-none td-underline--hover cursor-pointer fs-l color-blue fw-3 lh-m" href="#">Marketing Manager</a>
                        <div class="mt-xxs">
                            <span class="display-block fs-m lh-m color-steel">This might be used for a brief job description.</span>
                        </div>
                    </div>
                    <div class="mb-m">
                        <a class="os-none td-none td-underline--hover cursor-pointer fs-l color-blue fw-3 lh-m" href="#">Head of Design</a>
                        <div class="mt-xxs">
                            <span class="display-block fs-m lh-m color-steel">This might be used for a brief job description.</span>
                        </div>
                    </div>
                    <div class="mt-xl mb-l">
                        <h2 class="fs-xl lh-xxl bps-fs-xxl fw-3">Sales</h2>
                    </div>
                    <div class="mb-m">
                        <a class="os-none td-none td-underline--hover cursor-pointer fs-l color-blue fw-3 lh-m" href="#">Product Designer</a>
                        <div class="mt-xxs">
                            <span class="display-block fs-m lh-m color-steel">This might be used for a brief job description.</span>
                        </div>
                    </div>
                    <div class="mb-m">
                        <a class="os-none td-none td-underline--hover cursor-pointer fs-l color-blue fw-3 lh-m" href="#">Communication Designer</a>
                        <div class="mt-xxs">
                            <span class="display-block fs-m lh-m color-steel">This might be used for a brief job description.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
