<section class="bc-white pt-xl bps-pt-xxl pb-xl bps-pb-xxl clearfix ta-center">
    <div class="width-90 bps-width-75 bpm-width-50 bpl-width-40 clearfix horizontallyCenter">
        <div class="mb-m">
            <svg class="fill-black--limpid" width="96" height="96" viewBox="0 0 24 24">
                <path d="M6 17h3l2-4V7H5v6h3zm8 0h3l2-4V7h-6v6h3z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
        </div>
        <blockquote>
            <div class="mb-l">
                <p class="fs-xxl lh-xxl bps-fs-xxxl bps-lh-xxxxl fw-3 ls-s">"This is a really enthusiastic testimonial. It works best with 2-3 lines of text."</p>
            </div>
            <footer>
                <div class="display-inlineBlock va-middle mr-m">
                    <img class="br-circle width-xl" src="https://pbs.twimg.com/profile_images/659850401991098368/YgoZlpLE.png">
                </div>
                <div class="display-inlineBlock va-middle">
                    <span class="fs-m color-steel">Colm Tuite, Design at Marvel</span>
                </div>
            </footer>
        </blockquote>
    </div>
</section>
