<section class="position-relative bc-white pt-xl bps-pt-xxl pb-xl bps-pb-xxl clearfix ta-center">
    <div class="position-relative width-90 bps-width-75 bpm-width-50 bpl-width-40 clearfix horizontallyCenter height-100 zi-1">
        <div class="display-table height-100">
            <div class="display-tableCell va-middle">
                <blockquote>
                    <p class="fs-xxl lh-xxl bps-fs-xxxl bps-lh-xxxxl fw-3 ls-s">"This is a really enthusiastic testimonial with a huge quote icon behind it. It works best with 3-5 lines of text."</p>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="position-absolute pinTL height-100 width-100">
        <div class="display-table height-100 width-100">
            <div class="display-tableCell va-middle">
                <svg class="fill-black--limpid" width="192" height="192" viewBox="0 0 24 24">
                    <path d="M6 17h3l2-4V7H5v6h3zm8 0h3l2-4V7h-6v6h3z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                </svg>
            </div>
        </div>
    </div>
</section>
